<div class="hero-text centered" style="background-image:url('<%= image_path 'diversity_hero.jpeg' %>')">
  <div class="text">
    <h1><%= t('page.diversity.a_culture_of_inclusion').html_safe %></h1>
  </div>
</div>

<div class="container content-container">
  <h4 class="paragraph"><%= t('page.diversity.body1').html_safe %></h4>
  <h4 class="paragraph"><%= t('page.diversity.body2').html_safe %></h4>
</div>

<% content_for(:title) { t('page.diversity.title').html_safe } %>
<% content_for(:canonical_url) { "https://www.solasalonstudios.#{I18n.locale != :en ? 'ca' : 'com'}/diversity" } %>