<div class="hero-text centered" style="background-image:url('<%= image_path 'diversity_hero.jpg' %>')">
  <div class="text">
    <h2 style="color:#FFF;font-weight:bold;text-shadow:0 1px 5px rgba(0,0,0,0.5)"><%= t('page.diversity.a_culture_of_inclusion').html_safe %></h2>
  </div>
</div>

<div class="container content-container" style="margin-top:20px">
  <h4 class="paragraph"><%= t('page.diversity.body1').html_safe %></h4>
  <h4 class="paragraph"><%= t('page.diversity.body2').html_safe %></h4>
</div>

<% content_for(:title) { t('page.diversity.title').html_safe } %>
<% content_for(:canonical_url) { "https://www.solasalonstudios.#{I18n.locale != :en ? 'ca' : 'com'}/diversity" } %>