<div class="hero-text" style="height: 260px; background-image:url('<%= image_path 'About_Banner_1.jpg' %>')">
  <div class="text">
    <h1>Diversity</h1>
  </div>
</div>

<div class="container content-container">

</div>