<div class="hero-text centered" style="background-image:url('<%= image_path 'diversity_hero.jpeg' %>')">
  <div class="text">
    <h1>Diversity</h1>
  </div>
</div>

<div class="container content-container">

</div>