<!DOCTYPE html>
<html>
<head>
  <title>Pro</title>
  <%= stylesheet_link_tag    "pro/application", media: "all" %>
  <%= javascript_include_tag "pro/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
