.navbar-inner
  .container-fluid
    %a.brand.pjax{href: dashboard_path}
      = 'Sola Salon Studios'
      %small= 'Admin'
    .navbar-collapse
      = render partial: 'layouts/rails_admin/secondary_navigation'