<div class="container">
  <div style="margin: 30px">
    <img src="<%= @my_sola_image.generated_image.url(:original) if @my_sola_image && @my_sola_image.generated_image.present? %>" style="width: 100%; height: auto;" />
  </div>
</div>

<% @hide_og_type = true %>
<% content_for(:title) { @my_sola_image && @my_sola_image.statement_text.present? ? @my_sola_image.statement_text : "#MySola" } %>
<% content_for(:og_image) { @my_sola_image.generated_image.url(:funsize) if @my_sola_image && @my_sola_image.generated_image.present? } %>
<% content_for(:canonical_url) { "https://www.solasalonstudios.#{I18n.locale != :en ? 'ca' : 'com'}/mysola/#{@my_sola_image.public_id}" } %>