<div class="container">
	<%= react_component 'SearchBar', {
		date: DateTime.now,
		path: stylist_search_results_path,	
		gloss_genius_api_key: ENV['GLOSS_GENIUS_API_KEY'],
		gloss_genius_api_url: ENV['GLOSS_GENIUS_API_URL'],
	} %>
</div>

<% if Rails.env.test? %>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<% end %>

<% @body_class = 'sola-search' %>
<% content_for(:title) { t('page.search.search') } %>