.view-gallery {
  position: relative;
  text-align: center;
  margin-top: 40px;
  margin-bottom: -10px;
  height: 400px;

  background: asset-url('About_Banner_2.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &.ca {
    background: asset-url('About_Banner_2_CA.jpg') no-repeat center center;
  }

  .link {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: 0;
    right: 0;
  }
}

@media (max-width: 550px) {
  .view-gallery {
    height: 280px;
  }
  .founders-pic {
    margin-top: -45px;
    margin-bottom: 20px;
  }
}

@media (min-width: 550px) {
  .about-us {
    .nine.columns { 
      margin-left: 6%;
      width: 72%;
    }
  }
}

@media (max-width: 800px) {
  .about-us {
    .column, .columns {
      width: 100% !important;
      margin: 0 !important;
    }
  }
}