@import 'variables';
@import 'bootstrap/mixins';

.blog-post-summary, .blog-post-article {
  padding-bottom: 10px;
  border-bottom: 1px dashed #CECECE;
  margin-bottom: 50px;

  h4.large, .h4.large {
    margin-bottom: 8px !important;
    line-height: 29px;
  }

  .blog-contact-button {
    button.primary, input[type=button].primary, input[type=submit].primary, .button.primary, a.button.primary, a.button:link.primary, a.button:visited.primary, a.button:hover.primary, a.button:active.primary {
      padding: 15px 20px 13px 20px;
      float: right;
      margin-top: -58px;
    }
  }

  .contact-form {
    padding: 20px 15px;
    background: #F8F8F8;
    margin: 30px auto;
    max-width: 500px;
  }

  ul, ol {
    margin: 0px 0px 15px 30px;
    list-style-position: inside;

    li {
      font-size: 15px;
      line-height: 25px;
      color: #4A4A4A;
    }
  }

  ul {
    list-style-type: disc;
  }

  img.full-width {
    margin-bottom: 0;
  }

  h4 {
    margin-bottom: 5px !important;

    a, a:link, a:visited, a:hover, a:active {
      color: #000;
      font-size: 24px;
      line-height: 30px;
      text-decoration: none;
      display: inline-block;
    }

    a:hover, a:active {
      color: #7A7A7A;
    }
  }

  p.subtle {
    color: #9F9F9F;
    font-size: 11px;
    line-height: 15px;
    margin-bottom: 30px;
  }

  .summary {
    line-height: 26px;

    *, & {
      font-size: 15px !important;
      line-height: 25px !important;
      font-weight: 300;

      strong, strong em, strong u, strong i {
        font-weight: 600 !important;
      }
    }

    h1 {
      @include chalet_new_york;
      font-weight: bold !important;
      font-size: 27px !important;
      line-height: 31px !important;
      margin-bottom: 20px !important;
    }

    h2 {
      @include chalet_new_york;
      font-weight: bold !important;
      font-size: 23px !important;
      line-height: 27px !important;
      margin-bottom: 20px !important;
    }

    h3 {
      @include chalet_new_york;
      font-weight: bold !important;
      font-size: 19px !important;
      line-height: 23px !important;
      margin-bottom: 20px !important;
    }

    p, .p { 
      margin-bottom: 20px !important;
    }

    a, a:link, a:visited, a:hover, a:active {
      color: $brand-pink;
      font-weight: bold;
      text-decoration: none;
    }

    a:hover, a:active {
      color: $brand-pink-hover;
    }

    img {
      max-width: 100% !important;
      height: auto !important;

      &.left {
        margin: 7px 20px 0 0;
        float: left;
      }

      &.right {
        margin: 7px 0 0 20px;
        float: right;
      }
    }

    iframe {
      width: 100% !important;
      max-width: 100% !important;
    }
  }

  .share-socially {
    padding-bottom: 8px;
    border-bottom: 1px dashed #CECECE;

    h3 {
      margin: 0;
    }
  }

  ul.social {
    margin: 15px 0 0 0;
  }  
}

.related-articles {
  h3 {
    padding-bottom: 25px;
    margin-bottom: 35px;
    margin-top: 50px;
    border-bottom: 1px dashed #CECECE;
  }
  .related-blog {
    h4, p {
      @include transition(color .3s ease);
    }
    
    h4 {
      line-height: 25px;
      margin: 5px 0 10px 0;
    }

    a, a:link, a:visited, a:hover, a:active {
      text-decoration: none !important;
    }

    a:hover, a:active {
      h4, p {
      color: #BABABA !important;
      }
    }

    p.subtle {
      margin-bottom: 0;
    }
  }
}

.blog-list-picture {
  display: block;
  position: relative;
  margin-bottom: 20px;

  .blog-list-picture-overlay {
    z-index: 2;
    display: none;
    position: absolute;
    top: 0;
    bottom: 6px;
    left: 0;
    right: 0;
    background: rgba(74, 158, 209, 0.9);

    .large-button {
      display: block;
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      @include chalet_paris;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-size: 30px;
      color: #FFF;
      padding: 5px 15px;
      border: 1px solid #FFF;
      display: inline-block;
      width: 260px;
      height: 55px;
      margin-top: -27.5px;
      margin-left: -130px;
      text-align: center;
      white-space: nowrap;
    }
  }

  &:hover, &:active {
    .blog-list-picture-overlay {
      display: block;
    }
  }
}

.blog-post-article {
  margin-bottom: 20px;
  border-bottom: 0;

  .summary {
    p, li, th, td {
      -moz-osx-font-smoothing: subpixel-antialiased;
      -webkit-font-smoothing: subpixel-antialiased;
      font-smoothing: subpixel-antialiased;
    }
  }
}

.blog-post-image {
  margin-bottom: 20px !important;
}

.blog-select {
  margin-top: 0 !important;
}

.disqus-comments {
  margin-top: 30px;
}

#social-affix {
  position: fixed;
}

.mysola-posts-container {
  margin-top: 5px;
}

.mysola-blog-post-summary {
  .blog-list-picture {
    margin-bottom: 0px;
  }

  h4 {
    margin-bottom: 2px !important;

    a, a:link, a:visited, a:hover, a:active {
      font-size: 17px;
      color: #676767;
    }
  }
}

@media (max-width: 991px) {
  .blog-post-summary, .blog-post-article {

    .blog-contact-button {
      button.primary, input[type=button].primary, input[type=submit].primary, .button.primary, a.button.primary, a.button:link.primary, a.button:visited.primary, a.button:hover.primary, a.button:active.primary {
        float: none;
        margin-top: -10px;
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 550px) {
  .blog-post-summary, .blog-post-article {

    .blog-contact-button {
      button.primary, input[type=button].primary, input[type=submit].primary, .button.primary, a.button.primary, a.button:link.primary, a.button:visited.primary, a.button:hover.primary, a.button:active.primary {
        float: right;
        margin-top: -58px;
        margin-bottom: 20px;
      }
    }
  }

  .blog-post-summary ul.social, .blog-post-article ul.social {
    margin-bottom: 20px;
  }

  .blog-list-picture {

    .blog-list-picture-overlay {

      .large-button {
        font-size: 23px;
        width: 222px;
        height: 44px;
        margin-top: -22px;
        margin-left: -111px;
      }
    }
  }

  .blog-post-article {
    margin-top: -10px;
    margin-bottom: 0;
  }

  .blog-list-picture, .blog-post-image {
    margin-bottom: 5px !important;
  }

  .blog-post-summary, .blog-post-article {

    img {
      width: 100%;
      height: auto
    }
  }

  .related-articles {
    h3 {
      padding-bottom: 15px;
      margin-bottom: 25px;
      margin-top: 15px;
      border-bottom: 1px dashed #CECECE;
    }

    .related-blog {
      margin-bottom: 35px;
      border-bottom: 1px solid #E7E7E7;
      padding-bottom: 30px;
    }

    .one-third:last-child .related-blog {
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 20px;
    }
  }  
}