@import 'variables';
@import 'bootstrap/mixins';

.blog-post-summary, .blog-post-article {
  padding-bottom: 10px;
  border-bottom: 1px dashed #CECECE;
  margin-bottom: 50px;

  img.full-width {
    margin-bottom: 0;
  }

  h4 {
    a, a:link, a:visited, a:hover, a:active {
      color: #000;
      font-size: 24px;
      line-height: 32px;
      text-decoration: none;
      display: inline-block;
    }

    a:hover, a:active {
      color: #7A7A7A;
    }
  }

  p.subtle {
    color: #9F9F9F;
    font-size: 11px;
    line-height: 15px;
  }

  p.summary {
    line-height: 26px;

    a, a:link, a:visited, a:hover, a:active {
      color: $brand-pink;
      font-weight: bold;
      text-decoration: none;
    }

    a:hover, a:active {
      color: $brand-pink-hover;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .share-socially {
    padding-bottom: 20px;
    border-bottom: 1px dashed #CECECE;

    h3 {
      margin: 0;
    }
  }
}

.related-articles {
  h3 {
    padding-bottom: 25px;
    margin-bottom: 35px;
    margin-top: 50px;
    border-bottom: 1px dashed #CECECE;
  }
  .related-blog {

    a, a:link, a:visited, a:hover, a:active {
      text-decoration: none !important;
    }

    p.subtle {
      margin-bottom: 0;
    }
  }
}

.blog-list-picture {
  display: block;
  position: relative;
  margin-bottom: 20px;

  .blog-list-picture-overlay {
    z-index: 2;
    display: none;
    position: absolute;
    top: 0;
    bottom: 6px;
    left: 0;
    right: 0;
    background: rgba(74, 158, 209, 0.9);

    .large-button {
      display: block;
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      font-family: 'Dosis', Arial, sans-serif;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-size: 30px;
      color: #FFF;
      padding: 5px 15px;
      border: 1px solid #FFF;
      display: inline-block;
      width: 240px;
      height: 60px;
      margin-top: -30px;
      margin-left: -120px;
      text-align: center;
      white-space: nowrap;
    }
  }

  &:hover, &:active {
    .blog-list-picture-overlay {
      display: block;
    }
  }
}

.blog-post-article {
  margin-bottom: 20px;
  border-bottom: 0;
}

.blog-post-image {
  margin-bottom: 20px !important;
}

.blog-breadcrumb {
  margin-top: 5px;
}

.blog-select {
  margin-top: 0 !important;
}

.disqus-comments {
  margin-top: 30px;
}

#social-affix {
  position: fixed;
}


@media (max-width: 550px) {

  .blog-post-article {
    margin-top: -10px;
    margin-bottom: 0;
  }

  .blog-list-picture, .blog-post-image {
    margin-bottom: 5px !important;
  }

  .blog-post-summary h4, .blog-post-article h4 {
    margin-bottom: 10px;
  }

  .related-articles {
    h3 {
      padding-bottom: 15px;
      margin-bottom: 25px;
      margin-top: 15px;
      border-bottom: 1px dashed #CECECE;
    }

    .related-blog {
      margin-bottom: 35px;
      border-bottom: 1px solid #E7E7E7;
      padding-bottom: 30px;
    }

    .one-third:last-child .related-blog {
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 20px;
    }
  }  
}