@import 'variables';
@import 'mixins';
@import 'bootstrap/mixins';

button, input[type=button], input[type=submit], .button, a.button, a.button:link, a.button:visited, a.button:hover, a.button:active {
  @include chalet_london;
  font-size: 18px;
  line-height:24px;
  color: #000;
  border-radius: 0px;
  border: 2px solid #000;
  height: auto;
  padding: 16px 30px;
  text-transform: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  opacity: 1;

  // -moz-transition-property: none !important;
  // -webkit-transition-property: none !important;
  // -o-transition-property: none !important;
  // transition-property: none !important;

  @include transition(opacity 0.2s ease);

  &:link, &:visited {
    color: #000;
    text-decoration: none;
  }

  &:hover, &:active {
    color: #FFF;
    border: 2px solid transparent;
    @include gradient-vertical(lighten($brand-pink, 30%), $brand-pink);
  }

  &.inverted {
    border: 2px solid #FFF;
    color: #FFF !important;
  }

  &.primary {
    border-radius: 4px;
    border: 0 solid transparent;
    padding: 19px 20px 17px 20px;
    background: $brand-pink;
    color: #FFF !important;
    @include gradient-horizontal(#FD6DC8, #ED0F8B);
    margin-bottom: 30px;

    &:hover, &:active {
      color: #FFF !important;
      @include gradient-horizontal(#FD6DC8, #ED0F8B);
      opacity: 0.5;
    }  
  }

  &.outline-large-white, &.outline-large-white:hover, &.outline-large-white:active, &.outline-large-white:focus {
    padding: 15px 20px 13px 20px;
    background: #FFF;
    border: 2px solid #DBDBDB;  
    border-radius: 4px;
    text-transform: none;
    letter-spacing: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include chalet_new_york;
    color: #000000; 
    font-size: 18px;  
    line-height: 18px;  
    text-align: center;
  }

  &.outline-large-white:hover, &.outline-large-white:active, &.outline-large-white:focus {
    opacity: 0.5;
  }

  &.small-text, &.small-text:hover, &.small-text:active, &.small-text:focus {
    font-size: 14px;  
    line-height: 16px;  
  }

  &.outline-small-white:hover, &.outline-small-white:active, &.outline-small-white:focus {
    opacity: 0.56;
  }

  &.rounded, &.rounded:link, &.rounded:visited {
    border: 0;
    background: #EDEDED !important;
    font-weight: bold;
    color: #7F7F7F !important;
    text-transform: none;
    letter-spacing: 0;
    font-size: 17px;
    line-height: 17px;
    border-radius: 40px;
    padding: 12px 28px;
    width: 150px;
    max-width: 150px;

    &.rounded:hover, &.rounded:active {
      color: darken(#7F7F7F, 10%) !important;
      background: darken(#EDEDED, 10%) !important;
    }

    &.primary {
      color: #FFF !important;
      background: $brand-pink !important;

      &:hover, &:active {
        color: #FFF !important;
        background: darken($brand-pink, 10%) !important;
      }
    }

    &.active {
      color: #FFF !important;
      background: $brand-primary !important;

      &:hover, &:active {
        color: #FFF !important;
        background: darken($brand-primary, 10%) !important;
      }
    }
  }

  &.rounded-play-button {
    position: relative;
    @include border-radius(28px);
    padding: 18px 62px 18px 24px;
    height: 56px;

    .fa {
      position: absolute;
      top: 50%;
      margin-top: -13px;
      right: 14px;
      font-size: 28px;
    }
  }

  &.block {
    display: block;
    width: 100%;
  }

  &.long-text {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

}

a.book-now-button, a.book-now-button:link, a.book-now-button:visited, a.book-now-button:hover, a.book-now-button:active {
  @include chalet_new_york;
  font-size: 16px;
  height: 44px !important;
  padding: 12.5px 20px !important;
  margin-right: 15px;
  top: 11px;
  position: relative;  

  &.solagenius-button {
    @include gradient-horizontal($brand-primary, $brand-pink);
  }
}

.request-franchising-info {
  margin-top: 5px;
}