@import 'variables';

.callout {
  font-family: 'Dosis', Arial, sans-serif;
  font-weight: 300;
  display: block;
  clear: both;
  width: 100%;
  padding: 60px;
  text-align: center;
  font-size: 29px;
  line-height: 33px;

  .quote-author {
    font-size: 17px;
    font-weight: 400;
  }

  &.blue {
    background: $brand-blue;
    color: #FFF;
  }
}