.owl-carousel {

  img {
    width: 100% !important;
  }

  &.salon-professional {
    .arrow-left {
      width: 49px;
      height: 49px;
      margin-top: -24.5px;

      left: 1px;
      background: #FFF asset-data-url('Left_Inactive@2x.png') no-repeat center;
      background-size: 49px 49px;

      &:hover, &:active {
        background: #FFF asset-data-url('Left_Active@2x.png') no-repeat center;
        background-size: 49px 49px;
      }
    }

    .arrow-right {
      width:49px;
      height: 49px;
      margin-top: -24.5px;

      right: 1px;
      background: #FFF asset-data-url('Right_Inactive@2x.png') no-repeat center;
      background-size: 49px 49px;

      &:hover, &:active {
        background: #FFF asset-data-url('Right_Active@2x.png') no-repeat center;
        background-size: 49px 49px;
      }
    }
    .item {
      text-align: center;
    }
    
    img {
      width: auto !important;
    }
  }
}

ul.owl-carousel {
  margin: 0 0 40px 0;
  list-style: none;

  li {
    margin: 0;
  }
}

@media (max-width: 550px) {

  .owl-carousel {

    img {
      height: auto !important;
      width: 100% !important;
    }

    &.salon-professional { 
      .arrow-right {
        right: 0;
      }
      .arrow-left {
        left: 0;
      }
      img {
        max-width: 100% !important;
        height: auto !important;
      }
    }
  }



}