.owl-carousel {

  img {
    width: 100% !important;
  }

  &.salon-professional, &.salon-carousel {
    background: #000;

    .arrow-left {
      width: 49px;
      height: 49px;
      margin-top: -24.5px;

      left: 1px;
      background: asset-data-url('Left_Arrow@2x.png') no-repeat center;
      background-size: 49px 49px;

      &:hover, &:active {
        background: asset-data-url('Left_Arrow@2x.png') no-repeat center;
        background-size: 49px 49px;
      }
    }

    .arrow-right {
      width:49px;
      height: 49px;
      margin-top: -24.5px;

      right: 1px;
      background: asset-data-url('Right_Arrow@2x.png') no-repeat center;
      background-size: 49px 49px;

      &:hover, &:active {
        background: asset-data-url('Right_Arrow@2x.png') no-repeat center;
        background-size: 49px 49px;
      }
    }

    .item {
      text-align: center;
    }
    
    img {
      width: auto !important;
    }
  }
}

ul.owl-carousel {
  margin: 0 0 40px 0;
  list-style: none;

  li {
    margin: 0;
  }
}

.salon-pro-carousel {
  .item {
    height: 420px;
    text-align: center;

    img {
      max-height: 420px !important;
      width: auto !important;
      margin: auto;
      display: inline-block;
      vertical-align: middle;
    }    
  }

  .item:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.salon-carousel {
  .item {
    height: 495px;
    text-align: center;

    img {
      max-height: 495px !important;
      width: auto !important;
      margin: auto;
      display: inline-block;
      vertical-align: middle;
    }    
  }

  .item:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}


@media (max-width: 550px) {

  .owl-carousel {

    &.salon-carousel {
      margin: 30px 0 -30px 0;
      
      .item {
        height: 285px;
      }
     
    }

    &.salon-professional { 
      .arrow-right {
        right: 0;
      }
      .arrow-left {
        left: 0;
      }
      .item {
        height: 285px;
        img {
          max-height: 285px !important;
          max-width: 100% !important;
          height: auto !important;
        }
      }

    }
  }

}