.owl-carousel {

  img {
    width: 100% !important;
  }

  &.salon-professional {
    .item {
      text-align: center;
    }
    
    img {
      width: auto !important;
    }
  }
}

ul.owl-carousel {
  margin: 0 0 40px 0;
  list-style: none;

  li {
    margin: 0;
  }
}

@media (max-width: 550px) {

  .owl-carousel {

    img {
      height: auto !important;
      width: 100% !important;
    }
  }

}