#contact-us-states {

  .select-a-location {
    display: none;
  }
}

#contact-us-info {

  .contact-us-info {
    display: none;
  }
}

.contact-us-form {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 45px;
  background: asset-data-url('contact_bg.jpg') no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .wrapper {
    padding: 50px;
    background: #FFF;
  }

  input, textarea {
    width: 100%;
    margin: 0 0 7px 0;

    background: #FBFBFB;
    border: 1px solid #DBDBDB;
    padding: 25px 15px;
    margin-bottom: 10px;    
  }

  textarea {
    height: 150px;
    padding: 15px;
  }

  button {
    margin-top: 15px;
    margin-bottom: 0;
  }
}