@import 'variables';
@import 'bootstrap/mixins';

.country-switcher {
  position: relative;
  width: 140px;

  &:hover, &:active {
    .name, .dropdown-arrow {
      opacity: 0.5;
    }
  }

  .country {
    overflow: hidden;
    padding: 8px 16px 4px 16px;
    cursor: pointer;
    white-space: nowrap;

    &:hover, &:active {
      .name, .dropdown-arrow {
        color: #FFF !important;
        opacity: 0.5;
      }
    }

    .name {
      position: relative;
      top: -2px;
      margin: 0 7px 0 7px;
      display: inline-block;
      float: left;
      color: #FFF;
      font-size: 11px;
      font-weight: bold;   
      @include transition(opacity 0.15s ease-in-out);
      opacity: 1;
    }
    
    .flag {
      display: inline-block;
      float: left;
      width: 20px;
      height: 12px;

      &.usa {
        background: asset-data-url('Flags/usa.gif') no-repeat center;
        background-size: 20px 12px;
      }

      &.canada {
        background: asset-data-url('Flags/canada.gif') no-repeat center;
        background-size: 20px 12px;
      }

      &.brazil {
        background: asset-data-url('Flags/brazil.gif') no-repeat center;
        background-size: 20px 12px;
      }
    }
  }

  &.country-switcher-modal {
    display: none;
    position: absolute;
    @include box-shadow(1px 1px 3px rgba(0,0,0,0.2));
    z-index: 9999999;

    .country {
      background: #FFF;
      overflow: hidden;
      padding: 10px 15px 5px 15px;
      //height: 45px;

      // &.first {
      //   margin-top: 12px;
      // }

      // &.last {
      //   margin-top: -12px;
      // }

      .name {
        color: #111;
        @include transition(color 0.15s ease-in-out);
        opacity: 1;
      }

      &:hover, &:active {
        .name {
          color: $brand-primary !important;
          opacity: 1 !important;
        }
      }
    }
  }

  .dropdown-arrow {
    position: absolute;
    top: 13px;
    right: 13px;
    display: block;
    background: asset-data-url('down-arrow-white-nav1.png') no-repeat center;
    background-size: 7px 4px;
    width: 7px;
    height: 4px;
    pointer-events: none;
    @include transition(opacity 0.15s ease-in-out);
    opacity: 1;    
  }

}