@import 'mixins';
@import 'variables';

h2.faq-question {
  line-height: 32px;
  margin: 40px 0;
  padding-top: 40px;
  border-top: 1px dashed #DDDDDD;
  cursor: pointer;
  
  &.active, &:hover, &:active {
    color: $brand-pink;
  }
}

.faq-answer {
  display: none;
  margin: 0;

  p, ul, ol, li {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 19px;
    font-weight: 400;
    color: #4A4A4A;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
