@import 'variables';
@import 'bootstrap/mixins';


.financialguide {
	
	.giant-video-button-wrapper {
      position: relative;
      text-decoration: none;

      .text {
        position: absolute;
        bottom: -55px;
        width: 300px;
        margin-left: -150px;
        left: 50%;
        text-align: center;
      }


    .giant-video-btn {
      background: #FFF !important;
      width: 69px !important;
      height: 69px !important;
      text-transform: uppercase;
      border-radius: 40px;
      margin: 0 auto;
      text-decoration: none;

      .fa-play {
        line-height: 23px !important;
        font-size: 23px !important;
        color: $brand-pink !important;
        position: relative;
        top: 24px;
        left: 4px;
        display: inline-block !important;
      }
    }

       .text {
        // position: absolute;
        // bottom: -30px;
        // left: -11px;
        @include helvetica;
        font-size: 15px !important;
        line-height: 21px !important;
        font-weight: 300 !important;
        color: #FFF !important;
        display: block;
        white-space: nowrap !important;
        word-spacing: 1px;
        letter-spacing: 1px;
      }   
  }

	.logo {margin: 0 auto; padding-top:5px; text-align: center;display: block;}
	.logo a{}
	.logo a img{width: 133px;
    height: 81px;}

	/*--header starts here--*/
	.header{
	  height: 92px;

	  background: #72C4E7; /* For browsers that do not support gradients */
	  background: -webkit-linear-gradient(left, #72C4E7, #459DD3); /* For Safari 5.1 to 6.0 */
	  background: -o-linear-gradient(right, #72C4E7, #459DD3); /* For Opera 11.1 to 12.0 */
	  background: -moz-linear-gradient(right, #72C4E7, #459DD3); /* For Firefox 3.6 to 15 */
	  background: linear-gradient(to right, #72C4E7, #459DD3); /* Standard syntax */
	}
	//.header-in{padding: 23px 0;}

	/*--header ends here--*/
	/*--banner starts here--*/
	/*--Salon starts here--*/
	.Salon{background: asset_url('https://solasalonstudios.s3.amazonaws.com/covid_2020/covidhero.png') center no-repeat;width: 100%;background-size: cover;height: auto;}
	.Salon-in-lft {display: flex;padding: 60px 0px 127px 0px !important;}
	.Salon-in-lft figure{}
	.Salon-in-lft figure img{}
	.Salon-in-lft-in {
		justify-content: center;
    display: flex;
    flex: 1;
    align-items: center;
	}
	.Salon-cont{max-width: 900px;margin: 0 auto;}
	.Salon-cont h1{margin-top: 120px;font-size: 31px;line-height: 37px;color: #fff;@include chalet_new_york;letter-spacing: 0.6px;width: 100%;}
	.Salon-cont h2{font-size: 15px;line-height: 15px;color: #fff;@include chalet_new_york;letter-spacing: 0.6px;margin-top: 90px;}
	.Salon-cont {
		h1, h2 {
			text-align: center;

			a, a:link, a:visited, a:hover, a:active {
				color: #FFF;
				text-decoration: none;
			}
			
			// a:hover, a:active {
			// 	text-decoration: underline;
			// }
		}
	}
	//.Salon-in-rgt{ text-align: right;}
	.Salon-in-rgt-blk{}
	.Salon-in-rgt-blk {}
	.Salon-in-rgt img{ position: relative; z-index: 9; max-height: 380px; width: auto; margin: 30px 0 40px 0;}
	.Salon-in-rgt-blk{position: relative;max-width: 462px;margin: 0 auto;margin-top: 35px;}
	// .Salon-in-rgt-blk figure:after{content: "";width: 117px;height: 117px;background: rgba(189,225,251,1);background: -moz-linear-gradient(top, rgba(189,225,251,1) 0%, rgba(189,225,251,1) 25%, rgba(159,213,255,1) 100%);background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(189,225,251,1)), color-stop(25%, rgba(189,225,251,1)), color-stop(100%, rgba(159,213,255,1)));background: -webkit-linear-gradient(top, rgba(189,225,251,1) 0%, rgba(189,225,251,1) 25%, rgba(159,213,255,1) 100%);background: -o-linear-gradient(top, rgba(189,225,251,1) 0%, rgba(189,225,251,1) 25%, rgba(159,213,255,1) 100%);background: -ms-linear-gradient(top, rgba(189,225,251,1) 0%, rgba(189,225,251,1) 25%, rgba(159,213,255,1) 100%);background: linear-gradient(to bottom, rgba(189,225,251,1) 0%, rgba(189,225,251,1) 25%, rgba(159,213,255,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bde1fb', endColorstr='#9fd5ff', GradientType=0 );position: absolute;bottom: 20px;left: -16px;border-radius: 11px;z-index: -1;}
	// .Salon-in-rgt-blk figure:before{content: "";width: 300px;height: 192px;background:#5f99d0;position: absolute;top: -40px;border-radius: 0 0 5px 5px;right: 38px;z-index: -1;}
	/*--Salon ends here--*/
	/*--banner ends here--*/
	/*-- main starts here--*/
	.main-cont{position: relative;}
	.main-cont:before{content: "";width: 300px;height: 192px;background:asset_url('') repeat-y;position: absolute;top: -23px;left: 0px;z-index: -1;width: 239px;height: 1809px;}
	/*-- Curious starts here--*/
	.Curious{}
	.Curious-in{padding: 20px 24px 20px 41px;}
	.Curious-in ul{list-style: disc;}
	.Curious-in ul li {font-size: 20px;line-height: 32px;color: #555555;letter-spacing: 0px;vertical-align: middle; @include chalet_new_york;}
	/*-- Curious ends here--*/
	/*-- guide starts here--*/
	.guide{}
	.guide-in{}
	.guide-in-lft{}
	.guide-in-lft h3{font-size: 33px;line-height: 39px;color: #555555;@include chalet_new_york;padding: 0 0 27px 0;letter-spacing: 0.1px; white-space: nowrap;}
	.guide-in-lft p{font-size: 18px;line-height: 29px;color: #3B3B3B;@include chalet_paris;letter-spacing: 0.0px;-webkit-font-smoothing: subpixel-antialiased;-moz-osx-font-smoothing: subpixel-antialiased;}
	.guide-in-lft span{font-size: 22px;line-height: 29px;color: #489AD5;@include chalet_new_york;padding: 0 0 50px 0;letter-spacing: -0.2px;display:block;margin-top: 0px;}
	.guide-in-lft ul{padding: 8px 0px 28px 15px;list-style: disc;}
	.guide-in-lft ul li{@include chalet_new_york;font-size: 18px;line-height: 29px;color:#3B3B3B;letter-spacing: -0.2px;}
	.guide-in-lft small{font-size: 20px;line-height: 20px;color: #5f99d0;@include chalet_london;}
	// .guide-in-rgt{min-height: 571px;border: 2px solid #7b7b7b;}
	/*-- guide ends here--*/
	/*--perks starts here--*/
	.perks{position: relative;}
	.perks:after{content: "";position: absolute;top: -137px;left: 0px;background: asset_url('goingindependent/color-border.png');width: 95px;height:267px;}
	.perks-in{padding: 81px 0 21px 0;text-align: center;}
	.perks-in h3{font-size: 30px;line-height: 39px;color: #000;font-weight: 500;  font-family: 'Chalet-ParisNineteenSixty';padding: 0 0 13px 0;letter-spacing: -0.2px;}
	.perks-in p{font-size: 18px;line-height: 20px;color:#7b7b7b;font-weight: 600;font-family: 'Chalet-NewYorkNineteenSixty'; font-family: 'Chalet-ParisNineteenSixty';letter-spacing: 0px;;}
	.perks-cont{}
	.perks-cont ul{padding: 0 0 12px 0;}
	.perks-cont ul li{width: 33.33%;padding: 0 16px 0 13px;}
	.perks-blk{}
	.perks-blk figure{}
	.perks-blk figure img{object-fit: cover;cursor: pointer;width: 100%;}
	.perks-blk p{font-size: 12px;line-height: 22px;color:#7b7b7b;font-weight: 400;padding: 13px 0 0 0;letter-spacing: 0.1px;}
	/*-- perks ends here--*/
	/*--hashtag starts here--*/
	.hashtag{background: #f8f8f8;margin-top:10px;}
	.hashtag-in{padding: 50px 0 42px 0;}
	.hashtag-in .fa {    
		font-weight: bold;
    font-size: 15px;
  }
	.hashtag-in a, .hashtag-in a:link, .hashtag-in a:visited, .hashtag-in a:hover, .hashtag-in a:active {box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);background: rgba(251,166,225,1);
	background: -moz-linear-gradient(top, rgba(251,166,225,1) 0%, rgba(236,113,195,1) 0%, rgba(253,137,214,1) 0%, rgba(233,63,171,1) 66%, rgba(233,63,171,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251,166,225,1)), color-stop(0%, rgba(236,113,195,1)), color-stop(0%, rgba(253,137,214,1)), color-stop(66%, rgba(233,63,171,1)), color-stop(100%, rgba(233,63,171,1)));
	background: -webkit-linear-gradient(top, rgba(251,166,225,1) 0%, rgba(236,113,195,1) 0%, rgba(253,137,214,1) 0%, rgba(233,63,171,1) 66%, rgba(233,63,171,1) 100%);
	background: -o-linear-gradient(top, rgba(251,166,225,1) 0%, rgba(236,113,195,1) 0%, rgba(253,137,214,1) 0%, rgba(233,63,171,1) 66%, rgba(233,63,171,1) 100%);
	background: -ms-linear-gradient(top, rgba(251,166,225,1) 0%, rgba(236,113,195,1) 0%, rgba(253,137,214,1) 0%, rgba(233,63,171,1) 66%, rgba(233,63,171,1) 100%);
	background: linear-gradient(to bottom, rgba(251,166,225,1) 0%, rgba(236,113,195,1) 0%, rgba(253,137,214,1) 0%, rgba(233,63,171,1) 66%, rgba(233,63,171,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fba6e1', endColorstr='#e93fab', GradientType=0 );width: 165px;height: 36px;border: none;border-radius: 5px;text-align: center;margin: 0 auto;display: block;font-size: 14px;line-height: 16px;color:#fff;font-weight: 600;padding: 1px 0 0 0;letter-spacing: 0.1px;font-family: 'Lato', Arial, sans-serif;
	padding: 10px 0 0 0;
	text-decoration: none;
	}
	.hashtag-in  a{margin: 0 13px 0 0;}
	.hashtag-in  a img{ position: relative; top: -2px; left: -6px;}
	.hashtag-in p{font-size: 21.02px;line-height: 32px;color:#7b7b7b;font-weight: 400;padding: 18px 0 0 0;letter-spacing: -0.1px;margin: 0 auto;max-width: 440px;text-align: center;}
	.hashtag-in p span{@include chalet_london;font-weight: 600;}
	/*-- hashtag ends here--*/
	/*--watch starts here--*/
	.watch{position: relative; margin-bottom: -41px;}
	.watch-in{position: absolute;top: 50%;left: 0px;text-align: center;right: 0px;margin: 0 auto;z-index: 9;transform: translateY(-50%);-o-transform: translateY(-50%);-ms-transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);}
	// .watch-in a{}
	// .watch-in a img{}
	// .watch-in p{font-size: 13.02px;line-height: 19px;color: #fff;font-weight: 400;padding: 13px 0 0 0;letter-spacing: -0.4px;margin: 0 auto;max-width: 190px;font-family: Helvetica, Arial, sans-serif;}
	// .watch-in span{font-size: 12.02px;line-height: 15px;color: #fff;font-weight: 400;padding: 13px 0 0 0;letter-spacing: -0.4px;margin: 0 auto;max-width: 177px;font-family: 'Lato', sans-serif;display: none;}
	/*-- watch ends here--*/
	/*-- main ends here--*/
	/*--footer starts here--*/
	/*--footer ends here--*/

	.body-content {
		background: transparent;
	}
	.contact-form {
		background: #f8f8f8;
		padding: 30px 20px;
	}
	.sola-benefits {
		h2 {
			@include chalet_paris;
			font-size: 36px;
    	line-height: 40px;
    	font-weight: 300;
		}
		p {
			font-family: Helvetica, Arial, sans-serif;
	    font-style: normal;
	    font-weight: 400;
	    font-size: 17px;
	    line-height: 31px;
	    font-weight: 300;
	    color: #4A4A4A;
		}
	}
	.whitepaper-mobile {
		display: none;
	}
}

@media (max-width: 1275px) { 
	.financialguide {
		.watch-in {
			top: 46%;
		}
		.Salon-in-rgt img {
			max-height: 333px;
			right: -90px;
		}
	}
}

@media (max-width: 1100px) { 
	.financialguide {
		.watch-in {
			top: 46%;
		}
		.Salon-in-rgt img {
			max-height: 280px;
			right: -120px;
		}
	}
}

@media (max-width: 1000px) { 
	.financialguide {
		.header {
	    height: 70px;

	    .logo  {
	      width: 88.67px;
	      display: block;
	      margin: 0 auto;
	      padding-top: 0;

	      img {
	        margin-top: 8px;
	        width: 88.67px;
	        height: 54px;
	      }
	    }
	  }

		.Salon-in-rgt img {
			max-height: 240px;
			right: -200px;
		}

	  // .whitepaper-mobile {
	  // 	display: inline-block;
	  // 	margin: 0 auto;
	  // }

	  .main-cont:before {
	  	background: transparent;
	  } 
	}
}

@media (max-width: 900px) {
	.financialguide {
		.Salon {
	  	background: #9dd5ff url(https://solasalonstudios.s3.amazonaws.com/covid_2020/covidhero.png) center no-repeat;
	  	background-size: cover;
	  	width: auto;
	  	height: 400px;
	  }

	  .Salon-cont {
	  	padding: 20px;
	  	margin: 0 auto;
	  	right: 0px;
    	position: relative;
    	margin-top: -120px;
    	  }

	  .Salon-cont h1 {
	  	width: auto;
	  	font-size: 34px;
	  	line-height: 38px;
	  	text-align: left !important;
	  }

	  .Salon-cont h2 {
	  	margin-top: 20px;
	  	font-size: 18px;
	  	line-height: 29x;
	  	max-width: 100%;
	  	text-align: left !important;
	  }

	  .Salon-in-lft {
	  	display: block;
    	max-width: 100%;
    	margin: 0 auto;
	  }

	  .Salon-in-rgt {
	  	display: none;
	  }
	}
}

@media (max-width: 700px) {
	.financialguide {
		.contact-form {
			margin-top: -20px;
		}
		
		.Salon {
	  	background: #9dd5ff url(https://solasalonstudios.s3.amazonaws.com/covid_2020/covidhero.png) center no-repeat;
	  	background-size: cover;
	  	padding: 0px;
	  	width: auto;
	  	height: 400px;
    	text-align: left;
	  }

	  .Salon-cont {
	  	max-width: 100%;
	  	right: 0;
	  	margin-top: -140px;
	  }

		.Salon-in-lft-in {
			padding: 0px 0;
		}
		.sola-benefits {
			margin-top: 0px;
			padding-top: 30px;

			p {
				margin-bottom: 20px;
			}
		}
		.sola-benefits .benefit-tile .title {
			font-size: 14px;
		}
		.hashtag-in p {
			font-size: 14px;
			line-height: 20px;
		}
		.watch-in {
			margin-top: -15px;
			zoom: 0.8;
		}
		.watch .u-full-width {
			height: auto;
			width: 100%;
			position: relative;
			//left: -75px;
		}
	}
}