@import 'variables';

#footer {
  border-top: 1px solid $gray-lighter;

  .row.first {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: stretch;
    border-bottom: 1px solid $gray-lighter;
  }

  .one-third {
    margin: 0 !important;
    padding: 50px;

    &.first {
      width: 25%;
      padding-left: 0;
    }
    &.second {
      border-left: 1px solid #E6E6E6;
      border-right: 1px solid #E6E6E6;
      width: 43%;
    }
    &.third {
      width: 32%;
      padding-right: 0;
    }
  }

  ul {
    list-style: none;
    margin: 0;

    li {
      margin-bottom: 0;
    }

    a {
      display: inline-block;
      color: #4A4A4A;
      text-decoration: none;
      padding: 2px 0;
    }
  }

  p {
    margin: 0;
  }

  .row.second {
    padding: 30px 0;
  }

  .newsletter-sign-up {
    margin: 10px 0 -5px 0;
    overflow: hidden;

    input, button {
      position: relative;
      top: 0;
      font-size: 12px;
      height: 40px;
      border: 1px solid #DBDBDB;
      background: #FBFBFB;
      margin: 0;
      border-radius: 0;
      display: block;
      float: left;

      &:focus, &:active {
        border: 1px solid $brand-blue;
      }
    }

    input {
      margin-right: 0;
      width: 75%;
    }

    button {
      text-align: center;
      width: 25%;
      background: #FFF;
      font-family: 'Lato', Arial, sans-serif;
      padding: 5px 15px;
      text-transform: none;
      letter-spacing: 0px;
      font-size: 13px;
      border-left: 0;

      &:hover, &:active {
        color: #000;
      }
    }
  }

  ul.social {
    overflow: hidden;
    margin-top: 30px;
    border: 1px solid #DBDBDB;

    li {
      margin: 0;
      display: block;
      float: left;
      width: 25%;
      text-align: center;
      border-right: 1px solid #DBDBDB;

      
      &:last-child {
        border-right: 0;
      }

      a, a:link, a:visited, a:hover, a:active {
        padding: 5px 0;
        margin: 0;
        background: #FFF;
        display: block;
        font-size: 20px;
        color: #000;

        span {
          position: relative;
          top: 2px;
        }
      }
    }
  }
}

@media (max-width: 925px) {
  
  #footer {

    .row.first {
      display: block;
    }

    ul.p {
      margin-top: -5px;

      &.last {
        margin-top: 0;
      }
      
      a {
        padding: 5px 0;
      }
    }

    .one-third.column {
      display: block;
      clear: both;

      &.first, &.second, &.third {
        padding: 30px 0;
        display: block;
        width: 100% !important;
        border: 0;
        border-bottom: 1px solid #E6E6E6;
      }

      &.third {
        border-bottom: 0;
      }
    }

  }
}