@import 'variables';

#footer {
  border-top: 1px solid $gray-lighter;
  margin: 30px 0;

  .row.first {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $gray-lighter;
  }

  .one-third {
    margin: 0;
    padding: 30px 60px;

    &.first {
      width: 27%;
      padding-left: 0;
    }
    &.second {
      border-left: 1px solid #E6E6E6;
      border-right: 1px solid #E6E6E6;
      width: 40%;
    }
    &.third {
      width: 33%;
      padding-right: 0;
    }
  }

  ul {
    list-style: none;

    li {
      margin-bottom: 0.25rem;
    }

    a {
      color: #4A4A4A;
      text-decoration: none;
    }
  }

  .row.second {
    padding: 30px 0;
  }
}