@import 'variables';
@import 'bootstrap/mixins';
@import 'mixins';

#footer {
  border-top: 1px solid $gray-lighter;

  h4 {
    @include chalet_new_york;
    margin-bottom: 20px;
    color: #000;
    font-size: 18px;
    line-height: 24px;
  }

  .row-first {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: stretch;
    border-bottom: 1px solid $gray-lighter;
  }

  .footer-col {
    padding: 50px 20px 20px 20px;
    width: 24%;
  }

  ul {
    list-style: none;
    margin: -5px 0 0 0;

    li {
      font-size: 13px;
      line-height: 17px;
      margin-bottom: 0;
      -moz-osx-font-smoothing: auto; //antialiased
      -webkit-font-smoothing: auto; //antialiased
      font-smoothing: auto; //antialiased
    }

    a {
      display: inline-block;
      color: #4A4A4A;
      text-decoration: none;
      padding: 7px 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      &:hover, &:active {
        color: #BABABA;
      }
    }
  }

  p {
    font-family: Helvetica, Arial, sans-serif;
    -moz-osx-font-smoothing: auto; //antialiased
    -webkit-font-smoothing: auto; //antialiased
    font-smoothing: auto; //antialiased
    font-size: 13px;
    line-height: 17px;
    margin: 0 0 15px 0;
    color: #000;
  }

  .row-second {
    padding: 30px 0;
  }
}

@media (min-width: 926px) {
  #footer {
    .footer-col {
      &:nth-of-type(2) {
        border-left: 1px solid #E6E6E6;
        border-right: 1px solid #E6E6E6;
      }
      &:nth-of-type(3) {
        border-right: 1px solid #E6E6E6;
      }
    }
  }
}

@media (max-width: 925px) {
  #footer {
    .row-first {
      display: block;
    }

    .footer-col {
      width: 49%;
      border-bottom: 1px solid #E6E6E6;
    }

    ul.p {
      &.last {
        margin-top: 0;
      }
    }
  }
}

@media (max-width: 550px) {
  #footer {
    .footer-col {
      width: 100%;

      &:nth-of-type(2) {
        border-top: 1px solid #E6E6E6;
        border-bottom: 1px solid #E6E6E6;
      }
      &:nth-of-type(3) {
        border-bottom: 1px solid #E6E6E6;
      }
    }
  }
}