input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #FBFBFB;
  border: 1px solid #DBDBDB;
  border-radius: 0px;
  box-shadow: none;
  box-sizing: border-box; 
  font-size: 14px;

  &.large {
    padding: 30px 15px;
  }
  
  &.full-width {
    width: 100%;
  }
}