input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  font-family: 'Lato', Arial, sans-serif;
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #FBFBFB;
  border: 1px solid #DBDBDB;
  border-radius: 0px;
  box-shadow: none;
  box-sizing: border-box; 
  font-size: 14px;

  &.large {
    padding: 30px 15px;
  }
  
  &.full-width {
    width: 100%;
  }
}

.sola-select {
  margin-top: 1px;
  margin-left: 60px;
  position: relative;

  &.form {
    margin: 0 0 15px 0;
  }

  .option-placeholder {
    cursor: pointer;
    display: block;
    float: left;
    border: 1px solid #DBDBDB;
    text-align: left;
    padding: 17px 20px;

    width: calc(100% - 60px);
    height: 50px;

    h3 {
      margin: 0;
    }
  }

  .arrow {
    cursor: pointer;
    display: block;
    float: left;

    border: 1px solid #DBDBDB;
    border-left: 0;
    padding: 12px 0;

    width: 60px;
    height: 50px;

    text-align: center;


    span {
      vertical-align: middle;
      font-size: 10px;
    }
  }  

  .options {
    display: none;

    position: absolute;
    top: 49px;
    left: 0;
    right: 60px;
    z-index: 9;

    background: #FFF;
    border: 1px solid #DBDBDB;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    max-height: 200px;
    padding: 12px;
  }

  .option {
    cursor: pointer;
    display: block;
    clear: both;
    text-decoration: none;
    padding: 8px;
    text-align: left;
    font-weight: bold;
    font-size: 14px;

    &:hover, &:active {
      color: #000;
      background: #efefef;
    }
  }


}

@media (max-width: 550px) {
  
  .sola-select {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 15px;
  }
}