@import 'variables';
@import 'mixins';
@import 'bootstrap/mixins';

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  font-family: 'Lato', Arial, sans-serif;
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #FBFBFB;
  border: 1px solid #DBDBDB;
  border-radius: 0px;
  box-shadow: none;
  box-sizing: border-box; 
  font-size: 14px;

  &.large {
    padding: 30px 15px;
  }
  
  &.full-width {
    width: 100%;
    height: auto;
  }

  &:-webkit-placeholder {
    color: #AAAAAA;
  }
  &:-moz-placeholder {
    color: #AAAAAA;
  }
  &:placeholder {
    color: #AAAAAA;
  }  
}

.sola-select {
  // margin-top: 1px;
  // margin-left: 60px;
  top: -10px;
  position: relative;
  display: inline-block;
  border: 2px solid #DBDBDB;
  @include border-radius(4px);
  //min-width: 225px;
  //max-width: 200px;
  // @include transition(opacity 0.15s ease-in-out);
  // opacity: 1;
  background: #FFF;

  &.form {
    margin: 0 0 15px 0;
  }

  .option-placeholder {
    cursor: pointer;
    display: block;
    float: left;
    text-align: left;
    width: calc(100% - 45px);
    height: 45px;
    padding: 15px 45px 15px 15px;
    text-transform: capitalize;

    h3 {
      margin: 0;
      @include chalet_new_york;
      font-size: 14px;  
      line-height: 16px;
      white-space: nowrap;
      text-overflow: visible;
    }
  }

  .arrow {
    cursor: pointer;
    // display: block;
    // float: left;
    // padding: 12px 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;

    text-align: center;


    span {
      position: absolute;
      top: 20px;
      right: 15px;
      -webkit-transform:rotate(360deg);
      border-style: inset;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: #000 transparent transparent transparent;
    }
  }  

  .options {
    display: none;

    position: absolute;
    top: 50px;
    left: -1px;
    right: -1px;
    z-index: 999999999;
    zoom: 1;

    //cursor: pointer;
    background: #FFF;
    border: 2px solid #DBDBDB;
    @include border-radius(4px);
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    max-height: 200px;
    padding: 12px;

    .option {
      cursor: pointer;
      display: block;
      clear: both;
      text-decoration: none;
      padding: 12px 6px;
      text-align: left;
      @include chalet_new_york;
      font-size: 14px;  
      line-height: 18px;
      @include transition(opacity 0.15s ease-in-out);
      opacity: 1;

      &:hover, &:active {
        color: #000;
        //background: #efefef;
        opacity: 0.5;
      }
    }      
  }



  .optgroup {
    cursor: default;
    padding: 8px;
    margin: 15px 0 5px 0;

    h3 {
      color: darken(#C7C7C7, 20%) !important;
      margin: 0;
    }
  }

  // &:hover, &:active {
  //   opacity: 0.5
  // }

}

.sola-select-options {
  width: 200px;
  display: none;

  position: absolute;
  z-index: 999999999;
  zoom: 1;

  background: #FFF;
  border: 2px solid #DBDBDB;
  @include border-radius(4px);
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  max-height: 200px;
  padding: 12px;

  .option {
    cursor: pointer;
    display: block;
    clear: both;
    text-decoration: none;
    padding: 12px 6px;
    text-align: left;
    @include chalet_new_york;
    font-size: 14px;  
    line-height: 18px;
    @include transition(opacity 0.15s ease-in-out);
    opacity: 1;

    &:hover, &:active {
      color: #000;
      //background: #efefef;
      opacity: 0.5;
    }
  }  
}

.blog-select {
  margin-left: 0;
}

.search-input-with-button {
  position: relative;
  height: 70px;
  padding: 15px 0;
  font-size: 0;
  white-space: nowrap;
  @include box-shadow(0 4px 10px 0 rgba(0,0,0,0.1));
  @include border-radius(4px);
  background: #FFF;
  text-align: left;
  width: 420px;
  max-width: 100%;

  .spyglass-black {
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 2;
  }

  input {
    width: 100%;
    max-width: 250px;
    margin-left: 60px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 32px;
    height: 42px;
    border: 0;
    background: transparent;
    -moz-osx-font-smoothing: antialiased; //auto
    -webkit-font-smoothing: antialiased; //auto
    font-smoothing: antialiased; //auto   

    &:focus, &:active {
      border: 0 !important;
    } 
  }

  button {
    position: absolute;
    top: 13px;
    right: 13px;
    height: 46px;
    // width: 46px;
    background: $brand-pink; /* For browsers that do not support gradients */
    @include background-gradient(#FF5ABB, #EF008C);
    margin: 0;
    border: 0;
    padding: 17px 15px 15px 15px;
    @include border-radius(4px);
    @include transition(opacity 0.15s ease-in-out);
    opacity: 1;
    color: #FFF;
    font-size: 14px;
    line-height: 16px;

    &:focus, &:hover, &:active {
      opacity: 0.5;
    }
  }  
}

@media (max-width: 700px) {
  .search-input-with-button {
    width: 100%;
    zoom: 0.8;

    button {
      display: none;
    }

    input {
      width: calc(100% - 60px);
    }
  }
}

@media (max-width: 550px) {

  .search-with-spyglass {
    margin-bottom: 15px !important;
  }
  
  .sola-select {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 10px;
    width: 100%;
  }
}