@import 'mixins';
@import 'variables';

#top-header {
  position: relative;
  height: 28px;

  ul.nav {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      float: left;

      &.border-left {
        border-left: 1px solid #EEE;
      }

      &.border-right {
        border-right: 1px solid #EEE;
      }

      a {
        display: inline-block;
        padding: 6px 15px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 10px;
        letter-spacing: 2px;
        font-weight: bold;
        color: $brand-blue;

        &:hover, &:active {
          color: $brand-pink;
        }
      }
    }

    li.social {

      a {
        padding: 6px 7px;
        font-size: 12px;
      }

      .ss-pinterest {
        margin-right: -3px;
      }

      &.last {
        margin-right: 8px;
      }
    }
  }
}

#header {
  height: 94px;
  background: $brand-primary;

  .container .row {
    position: relative;
  }

  .logo {
    display: inline-block;
    margin-top: 6px;

    img {
      width: 133px;
      height: 81px;
      opacity: 1;
      @include transition(opacity 0.3s ease);

      &:hover, &:active {
        opacity: 0.4;
      }
    }
  }

  ul.nav {
    position: absolute;
    top: 35px;
    right: 70px;
    margin: 0;
    padding: 0;
    list-style: none;
    
    li {
      margin: 0;
      padding: 0;
      float: left;

      h3 {
        margin: 0;
        padding: 0;
      }

      a {
        display: inline-block;
        padding: 5px 15px;
        text-decoration: none;
        color: #FFF;

        &:hover, &:active {
          color: #AFDFFF;
        }
      }
    }
  }

  #sb-search {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 15px;
  }

  .sb-search-input {
    max-width: 700px;
    height: 60px;
  }

}

#mobile-top-nav-button {
  display: none;
  background: asset-data-url('Hamburger@2x.png');
  background-size: 21px 26px;
  height: 26px;
  width: 21px;
}

.nav-search-input {
  border: 0 !important;
}


#chatbutton {
  position: absolute !important;
  z-index: 9 !important;
}


@media (max-width: 960px) {

  #chatbutton {
    top: 70px !important;
  }

  #mobile-top-nav-button {
    display: block;
    font-size: 27px;
    color: #FFF;
    position: absolute;
    top: 22px;
    left: 0;
    cursor: pointer;
  }

  #top-header {
    display: none;
  }

  #header {
    height: 70px;

    .logo  {
      width: 88.67px;
      display: block;
      margin: 0 auto;

      img {
        margin-top: 8px;
        width: 88.67px;
        height: 54px;
      }
    }

    ul.nav {
      display: none;
      left: -30px;
      right: -30px;
      top: 70px;
      background: #FFF;
      z-index: 99;
      border-bottom: 2px solid #E5E5E5;
      margin: 0;
      box-shadow: 0 3px 7px rgba(0,0,0,0.5);

      li {
        display: block;
        width: 100%;
        clear: both;
        margin: 0;
        padding: 0;

        a {
          display: block;
          padding: 30px 15px;
          margin: 0 30px;
          border-bottom: 1px solid #E5E5E5;
          color: #000;

          &:hover, &:active {
            color: #BABABA;
          }
        }

        &:last-child a {
          border-bottom: 0;
        }
      }
    }

    .nav-search-input {
      top: 16px;
    }

    .nav-search-button {
      top: 12px;
    }

  }

}