@import 'mixins';
@import 'variables';

#top-header {
  position: relative;
  height: 30px;
  overflow: hidden;

  background: #5DB9E4; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #5DB9E4, #3A8DCC); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #5DB9E4, #3A8DCC); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #5DB9E4, #3A8DCC); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #5DB9E4, #3A8DCC); /* Standard syntax */

  ul.nav {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;


    li {
      float: left;
      margin: 0;

      &.border-left {
        border-left: 1px solid #3886BA;
      }

      &.border-right {
        border-right: 1px solid #3886BA;
      }

      a {
        @include chalet_new_york;
        display: inline-block;
        padding: 8px 15px;
        text-decoration: none;
        font-size: 11px;
        font-weight: bolder;
        color: #FFF;

        &:hover, &:active {
          color: #FFF;
        }

        &.sola-pro-sign-in {
          color: #FFF;

          &:hover, &:active {
            color: #FFF;
          }
        }
      }
    }

    li.social {

      a {
        padding: 8px 7px;
        font-size: 12px;
      }

      .ss-pinterest {
        margin-right: -3px;
      }

      &.last {
        margin-right: 8px;
      }
    }
  }
}

#header {
  height: 92px;

  background: #72C4E7; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #72C4E7, #459DD3); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #72C4E7, #459DD3); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #72C4E7, #459DD3); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #72C4E7, #459DD3); /* Standard syntax */

  .container .row {
    position: relative;
  }

  .logo {
    display: inline-block;
    margin-top: 6px;

    img {
      width: 133px;
      height: 81px;
      opacity: 1;
      @include transition(opacity 0.3s ease);

      &:hover, &:active {
        opacity: 0.4;
      }
    }
  }

  ul.nav {
    position: absolute;
    top: 35px;
    right: 70px;
    margin: 0;
    padding: 0;
    list-style: none;
    
    li {
      margin: 0;
      padding: 0;
      float: left;

      h3 {
        margin: 0;
        padding: 0;
        text-transform: none;
      }

      a {
        display: inline-block;
        padding: 5px 15px;
        text-decoration: none;
        color: #FFF;

        &:hover, &:active {
          color: #AFDFFF;
        }
      }
    }
  }

  #sb-search {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 15px;
  }

  .sb-search-input {
    max-width: 700px;
    height: 60px;
  }

}

#mobile-top-nav-button {
  display: none;
  background: asset-data-url('Hamburger@2x.png');
  background-size: 21px 26px;
  height: 26px;
  width: 21px;
}

.nav-search-input, input[type="search"].nav-search-input {
  border: 0 !important;
  // border: 1px solid #FFF !important;
}


#chatbutton {
  z-index: 9 !important;
}


@media (max-width: 1000px) {

  #chatbutton {
    zoom: 0.66 !important;
  }

  #mobile-top-nav-button {
    display: block;
    font-size: 27px;
    color: #FFF;
    position: absolute;
    top: 22px;
    left: 0;
    cursor: pointer;
  }

  #top-header {
    display: block;

    li {
      display: none;

      &.country-switcher-wrapper {
        display: block;
        margin-right: 0px;
        border-left: 0 !important;
        border-right: 0 !important;
      }
    }
  }

  #header {
    height: 70px;

    .logo  {
      width: 88.67px;
      display: block;
      margin: 0 auto;

      img {
        margin-top: 8px;
        width: 88.67px;
        height: 54px;
      }
    }

    ul.nav {
      display: none;
      left: -30px;
      right: -30px;
      top: 70px;
      background: #FFF;
      z-index: 999999;
      border-bottom: 2px solid #E5E5E5;
      margin: 0;
      box-shadow: 0 3px 7px rgba(0,0,0,0.5);

      li {
        display: block;
        width: 100%;
        clear: both;
        margin: 0;
        padding: 0;
        position: relative;

        h3 {
          font-size: 15px;
        }

        a {
          display: block;
          padding: 30px 15px;
          margin: 0 30px;
          border-bottom: 1px solid #E5E5E5;
          color: #000;

          &:hover, &:active {
            color: #BABABA;
          }
        }

        &:last-child a {
          border-bottom: 0;
        }
      }
    }

    .nav-search-input {
      top: 16px;
    }

    .nav-search-button {
      top: 12px;
    }

  }

}

@media (max-width: 550px) {
  #chatbutton {
    position: absolute !important;
    top: 106px !important;
  }
}