@import 'mixins';
@import 'variables';

// arrows
.arrow-left, .arrow-right {
  position: absolute;
  top: 50%;
  z-index: 9;
  cursor: pointer;
  background: transparent;
  text-decoration: none;
  background-size: (64px / 2) (64px / 2);
  width: (64px / 2);
  height: (64px / 2);
  margin-top: (-64px / 2);
  opacity: 1;
  @include transition(opacity .25s ease);

  &:hover, &:active {
    opacity: 0.5;
  }
}

.arrow-left {
  background-image: asset-data-url('LeftArrow@2x.png');
  left: 30px;
}

.arrow-right {
  background-image: asset-data-url('RightArrow@2x.png');
  right: 30px;
}

.owl-carousel {

  .item {
    position: relative;

    .img-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;

      &.black-25 {
        background: rgba(0,0,0,0.25);
      }

      &.black-50 {
        background: rgba(0,0,0,0.5);
      }
    }

    .item-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;

      .mobile-br {
        display: none;
      }      

      &.left-align {
        align-items: flex-start;
      }

      &.right-align {
        align-items: flex-end;
      }

      &.bottom-align {
        justify-content: flex-end;
        bottom: 80px;
      }

      &.top-align {
        justify-content: flex-start;
        top: 80px;
      }

      .left-align-container {
        align-self: stretch;
        max-width: 960px;
        margin: 0 auto;
        width: 100%;
        text-align: left;
      }

      .right-align-container {
        align-self: stretch;
        max-width: 960px;
        margin: 0 auto;
        width: 100%;
        text-align: right;
      }

      a:link, a:visited, a:hover, a:active {

        &.outline-large-white, &.outline-large-white:hover, &.outline-large-white:active, &.outline-large-white:focus {
          color: #FFF;
          background: transparent;
        }

        &.button {
          display: inline;
          width: auto;
        }
      }

      h1, h3 {
        color: #FFF;
      }
      h1 {
        margin: -5px 0 5px 0;

        &.large {
          font-size: 108px;
          line-height: 108px;
        }
        &.xlarge {
          font-size: 138px;
          line-height: 138px;
        }
      }
      h3 {
        margin: 0 0 40px 0;
      }
    }
  }
}

@media (max-width: 1000px) {
  .owl-controls .owl-buttons {
    display: none;
  }

  .owl-carousel {

    .item {

      .item-content {

        h1 {
          font-size: 48px;
          line-height: 48px;

          &.large {
            font-size: 68px;
            line-height: 68px;
          }
          &.xlarge {
            font-size: 88px;
            line-height: 88px;
          }
        }

        h3 {
          font-size: 18px;
          line-height: 26px;
        }

        .left-align-container, .right-align-container {
          padding: 0 40px;
        }
      }

    }
  }
}

@media (max-width: 650px) {
  .owl-theme .owl-controls .owl-pagination {
    bottom: 20px;
  }

  .owl-carousel {

    .item {

      .item-content {

        .mobile-br {
          display: block;
        }

        .mobile-hidden {
          display: none;
        }

        a:link, a:visited, a:hover, a:active {
          &.button {
            font-size: 13px;
            line-height: 13px;
            padding: 6px 10px;
          }
        }

        h1 {
          font-size: 38px;
          line-height: 38px;

          &.large {
            font-size: 48px;
            line-height: 48px;
          }
          &.xlarge {
            font-size: 58px;
            line-height: 58px;
          }

          &.more-bottom-margin-mobile {
            margin-bottom: 20px;
          }
        }

        h3 {
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 20px;

          &.less-bottom-margin-mobile {
            margin-bottom: 10px;
          }
        }

        .left-align-container, .right-align-container {
          padding: 0 30px;
        }

        &.top-align {
          top: 40px;
        }

        &.bottom-align {
          bottom: 40px;
        }
      }

    }
  }
}

// hero carousel
.hero-carousel {
  display: block;
  overflow: hidden;
  margin-bottom: -15px;

  img {
    width: 100%;
  }

  .owl-item .img-wrap {
    position: relative;
    padding-bottom: 50%;
  }
  .owl-item .img-wrap img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
  }  
}



.hero-text {
  display: block;
  height: 595px;
  position: relative;
  overflow: hidden;
  margin-bottom: -10px;

  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &.centered {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -webkit-flex-wrap: nowrap;
    flex-direction: column;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -webkit-align-content: center;
    -webkit-align-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;

    .text {
      margin-top: -50px !important;
    }
  }


  h3 {
    color: #FFF;
    letter-spacing: 3px;
  }

  .text {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin: 90px 0 0 0;

    h1, h3 {
      text-transform: uppercase;
      color: #FFF;
    }

    h1 {
      font-size: 50px;
      line-height: 55px;
      font-weight: 300;
      margin-bottom: 20px;
    }    
  }

  .learn-more {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    text-align: center;

    h3 {
      margin-bottom: 10px !important;
    }

    span {
      color: #FFF;
    }
  }
}


.play-button, .play-btn {
  display: block;
  text-decoration: none !important;
  margin: 50px auto 0 auto;
  background: asset-url('Play_Inactive@2x.png') no-repeat center;
  background-size: 75px 75px;
  width: 75px;
  height: 75px;
  cursor: pointer;

  &:hover, &:active {
    background: asset-url('Play_Hover@2x.png') no-repeat center;
    background-size: 75px 75px;
  }
}



/* 1000px and below, the hero goes responsive height */
@media (max-width: 1000px) {
  
  .hero-carousel {
    height: auto;
    //max-height: 460px;

    img {
      height: auto;
      //max-height: 460px;
    }
  }

  .hero-text {
    height: 420px;

    .text {
      margin: 30px 0 0 0;

      h1 {
        font-size: 32px;
        line-height: 42px;
        font-weight: 300;
        margin-bottom: 20px;
      } 
    }

    .play-button {
      margin-top: 30px;
    }

    .learn-more {
      bottom: 15px;
    }
  }

}

@media (max-width: 550px) {

  .locations-hero {
  
    h1, h3 {
      text-align: center;
    }
  }

}