@import 'mixins';
@import 'variables';

.home-slogan {
  display: block;
  clear: both;
  text-transform: none;
  font-weight: 300;
  font-size: 33px;
  line-height: 43px;
  margin: 30px 30px 30px 30px;
  letter-spacing: 0px;
}

.home-all {
  display: block !important;
}

.home-mobile {
  display: none !important;
}

.home-tile {
  margin-bottom: 20px;
  position: relative;

  .locations_callout_text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: #FFF;
    padding: 30px;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 13px;
    letter-spacing: 5px;
    line-height: 100%;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 55px;
    
    .locations_count {
      display: block;
      font-size: 61px;
      font-weight: 400;
      margin-bottom: 5px;
    }
  }

  h3 {
    @include transition(color .25s ease);
  }

  h3 {
    margin: 20px 0 10px 0;
  }

  p {
    margin: 0 30px;
  }

  a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
  }

  a:hover, a:active {
    h3 {
      color: #BABABA !important;
    }
  }

  // img {
  //   max-width: 360px;
  // }
}
.home-find-a-salon-pro {
  margin: 0 auto;
  margin-bottom: 35px;
  max-width: 700px;

  h3.home-slogan {
    font-weight: 500;
    font-size: 27px;
    line-height: 35px;
    text-align: center;
    margin: 0 0 20px 0;
  }

  .search-input-with-icon input.query {
    &, &:focus, &:active {
      border: 3px solid $brand-pink !important;
      padding: 15px !important;
      height: 65px !important;
    }
  }
  .search-input-with-icon .ss-search {
    top: 50%;
    margin-top: -12px;
  }
}

.home-recently-featured-box {
  display: block;

  margin: 15px 0 30px 0;
  border: 1px solid #E6E6E6;
  border-right: 0;
  border-left: 0;
  padding: 30px 0;
  text-align: center;

  h3 {
    margin: 0 0 20px 0;
    text-align: center;
  }

  .column {
    padding: 30px;
    margin-bottom: 0;
  }

  .column:last-child {
    border-left: 1px solid #E6E6E6;
  }

  .search-input-with-icon input.large {
    margin-bottom: 0;
  }
}

img.recently-featured-in {
  margin-top: 23px;
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 50px;
}

.modern_salon_logo {
  position: relative;
  top: 3px;
  opacity: 0.5;
  &:link, &:visited, &:hover, &:active {
    display: inline-block;
    text-decoration: none;
    background: asset-url('modern_salon_logo.png') no-repeat center center;
    background-size: 140px 51px;
    width: 140px;
    height: 51px;
  }
}

.american_salon_logo {
  opacity: 0.5;
  &:link, &:visited, &:hover, &:active {
    display: inline-block;
    text-decoration: none;
    background: asset-url('american_salon_logo.png') no-repeat center center;
    background-size: 160px 51px;
    width: 160px;
    height: 51px;
  }
}

.beauty_launchpad_logo {
  opacity: 0.5;
  &:link, &:visited, &:hover, &:active {
    display: inline-block;
    text-decoration: none;
    background: asset-url('beauty_launchpad_logo.png') no-repeat center center;
    background-size: 193px 51px;
    width: 193px;
    height: 51px;
  }
}

.behind_the_chair_logo {
  position: relative;
  top: 1px;
  opacity: 0.5;
  &:link, &:visited, &:hover, &:active {
    display: inline-block;
    text-decoration: none;
    background: asset-url('behind_the_chair_logo.png') no-repeat center center;
    background-size: 242px 51px;
    width: 242px;
    height: 51px;
  }
}

.forbes_logo {
  position: relative;
  top: -2px;
  opacity: 0.5;
  &:link, &:visited, &:hover, &:active {
    display: inline-block;
    text-decoration: none;
    background: asset-url('forbes_logo.png') no-repeat center center;
    background-size: 122px 51px;
    width: 122px;
    height: 51px;
  }
}

@media (max-width: 650px) {
  .home-recently-featured-box {
    display: block !important;
    
    .column {
      display: block;
      width: 100%;
      margin: 0;

      &:first-child {
        border-bottom: 1px solid #E6E6E6;
      }

      &:last-child {
        border-left: 0;
      }
    }
  }

}

@media (max-width: 550px) {

.home-all {
  display: none !important;
}

.home-mobile {
  display: block !important;

  .arrow-left, .arrow-right {
    display: none !important;
  }
}

}