@import 'mixins';
@import 'variables';

.home-slogan {
  @include northwell;
  font-size: 72px;
  letter-spacing: 0px;
  line-height: 172px;
  font-weight: 300;
  color: #000;
  margin-top: 10px;
  display: block;
  clear: both;
  text-transform: none;
  font-weight: 300;
  font-size: 72px;
  line-height: 72px;
  margin: 40px 30px 40px 30px;
  letter-spacing: 0px;
}

.owl-desktop {
  display: block !important;
}

.owl-mobile {
  display: none !important;
}

.home-services-animation {
  display: inline-block;
  position: relative;
  min-height: 56px;
  white-space: nowrap;
  
  span {
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid #9B9B9B;
    padding-bottom: 1px;
    display: inline-block;
    opacity: 0;
    @include transition(opacity .25s ease);

    &.active {
      opacity: 1;
    }
  }
}

.home-tile-row {
  margin: 60px auto -15px auto;
}

.home-container-full-width {
  position: relative;
  max-width: 100% !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .for-customers, .for-professionals {
    display: block;
    float: left;
    box-sizing: border-box; 
    padding: 160px 30px 90px 30px;
    //height: 666px;
    position: relative;
  }

  .for-customers.tile-for-customers-find-a-stylist {
    width: 63%;

    //min-height: 200px;
    background: #AFAFAF asset-url('Home/hero-for-customers.jpg') no-repeat center top; 
    background-size: 100%;

    .mobile-br {
      width: 1px;
      font-size: 1px;
      margin: 0 -5px;
    }

    .tile-content {
      // position: absolute;
      // top: 25%;
      // left: 20%;
      // right: 5%;
      max-width: 888px;
      padding-left: 20%;
      //padding: 25% 5% 0 20%;
    }

    h2 {
      margin: 15px 0 10px 0;
      font-size: 40px;
      line-height: 40px;
    }

    p {
      font-size: 15px;
    }

    .SearchBar {
      margin-top: 88px;
    }

    .booknow-by-solagenius {
      font-size: 19px;
      line-height: 19px;
      letter-spacing: 1px;
      word-spacing: 1px;
      margin: 15px 0 0 0;
      @include chalet_paris;

      strong {
        @include chalet_london;
      }
    }

    .home-services-animation {
      max-height: 40px;
      min-height: 40px;
      top: 9px;
    }

    .home-services-animation span {
      @include chalet_london;
      border-bottom: 0;
    }

    h2, h5, p {
      color: #FFF;
    }
  }

  .for-professionals.tile-for-professionals-own-your-salon {
    width: 37%;
    //min-height: 200px;
    background: #AFAFAF asset-url('Home/hero-for-professionals.jpg') no-repeat center top; 
    background-size: 100%;

    margin-bottom: 0;

    .tile-content {
      // position: absolute;
      // top: 25%;
      // right: 30px;
      // left: 25%;
      //padding: 25% 30px 0 25%;
      padding-left: 25%;
    }

    h2 {
      font-size: 40px;
      line-height: 40px;
      margin: 20px 0;
    }

    ul {
      margin: -10px 0 0 0;
    }

    ul li span.forward-arrow-white {
      float: none;
      top: 2px;
      margin-right: 15px;
    }

    ul li a, ul li a:link, ul li a:visited, ul li a:hover, ul li a:active {
      border-bottom: 0;
    }

    p {
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 0;
    }

    .button-wrapper {
      margin: 20px 0 15px 0;
    }

    .button {
      @include chalet_new_york;
      border: 2px solid #FFF !important;
      background: #FFF !important;
      color: $brand-primary !important;
      font-size: 14px !important;
      line-height: 14px !important;
      padding: 15px 30px 14px 30px !important;
      letter-spacing: 0 !important;
      border-radius: 4px !important;
      width: 100%;
      max-width: 288px;

      &:hover, &:active {
        background: #FFF !important;
        color: $brand-primary !important;
        opacity: 0.55;
      }
    }
  }
}

.home-trilogy {
  margin: 20px 0 40px 0;

  a, a:link, a:visited, a:hover, a:active {
    position: relative;
    text-align: center;
    display: block;
    text-decoration: none;
    margin: 20px 0 0 0;

    span.text {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    h2 {
      color: #FFF !important;
    }

    span.button {
      @include chalet_new_york;
      border: 2px solid #FFF !important;
      color: #FFF !important;
      font-size: 13px !important;
      line-height: 13px !important;
      padding: 15px 30px 14px 30px !important;
      letter-spacing: 0 !important;
      border-radius: 4px !important;

      &:hover, &:active {
        background: #FFF !important;
        color: $brand-primary !important;
      }
    }
  }

  a:hover, a:active {
    span.button {
      background: #FFF !important;
      color: $brand-primary !important;
    }
  }
}

@media (max-width: 1620px) {
  .home-container-full-width {

    .for-customers.tile-for-customers-find-a-stylist {
      padding: 120px 30px 60px 30px;
    }

    .for-professionals.tile-for-professionals-own-your-salon {
      padding: 120px 30px 60px 30px;
    }
  }
}

@media (max-width: 1450px) {
  .home-container-full-width {

    .for-customers.tile-for-customers-find-a-stylist {
      padding: 90px 30px 60px 30px;

      .tile-content {
        padding-left: 19%;
      }
    }

    .for-professionals.tile-for-professionals-own-your-salon {
      padding: 90px 30px 60px 30px;

      .tile-content {
        padding-left: 19%;
      }
    }
  }
}

@media (max-width: 1350px) {
  .home-container-full-width {

    .for-customers.tile-for-customers-find-a-stylist {
      padding: 60px 30px 50px 30px;
      .tile-content {
        padding-left: 14%;
      }     
    }

    .for-professionals.tile-for-professionals-own-your-salon {
      padding: 60px 30px 50px 30px;
      .tile-content {
        padding-left: 14%;
      }    
    }
  }
}

@media (max-width: 1250px) {
  .home-container-full-width {

    .for-customers.tile-for-customers-find-a-stylist {
      padding: 50px 30px 40px 30px;
      .tile-content {
        padding-left: 7%;
      }     
    }

    .for-professionals.tile-for-professionals-own-your-salon {
      padding: 50px 30px 40px 30px;
      .tile-content {
        padding-left: 11%;
      }    
      p {
        display: none;
      }
    }
  }
}

@media (max-width: 1080px) {
  .home-container-full-width {
    display: block;
    margin-bottom: -30px;

    .for-customers.tile-for-customers-find-a-stylist {
      background: #AFAFAF asset-url('Home/hero-for-customers.jpg') no-repeat center top; 
      background-size: cover;
      padding: 0;
      width: 100%;
      clear: both;
      float: none;


      .tile-content {
        padding: 30px;
        max-width: 100%;

        .booknow-by-solagenius {
          text-align: center;
        }
      }
    }

    .for-professionals.tile-for-professionals-own-your-salon {
      background: #AFAFAF asset-url('Home/hero-for-professionals.jpg') no-repeat center top; 
      background-size: cover;      
      padding: 15px 0 0 0;
      width: 100%;
      clear: both;
      float: none;

      .tile-content {
        padding: 30px;

        .button {
          max-width: 100%;
          margin-bottom: 0;
        }

        .button-wrapper {
          margin-bottom: 0;
        }
      }

      ul li a, ul li a:link, ul li a:visited, ul li a:hover, ul li a:active {
        font-size: 17px;
        line-height: 17px;
      }

      p {
        display: none;
      }
    }
  }
}


@media (max-width: 767px) {
  .home-container-full-width .for-professionals, .home-container-full-width .for-customers, .home-trilogy .columns {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 650px) {
  .home-tile-row {
    margin-top: 30px;
    margin-bottom: 0;
  }
}

.home-tile {
  margin-bottom: 20px;
  position: relative;

  .locations_callout_text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: #FFF;
    padding: 30px;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 13px;
    letter-spacing: 5px;
    line-height: 100%;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 55px;
    
    .locations_count {
      display: block;
      font-size: 61px;
      font-weight: 400;
      margin-bottom: 5px;
    }
  }

  h3 {
    @include transition(color .25s ease);
  }

  h3 {
    margin: 20px 0 10px 0;
  }

  p {
    margin: 0 30px;
  }

  a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
  }

  a:hover, a:active {
    h3 {
      color: #BABABA !important;
    }
  }

  // img {
  //   max-width: 360px;
  // }
}
.home-find-a-salon-pro {
  margin: 0 auto;
  margin-bottom: 35px;
  max-width: 700px;

  h3.home-slogan {
    font-weight: 500;
    font-size: 27px;
    line-height: 35px;
    text-align: center;
    margin: 0 0 20px 0;
  }

  .search-input-with-icon input.query {
    &, &:focus, &:active {
      border: 3px solid $brand-pink !important;
      padding: 15px !important;
      height: 65px !important;
    }
  }
  .search-input-with-icon .ss-search {
    top: 50%;
    margin-top: -12px;
  }
}

.home-recently-featured-box {
  display: block;

  margin: 15px 0 10px 0;
  padding: 30px 0;
  text-align: center;

  h5 {
    margin: 0 0 30px 0;
    text-align: center;
  }

  .column {
    padding: 30px;
    margin-bottom: 0;
  }

  .column:last-child {
    border-left: 1px solid #E6E6E6;
  }

  .search-input-with-icon input.large {
    margin-bottom: 0;
  }

  a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;

    img {
      position: relative;
      opacity: 0.5;
      margin: 0 5px;
    }

    &.salon_magazine_logo img {
      top: -9px;
    }

    &.modern_salon_logo img {
      top: 5px;
    }

    &.behind_the_chair_logo img {
      top: 1px;
    }

    &.forbes_logo img {
      top: -2px;
    }
  }
}

img.recently-featured-in {
  margin-top: 23px;
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 50px;
}

@media (max-width: 650px) {
  .home-recently-featured-box {
    display: block !important;
    
    .column {
      display: block;
      width: 100%;
      margin: 0;

      &:first-child {
        border-bottom: 1px solid #E6E6E6;
      }

      &:last-child {
        border-left: 0;
      }
    }
  }

}

.home-all {
  display: block !important;
}

.home-mobile {
  display: none !important;
}

@media (max-width: 550px) {

.owl-desktop {
  display: none !important;
}

.owl-mobile {
  display: block !important;

  .arrow-left, .arrow-right {
    display: none !important;
  }
}

.home-all {
  display: none !important;
}

.home-mobile {
  display: block !important;

  .arrow-left, .arrow-right {
    display: none !important;
  }
}

}