img.thumbnail {
  width: 100px;
  height: 100px;
}

img.full-width {
  width: 100%;
  height: auto;
}

img.directory {
  width: 375px;
  height: 375px;
}

.image-grid {

  .three.columns {
    width: calc(25% - 5px);
    margin: 0 5px 0 0;

    img {
      width: 100%;
      height: auto;
    }

    &.more {
      display: none;
    }
  }
}