.location-grid {
  margin-bottom: 40px;
  
  h2.city {
    margin: 40px 0 20px 0;
  }

  .link {
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      font-weight: bold;
      -webkit-font-smoothing: subpixel-antialiased;

      &.text {
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        color: #333;
        text-decoration: none;

        &:hover, &:active {
          color: #A8A8A8;
        }
      }
    }
  }
}

.container.location-selection-inputs {
  margin-bottom: 15px !important;

  &.canada-location-buttons {
    margin-bottom: 25px !important;
  }

}

.country-location-buttons {
  position: relative;
  top: 10px;
  .button:link, .button:visited, .button:hover, .button:active {
    margin-bottom: 0 !important;
  }

  .button:first-child {
    margin-right: 15px;
  }
}

@media (max-width: 550px) {
  .container.location-selection-inputs {
    margin-top: 10px;

    &.canada-location-buttons {
      margin-bottom: 5px !important;
    }    
  }

  .country-location-buttons {
    top: 0px;
    margin-bottom: 15px;
  }
}