@import 'mixins';
@import 'variables';

#map, #map-overlay {
  height: 525px; 
  width: 100%;

  &.salon-map, &.stylists-map {
    height: 250px !important;
  }
}

// .map-list-wrapper {

//   .one-third.column {
//     width: 33%;
//     padding: 0;
//     margin: 0;
//   }

//   .two-thirds.column {
//     width: 67%;
//     padding: 0;
//     margin: 0;
//   }

//   h2.city {
//     margin: 0;
//     padding: 15px;
//     background: #F7F7F7;
//     border-top: 1px solid #E7E7E7;
//   }
// }

.sola-infobox {
  position: relative;
  padding: 15px 20px;
  border: 1px solid #E6E6E6;
  background: #FFF;
  box-shadow: 0 1px 0px rgba(195,195,195, 0.8);

  h3, p {
    max-width: 220px;
    white-space: nowrap;
    overflow: hidden;
    // text-overflow: ellipsis;
  }

  h3 {
    margin: 0;
    white-space: nowrap;
  }

  p {
    margin: 12px 0;
    white-space: nowrap;
  }

  div {
    line-height: 100%;
  }

  a, a:link, a:visited, a:hover, a:active {
    font-weight: bold;
    text-decoration: none;
    color: $brand-pink;
    font-size: 13px;
  }

  .tail1 {
    position: absolute;
    bottom: -21px;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-color: #C3C3C3 transparent transparent transparent;
    border-width: 10px;
    border-style: solid;
    z-index: 3;
  }
  
  .tail2 {
    position: absolute;
    bottom: -19px;
    left: 50%;
    margin-left: -10px;
    width: 0; 
    height: 0;
    border-color: #FFF transparent transparent transparent;
    border-width: 10px;
    border-style: solid;
    z-index: 4;
  }
}


.infoBox {
  opacity: 0;
  @include transition(opacity .25s ease);
}

#map-overlay {
  display: none;
  background: transparent;
  position: absolute;
  z-index: 99;
}

.location-breadcrumb {
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  background: #FBFBFB;
  padding: 7px 0 10px 0;

  .container {
    line-height: 100%;
    vertical-align: middle;
  }

  .divider {
    vertical-align: middle;
    line-height: 10px;
    font-size: 10px;
    color: $gray;
    display: inline-block;
    margin: 0 10px;
  }

  a, a:link, a:visited, a:hover, a:active {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    color: #737373;
    letter-spacing: 1px;
    text-decoration: none;
    white-space: nowrap;
    @include transition(color .3s ease);
  }

  a:hover, a:active {
    color: lighten(#737373, 25%);
  }
}

h2.city {
  margin: 20px 0 35px 0;

  a, a:link, a:visited {
    color: #000;
    text-decoration: none;
    @include transition(color .25s ease);
  }

  a:hover, a:active {
    color: #7A7A7A;
  }
}







@media (max-width: 750px) {
  #map, #map-overlay {
    height: 425px; 
    width: 100%;
  }
}

@media (max-width: 550px) {
  #map, #map-overlay {
    height: 275px; 
    width: 100%;
  }
  .location-breadcrumb {
    display: none !important;
  }
}
