@import 'variables';

.modal-content {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -100px;
  width: 100%;
  max-width: 392px;
  z-index: 9999;
  overflow: hidden;
  overflow-y: scroll;

  .content {
    background: #FFF;
    padding: 45px;
    overflow: hidden;
    overflow-y: scroll;

    .modal-content {
      display: block;
      overflow: hidden;
      overflow-y: scroll;
    }

    .close {
      position: absolute;
      top: 15px;
      right: 15px;
      color: #AFAFAF;
      cursor: pointer;

      &:hover, &:active {
        color: #7F7F7F;
      }
    }

    h4 {
      text-align: center;
      font-size: 24px;
      color: #111;
      margin-bottom: 40px;
    }

    input, textarea {
      display: block;
      width: 100%;
      max-width: 300px;
      margin: 0 0 8px 0;
    }

    button {
      margin-bottom: 0;
    }
  }

  &.sessions {
    max-width: 420px;

    .content {
      background: #000;
      color: #FFF;
    }

    .modal-header {
      text-align: center;

      .name {
        margin: 3px 0;
      }

      .name, .company {
        display: block;
        font-weight: bold;
        font-size: 18px;

        a, a:link, a:visited, a:hover, a:active {
          text-decoration: none !important;
        }
      }

      .line {
        display: inline-block;
        width: 50px;
        line-height: 1px;
        height: 1px;
        background: #888888;
        margin: 20px auto 20px auto;
      }
    }

    .ss-delete {
      display: block;
      background: asset-data-url('sessions/close-x.gif') no-repeat center;
      background-size: 24px 24px;
      width: 24px;
      height: 24px;

      &:before {
        content: '';
      }
    }
  }
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.6);
  z-index: 999;

  &.sessions {
    background: rgba(0,0,0,0.8);
  }
}

.recaptchaContainer {
  margin-bottom: 10px;
}

.request-franchising-modal {
  
  .forbes-image {
    background: asset-url('ForbesBestFranchise.jpg') no-repeat center center;
    width: 249px;
    height: 406px;
    margin-right: 40px; 
  }

  input, textarea {
    max-width: 302px !important;
    border-radius: 2px !important;
    background: #f9f9f9 !important;
    border: 1px solid #d3d3d3 !important; 

    &:focus, &:active {
      border: 1px solid $brand-pink !important;
    }
  }


  .half

  .half-column.right {
    max-width: 302px !important;
  }
}

.modal.double-wide {
  max-width: 700px;

  .content .modal-content {
    display: -webkit-flex;
    display: flex;
  }

  .half-column {
    float: left;
    display: block;
    width: 50%;
    max-width: 300px;
    clear: none;
    margin: 0;
    padding: 0;

    &.left {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -webkit-flex-wrap: nowrap;
      flex-direction: column;
      flex-wrap: nowrap;
      -webkit-justify-content: center;
      -webkit-align-content: center;
      -webkit-align-items: center;
      justify-content: center;
      align-content: center;
      align-items: center;
    }
  }
}

@media (max-width: 700px) {
  
  .modal.double-wide {
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -100px;
    width: 100%;
    max-width: 392px;

    .content .modal-content {
      display: block;
    }

    .request-franchising-modal {

      .half-column {
        width: 100%;
        float: none;
        clear: both;

        .forbes-image {
          margin-right: 0;
          margin-bottom: 15px;
        }

        &.left {
          text-align: center;
        }

        img.ForbesBestFranchise {
          max-width: 200px;
          margin-left: 0;
        }
      }
    }
  }
}