@import 'variables';
@import 'mixins';
@import 'bootstrap/mixins';

.our-story {
	
	img.u-full-width {
		//margin: 10px auto 0 auto;
	}

	.img-wrap {
	  position: relative;
	  padding-bottom: 56%;
	  margin: 10px auto 50px auto;

	  img {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: auto;
	    //border-radius: 4px;
	    z-index: 1;
	  }  

	  h5 {
	  	@include helvetica;
	  	font-size: 14px;
	  	color: #FFF;
	  	font-weight: 300;
	  	text-transform: none;
    	letter-spacing: 0px;
	  	position: absolute;
	  	z-index: 3;
	  	bottom: 15px;
	  	left: 20px;
			-moz-osx-font-smoothing: antialiased;
	    -webkit-font-smoothing: antialiased;
	    font-smoothing: antialiased;	  	
	    margin-bottom: 0;
	    text-shadow: 1px 1px 5px #000;
	  }
	}

	.cta {
		margin-top: 70px;
	}

}