@import 'variables';
@import 'bootstrap/mixins';

.page-nav {
	background: #F5F9FB;
	overflow: hidden;
	text-align: center;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: inline-block;
		vertical-align: top;
	}

	li {
		margin: 0 15px;
		padding: 0;
		display: inline-block;

		a, a:link, a:visited, a:hover, a:active {
			@include chalet_new_york;
			font-size: 14px;
			line-height: 16px;
			color: #000;
			text-decoration: none;
			display: inline-block;
			padding: 28px 0 23px 0; 
		}

		&.active {
			a, a:link, a:visited, a:hover, a:active {
				color: $brand-primary;
				border-bottom: 2px solid $brand-primary;
			}
		}

	}
}

a.back-to-parent, a.back-to-parent:link, a.back-to-parent:visited, a.back-to-parent:hover, a.back-to-parent:active {
	display: inline-block;
	@include chalet_new_york;
	text-decoration: none;
	color: #000;
	margin-bottom: 25px;
	@include transition(none);

	.name {
		display: inline-block;
		position: relative;
		margin-left: 5px;
		top: -2px;
	}

	.back-arrow-black {
		display: inline-block;
	}

	.back-arrow-pink {
		display: none;
	}
}

a.back-to-parent:hover, a.back-to-parent:active {
	color: $brand-pink;

	.back-arrow-black {
		display: none;
	}

	.back-arrow-pink {
		display: inline-block;
	}
}