@import 'mixins';
@import 'variables';

.stylist-page {
  margin-bottom: -30px;

  h5 {
    margin-bottom: 15px;
  }

  .heading {
    background: #F5F9FB;
    border-bottom: 0;
    padding: 40px 0;

    .badge {
      margin-top: -40px;
    }

    h1.salon_professional_name {
      border-bottom: 0;
      padding: 0;
      margin: 0;
    }

    h3.salon_professional_business_name {
      @include helvetica;
      color: #4A4A4A; 
      font-size: 18px;  
      font-weight: 300; 
      line-height: 32px;
      margin: 0;
    }
  }

  .social {
    li {
      a, a:link, a:visited, a:hover, a:active {
        font-size: 16px;
        line-height: 16px;
      }
    }
  }

  .biography {
    color: #4A4A4A; 
    @include helvetica;
    font-size: 18px;  
    font-weight: 300; 
    line-height: 32px;
  }

  .location-address {
    color: #4A4A4A; 
    @include helvetica;
    font-size: 14px;  
    font-weight: 300; 
    line-height: 24px; 
    -moz-osx-font-smoothing: antialiased; //auto
    -webkit-font-smoothing: antialiased; //auto
    font-smoothing: antialiased; //auto   
  }

  .view-map {
    a, a:link, a:visited, a:hover, a:active {
      font-weight: bold;
      text-decoration: none;
    }
  }

  .visit-salon-pro {
    h3, h5 {
      color: #FFF;
      margin: 0;
    }
    h3 {
      margin-bottom: 10px;
    }
  }

  #map.stylist-salon-map {
    //margin-bottom: 40px;
    height: 420px !important;
  }

  .about-this-location {
    margin: 30px 0;
  }

  .testimonials {
    margin-bottom: 30px;
  }

}

.hero-text.find-a-salon-professional {
  height: 740px;
}

.find-a-salon-professional-disclaimer {
  padding: 60px 30px;
  text-align: center;
  background: #000;

  .container {
    max-width: 600px;
  }

  h4 {
    color: #FFF;
    margin: 0 0 20px 0;
  }

  p {
    color: #FFF;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
  }
}

.find-salon-professional-search {
  margin: 40px auto 40px auto;
}

.find-a-sola {
  display: block;
  clear: both;
  overflow: hidden;
  margin: 60px auto;
  max-width: 650px;

  input {
    width: 65%;
    height: 58px;
    display: block;
    float: left;
    clear: none;
  }

  button {
    width: 35%;
    height: 58px;
    display: block;
    float: left;
    clear: none;
    overflow: visible;
    text-overflow: inherit;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
}

.find-a-sola {
  margin: 50px 0 0 0;
  max-width: 100%;

  .container {
    margin: 0;
    width: 100%;
    padding: 0;

    h3 {
      margin-bottom: 10px;
    }

    input, button {
      margin: 0;
    }

    input {
      text-overflow: ellipsis;
    }

    .button {
      padding: 18px;
    }
  }
}

.find-a-salon-professional-stats {
  position: relative;
  width: 100%;
  max-width: 600px;
  
  .find-salon-professional-search {
    text-align: center;
    margin: 0 auto;
  }

  .stat {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    text-align: center;

    h1 {
      margin: 5px 0 0 0 !important;
    }

    h2 {
      font-size: 18px;
      line-height: 32px;
      color: #FFF;
      -moz-osx-font-smoothing: auto; //antialiased
      -webkit-font-smoothing: auto; //antialiased
      font-smoothing: auto; //antialiased
      opacity: 0.8;
      margin: 0 !important;
    }

    &.right {
      left: 50%;
      border-left: 1px solid rgba(255,255,255,0.2);
    }
  }
}

.find-a-salon-professional-hero .item .item-content h1.chalet {
  margin-top: -60px;
}

@media (max-width: 1000px) {
  .hero-text.find-a-salon-professional {
    height: 590px;
  }

  .under-search {
    //bottom: 150px !important;
  }  
}

@media (max-width: 850px) {
  .find-a-salon-professional-hero .item .item-content h1.chalet {
    font-size: 36px;
    line-height: 36px;
  }
  .find-a-salon-professional-stats {
//    width: 100%;
    margin: 0;
  }      
}

@media (max-width: 650px) {
  .find-a-salon-professional-hero .item .item-content h1.chalet {
    margin-top: -40px;
    font-size: 24px;
    line-height: 24px;
  }

  .find-a-salon-professional-hero .item .item-content .find-a-salon-professional-stats {
    .stat {

      &.right {
        border-left: 0;
      }

      h1.chalet {
        font-size: 18px;
        line-height: 24px;
      }

      h2 {
        font-size: 14px !important;
        line-height: 14px !important;
        font-weight: bold;
      }
      // position: static;
      // top: auto;
      // left: auto;
      // width: 100%;

      // &.right {
      //   border-left: 0;
      //   margin-top: 30px;
      // }
    }
  }

  .hero-text.find-a-salon-professional {
    height: 680px;
  }
  .find-salon-professional-search {
    margin: 15px auto;
  }

  .find-a-salon-professional-disclaimer {
    padding: 30px;

    h4, p {
      font-size: 14px;
      line-height: 24px;
    }
  }
}

.stylist-services {
  // display: flex;
  // display: -webkit-flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
  // margin: 0 -30px;
  margin: 0;

  li {
    display: inline-block;
    background: #FFF;
    border: 1px solid #DBDBDB;
    font-size: 13px;
    line-height: 13px;
    font-weight: normal;
    color: #4A4A4A;
    @include border-radius(3px);
    padding: 6px 8px;
    margin: 2px 5px 8px 0;
    // list-style: none;
    // font-family: 'Lato', Arial, sans-serif;
    // font-size: 17px;
    // letter-spacing: 0px;
    // line-height: 35px;
    // font-weight: 300;
    // color: #474747;
    // border-bottom: 1px dashed #D7D7D7;
    // flex: 1;
    // margin: 0 30px 15px 30px;
    // min-width: 120px
  }
}

h3.salon-professional-name {
  a, a:link a:visited {
    color: #000 !important;
  }

  a:hover, a:active {
    color: $brand-pink !important;
  }
}

h3.business-name {
  margin: 3px 0 0 0 !important;
  height: 52px;
}

.salon-services {
  margin-top: 0 !important;

  .service {
    display: inline-block;
    background: #FFF;
    border: 1px solid #DBDBDB;
    font-size: 13px;
    line-height: 13px;
    font-weight: normal;
    color: #4A4A4A;;
    @include border-radius(3px);
    padding: 6px 8px;
    margin: 2px 5px 8px 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.view-profile {
  margin-top: 5px;
}

.salon-professional-hero {
  position: relative;

  h1 {
    margin: 0;
  }

  h3 {
    display: inline-block;
    margin: 15px 0 0 0;
  }
}

.studio-number-badge {
  display: inline-block;
  border: 3px solid #499CD3;
  background: transparent;
  padding: 0;
  margin: 0;
  @include border-radius(50%);
  width: 80px;
  height: 80px;
  text-align: center;

  .studio, .number {
    padding-top: 20px;
    text-indent: 3px;

    @include chalet_new_york;
    color: #499CD3; 
    font-size: 14px;  
    font-weight: bold;  
    line-height: 14px;  
    text-align: center;
  }

  .number {
    text-indent: 0;
    padding-top: 7px;
    font-size: 18px;
    line-height: 18px;
  }
}

.studio-number-badge-column {
  text-align: right;
}

.salon-pro-buttons {
  margin-bottom: 0px;

  .button {
    margin-bottom: 15px !important;
  }
}

.salon-pro-info {

  h1 {
    margin-bottom: 0;
  }

  h3 {
    margin-bottom: 10px;
  }

  .contact-info {
    margin: 0 0 30px 0;
    list-style: none;
    border-bottom: 1px solid #DBDBDB;

    li {
      border-top: 1px solid #DBDBDB;
      padding: 15px 0;
      margin: 0;
      text-align: center;

      color: $brand-pink !important;
      @include chalet_new_york;
      font-size: 14px;
      line-height: 16px;

      a, a:link, a:visited, a:hover, a:active {
        @include chalet_new_york;
        color: $brand-pink;
        font-size: 14px;
        line-height: 16px;
        text-decoration: none;
      }

      a:hover, a:active {
        color: $brand-pink-hover;
      }
    }
  }

}


.testimonial {
  p {
    font-size: 14px;
    line-height: 24px; 
  }

  .text {
    // font-family: 'Lato', Arial, sans-serif;
    // font-size: 17px;
    // letter-spacing: 0px;
    // line-height: 35px;
    // font-weight: 300;
    // color: #474747;
    margin: 0;
  }

  .name-region {
    // color: #4A4A4A; 
    // font-size: 14px;  
    // font-weight: 300; 
    // line-height: 24px;
    margin: 30px 0 0 0;
  }

  margin: 0 0 30px 0;
  padding: 0  0 30px 0;
  border-bottom: 1px solid #DBDBDB;
}



.availability {
  margin-bottom: 40px;
  color: #4A4A4A; 
  @include helvetica;
  font-size: 14px;  
  font-weight: 300; 
  line-height: 14px; 
  -moz-osx-font-smoothing: antialiased; //auto
  -webkit-font-smoothing: antialiased; //auto
  font-smoothing: antialiased; //auto   
}






@media (max-width: 550px) {
  .find-a-salon-professional-disclaimer { 
    text-align: left;
  }

  .stylist-services {
    display: block;

    li {
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .salon-pro-info {
    // padding: 15px 0;
    
    h1, h3, h4 {
      text-align: center;
    }

    h1 {
      margin-top: 5px;
    }

    h3 {
      display: block;
    }
  }

}