@import 'mixins';
@import 'variables';

h3.business-name {
  margin: 3px 0 0 0 !important;
  height: 42px;
}

.salon-services {
  margin-top: 0 !important;

  .service {
    display: inline-block;
    background: #FFF;
    border: 1px solid #CDCDCD;
    font-size: 14px;
    font-weight: normal;
    color: $gray;
    border-radius: 3px;
    padding: 1px 10px;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.view-profile {
  margin-top: 5px;
}