@import 'mixins';
@import 'variables';


.search-results {
  margin-bottom: 30px;

  h2 {
    margin: 40px 0;
  }
}

.search-result {
  padding: 25px 0;
  border-top: 1px solid #E6E6E6;

  h3 {
    margin: 0;
  }

  p {
    margin: 15px 0;
  }

  div {
    line-height: 100%;

    &.text {
      margin-bottom: 5px;
    }
  }

  a, a:link, a:visited, a:hover, a:active {
    font-weight: bold;
    text-decoration: none;
    color: $brand-pink;
    font-size: 13px;
  }

  a:hover, a:active {
    color: $brand-pink-hover;
  }
}


.nav-search {
  float: right;
  margin: 0;

  .nav-search-input {
    background: transparent;
    margin: 0;
    position: absolute;
    top: 28px;
    right: 0px;
    width: 0;
    max-width: 380px;
    z-index: 3;
    border-radius: 18px;
    padding: 5px 16px;
    @include transition(width ease 0.2s);
  }

  .search-icon {
    position: absolute;
    top: 34px;
    right: 4px;
    cursor: pointer;

    background: asset-data-url('spyglass.png');
    background-size: (48px / 2) (48px / 2);
    width: (48px / 2);
    height: (48px / 2);
    z-index: 4;
  }

  &.open {

    .nav-search-input {
      width: 100%;
      background: #FFF;
    }

    .search-icon {
      display: none;
    }
  }
  
}

.search-input-with-icon {
  position: relative;

  input.query {
    margin-bottom: 0;
    height: 50px !important;
  }

  .ss-search {
    font-size: 20px;
    position: absolute;
    top: 18px;
    right: 18px;
  }
}

.search-and-filter-row {

  form {
    position: relative;
    overflow: hidden;
  }

  .search-input {
    display: block;
    width: 100%;
    height: 50px;
    margin: 0 0 30px 0;
  }

  .search-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
    height: 50px;
  }
}

.search-results-label {
  margin: 0;
  padding: 0;
  color: gray;
  font-size: 12px;
  font-weight: bold;
}


/* 
* Mobile Search Modal
*/
.mobile-search-modal {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: rgba(0,0,0,0.85);
  width: 100%;
  height: 100%;

  .close-x-white {
    position: absolute;
    left: 30px;
    top: 30px;
    cursor: pointer;
  }

  .mobile-search-form {
    position: absolute;
    top: 25%;
    left: 30px;
    right: 30px;
    bottom: 30px;

    input, input:focus, input:active {
      width: 100% !important;
      max-width: 100% !important;
      height: 45px !important;
      font-size: 36px !important;  
      line-height: 43px !important;
      @include chalet_paris;
      padding: 0 0 7px 0 !important;
      background: transparent !important;
      border: 0 !important;
      border-bottom: 2px solid #FFF !important;
      color: #FFF !important;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #FFF;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: #FFF;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: #FFF;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: #FFF;
      }
    }

    p {
      margin: 3px 0 0 0;
      padding: 0;
      @include helvetica;
      color: #444444;
      font-size: 14px;  
      line-height: 24px;
    }
  }
}





@media (max-width: 550px) {
  .nav-search.open .nav-search-input {
    width: calc(100% - 60px);
  }
  .search-and-filter-row {
    margin-bottom: -20px;

    .search-input {
      margin-bottom: 20px;
    }
  }
}