@import 'mixins';
@import 'variables';


.search-results {
  margin-bottom: 30px;

  h2 {
    margin: 40px 0;
  }
}

.search-result {
  padding: 25px 0;
  border-top: 1px solid #E6E6E6;

  h3 {
    margin: 0;
  }

  p {
    margin: 15px 0;
  }

  div {
    line-height: 100%;

    &.text {
      margin-bottom: 5px;
    }
  }

  a, a:link, a:visited, a:hover, a:active {
    font-weight: bold;
    text-decoration: none;
    color: $brand-pink;
    font-size: 13px;
  }

  a:hover, a:active {
    color: $brand-pink-hover;
  }
}


.nav-search {
  float: right;
  margin: 0;

  .nav-search-input {
    margin: 0;
    position: absolute;
    top: 28px;
    right: 10px;
    width: 0;
    max-width: 380px;
    z-index: 3;
    border-radius: 18px;
    padding: 5px 16px;
    @include transition(width ease 0.2s);
  }

  .ss-search {
    display: inline-block;
    position: absolute;
    width: 45px;
    height: 45px;
    top: 24px;
    right: 0;
    padding: 5px 0 0 0;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #FFF;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    color: #FFF;
    background: $brand-blue;
    z-index: 4;
    @include transition(all ease 0.2s);

    &:hover, &:active {
      color: #AFDFFF;
      border: 2px solid #AFDFFF;
    }
  }

  &.open {

    .nav-search-input {
      width: 100%;
      
    }

    .ss-search {
      color: #FFF !important;
      border: 2px solid #FFF !important;
    }
  }
  
}

.search-input-with-icon {
  position: relative;

  input.query {
    margin-bottom: 0;
    height: 50px !important;
  }

  .ss-search {
    font-size: 20px;
    position: absolute;
    top: 18px;
    right: 18px;
  }
}

.search-and-filter-row {
  margin-bottom: -300px;

  form {
    position: relative;
    overflow: hidden;
  }

  .search-input {
    display: block;
    width: 100%;
    height: 50px;
    margin: 0 0 30px 0;
  }

  .search-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
    height: 50px;
  }
}

.search-results-label {
  margin: 0;
  padding: 0;
  color: gray;
  font-size: 12px;
  font-weight: bold;
}

@media (max-width: 550px) {
  .nav-search.open .nav-search-input {
    width: calc(100% - 5px);
  }
  .search-and-filter-row {
    margin-bottom: -20px;

    .search-input {
      margin-bottom: 20px;
    }
  }
}