@import 'mixins';
@import 'variables';

.session {

  .hero-image {
    margin-bottom: 15px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .play-video {
    display: block;
    position: relative;
    margin: 40px 0 0 0;

    img {
      border: 3px solid $brand-pink;
      width: 100%;
      height: auto;
    }

    .play-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -34px 0 0 -34px;
      width: 68px;
      height: 68px;
      background: $brand-pink;
      border-radius: 34px;

      .fa-play {
        font-size: 28px;
        line-height: 28px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -13px 0 0 -7px;
        pointer-events: none;
        color: #FFF;
        //z-index: 3;
     } 
    }
   
  }

  .description {
    font-family: 'Dosis', Arial, sans-serif;
    color: #333;
    font-size: 22px;
    line-height: 42px;
    margin: 25px 0 40px 0;
    text-align: left;
  }

  .details {
    background: #000;
    padding: 20px 0 120px 0;
    margin: 15px 0 30px 0;

    h1, h2, h3, h4 {
      font-family: 'Dosis', Arial, sans-serif;
      text-transform: none;
      letter-spacing: 0;
      text-align: center;
      color: #FFF;
      margin: 0;
      padding: 0;
    }

    h1 {
      font-size: 28px;
      line-height: 28px;
    }

    h2 {
      font-family: 'Lato', Arial, sans-serif;
      font-size: 40px;
      line-height: 40px;
      font-weight: bold;
      color: $brand-pink;
      margin: 15px 0 25px 0;
    }

    h3 {
      font-size: 28px;
      font-weight: 500;
      line-height: 28px;
      margin-bottom: 10px !important;
    }

    h4 {
      font-size: 25px;
      line-height: 25px;
    }

    h3, h4 {
      margin-bottom: 0
    }

    h5 {
      font-family: 'Lato', Arial, sans-serif;
      font-size: 19px;
      font-weight: 300;
      color: #FFF;
      text-align: center;
      margin-bottom: 0;
    }    
  }

  .cities {
    margin-bottom: 20px;
  }

  .speakers {
    .row {
      margin-bottom: 20px;
    }
    .row:first-child {
      margin-top: -120px;
    }
    .row:last-child {
      margin-bottom: 0px;
    }
    .columns {
      text-align: center;
      margin-bottom: 40px;
    }
    .name, .company {
      font-family: 'Dosis', Arial, sans-serif;
      font-size: 18px;
      line-height: 18px;
    }
    .name {
      overflow: visible;
      white-space: nowrap;
      display: block;
      text-align: center;
      color: #333;
      margin-top: 12px;
      margin-bottom: 7px;
    }
    .company {
      display: block;
      text-align: center;
    }
    img {
      max-width: 100%;
      max-width: 159px;
      height: auto;
      margin: 0 auto;
      border-radius: 79.5px;
    }
    a, a:link, a:visited, a:hover, a:active {
      text-decoration: none;
    }
    .also-featuring {
      margin-top: 20px;
      text-transform: none;
      text-align: center;
      color: $brand-blue;
      letter-spacing: 0px;
      line-height: 120%;
    }
  }

  #showBios {
    margin-top: -5px;
  }

  #showBios, #hideBios {
    margin-bottom: 15px;
  }

  #hideBios {
    display: none;
  }

  .bios {
    display: none;
    margin-top: 0px;
    border-top: 1px solid #707070;
    margin-bottom: 40px;

    .bio {
      padding: 40px 0;
      border-bottom: 1px solid #707070;

      .name-and-company {
        font-size: 17px;
        font-weight: bold;
        color: #464646;

        a {
          font-weight: normal;
        }
      }

      .text {
        margin-top: 15px;
        font-family: 'Lato', Arial, sans-serif;
        font-size: 17px;
        line-height: 29px;
        font-weight: 300;
        color: #464646;
      }
    }

    .text-center {
      margin-top: 40px;
    }
  }

  .side-sessions {
    border: 10px solid $brand-pink;
    padding: 40px;
    margin: 20px auto 40px auto;
    max-width: 666px;

    h2, li {
      font-family: 'Lato', Arial, sans-serif;
      text-align: center;
      font-size: 25px;
      line-height: 25px;
      font-weight: 700;
      letter-spacing: 0;
      text-transform: none;
      margin-bottom: 30px;
    }

    li {
      font-size: 20px;
      line-height: 20px;
      color: $brand-pink;
      list-style: none;
      text-align: center;
      margin: 15px 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    ul {
      margin: 0;
      padding: 0;
    }
  }

  .agenda, .ticketing {
    border: 10px solid $brand-blue;
    padding: 30px;
    margin: 0 auto 40px auto;
    max-width: 666px;
  }

  .agenda {
    margin-top: 15px;
    position: relative;
    padding-top: 55px;

    .banner {
      background: asset-url('sessions/agenda-banner.png') no-repeat center center;
      position: absolute;
      top: -10px;
      left: -10px;
      width: 161px;
      height: 38px;
    }

    p {
      font-size: 20px;
      line-height: 28px;
      margin: 0 0 20px 0;

      &:last-child {
        margin-bottom: 0;
      }

      .time {
        color: $brand-blue;
        font-weight: 600;
      }
    }
  }

  .past-events {
    background: #f8f8f8;

    h2 {
      font-weight: normal;
      letter-spacing: 2px;
      color: $brand-pink;
      text-transform: none;
      font-size: 39px;
      text-align: center;
      margin: 0 0 30px 0;
    }

    .event {
      margin-bottom: 60px;

      img {
        width: 100%;
        height: auto;
        margin-bottom: 30px;
      }

      .buttons {
        text-align: center;

        .button:first-child {
          margin-right: 15px;
        }
        .button:last-child {
          margin-left: 15px;
        }
      }
    }
  }

  .in-the-news {
    margin-top: 30px;

    h2 {
      font-weight: normal;
      letter-spacing: 2px;
      color: $brand-pink;
      text-transform: none;
      font-size: 39px;
      text-align: center;
      margin: 0 0 60px 0;
    }

    .news-articles {
      margin-bottom: 60px;
    }

    .news-article {
      border-top: 1px solid #E8E8E8;
    }
  }

  .testimonials {
    background: #F8F8F8;

    .arrow-left, .arrow-right {
      -webkit-filter: contrast(100%) invert(100%);
      filter: contrast(100%) invert(100%);
    }

    .arrow-left {
      margin-left: -30px;
    }

    .arrow-right {
      margin-right: -30px;
    }

    .owl-wrapper {

      .owl-item {
        //height: 300px;
        position: relative;

        .item {
          position: absolute;
          left: 0;
          right: 0;
          top: 50%;
          transform: translate(0,-50%); // IE9
          transform: translate3d(0,-50%,0); // Modern Browsers - better performance
          margin: 0 90px;
        }
      }
    }

    h2 {
      font-weight: normal;
      letter-spacing: 2px;
      color: #000;
      text-transform: none;
      font-size: 39px;
      text-align: center;
      margin: 0 0 50px 0;
    }

    .featured-testimonial {
      
      h1 {
        font-size: 29px;
        line-height: 41px;
        text-align: center;
        color: #000;
        margin-bottom: 40px;
      }
      
      h3.subtle {
        font-size: 29px;
        line-height: 41px;
        text-transform: none;
        font-weight: normal;
        text-align: center;
        color: $brand-pink;
        margin: 0;
      }
    }
  }

  .ticketing {
    h1 {
      font-family: 'Lato', Arial, sans-serif;
      text-align: center;
      font-size: 55px;
      line-height: 55px;
      font-weight: 700;
      color: $brand-pink;
      margin: -15px 0 0 0;

      span {
        font-size: 31px;
        vertical-align: text-top;
      }
    }
    h4 {
      font-weight: bold;
      color: #000;
      font-size: 19px;
      line-height: 29px;
      margin: 25px 0 0 0;
    }
    .button-wrapper {
      margin-top: 30px;
      text-align: center;
      clear: both;

      .button {
        padding-left: 90px;
        padding-right: 90px;
        margin-bottom: 0;
      }
    }
    ul {
      margin-top: 20px;
      list-style: none;

      li {
        text-align: center;
        font-family: 'Lato', Arial, sans-serif;
        font-size: 17px;
      }
    }
  }
}

.sessions-buttons {
  max-width: 800px;
  margin: 40px auto 0 auto;
}

.discount-rooms {
  margin-bottom: 0 !important;
  word-spacing: 1px;

  .container {
    max-width: 800px;
  }

  .number, .link {
    //color: $brand-blue;
  }

  .code {
    font-weight: normal;
    letter-spacing: 1px;
    margin: 0 3px;
    display: inline-block;
  }
}

.discounted-rooms {
  text-align: center;
  background: #ededed;
  padding: 40px 0;

  h2 {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 33px;
    line-height: 41px;
    font-weight: bold;
    letter-spacing: 0;
    text-transform: none;
    color: $brand-pink;
    margin-bottom: 10px;
  }
  h3 {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 23px;
    line-height: 33px;
    font-weight: bold;
    letter-spacing: 0;
    text-transform: none;
    color: #333;
  }
  h4 {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1px;
    text-transform: none;
    color: #333;
    margin-bottom: 15px;
  }
  img {
    max-width: 961px;
    width: 100%;
    height: auto;
    margin: 0 auto 15px auto;
  }
  .button {
    margin-bottom: 0;
  }
}

.event-partners {
  padding: 40px 0 20px 0;
  text-align: center;

  h2 {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0;
    text-align: center;
    text-transform: none;
    margin-bottom: 40px;
  }

  img {
    //max-width: 898px;
    // width: 100%;
    // height: auto;
    // margin: 0 auto;
  }

  // .logos {
  //   img {
  //     margin: 20px 25px !important;
  //     width: auto;
  //     height: (65px / 2);
  //     // -webkit-filter: grayscale(100%);
  //     // filter: grayscale(100%);

  //     &.barberology {
  //       position: relative;
  //       top: 3px;
  //     }

  //     &.babyliss_pro {
  //       position: relative;
  //       top: 3px;
  //     }

  //     &.cosmoprof {
  //       position: relative;
  //       top: -4px
  //     }

  //     &.saloncentric {
  //       position: relative;
  //       top: -2px;
  //     }

  //     &.samvilla {
  //       height: 24px;
  //       position: relative;
  //       top: -3px;
  //     }

  //     &.sola {
  //       height: (65px / 1.5);
  //       position: relative;
  //       top: 4px;
  //     }

  //     &.passion_squared {
  //       position: relative;
  //       top: -4px;
  //       height: (65px / 2.5);
  //     }
  //   }
  // }
}

.future-sessions {
  background: asset-url('sessions/future-sessions.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 420px;
  text-align: center;
  padding: 30px 0;

  h1, h2 {
    color: #FFF;
    margin: 0;
    text-transform: none;
    letter-spacing: 0;
  }

  h1 {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 35px;
    line-height: 45px;
    font-weight: bold;
  }

  h2 {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
  }

  .circles {
    margin: 40px 0;

    img {
      max-width: 240px;
      width: 100%;
      height: auto;
    }
  }
}

.add-to-calendar-wrapper {
  display: block;
  min-height: 27px;
}

.session-2017 {
  background: #FFF asset-data-url('sessions/sessions-bg.jpg') no-repeat; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;

  h2.highlight {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 19px;
    line-height: 21px;
    margin-bottom: 5px;
    color: $brand-pink;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0px;
  }
  
  /* bb = bottom border */
  h2.bb {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 25px;
    line-height: 27px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    color: #000;
    text-align: left;
    text-transform: none;
    letter-spacing: 0px;
    border-bottom: 1px solid #969696;
  }

  .rangled-wrapper {
    margin-bottom: 10px;

    &.date {
      //margin-left: -125px; 
      margin-bottom: 90px;
    }
  }

  .rangled {
    position: relative;
    display: inline-block;
    background: transparent asset-data-url('sessions/rangled.png') no-repeat top right;
    padding: 10px 50px 12px 15px;

    &.small {
      padding: 10px 25px 9px 10px;
    }

    &:before {
      // content: '';
      // position: absolute;
      // top: 0; 
      // right: 0;
      // width: 0;
      // border-top: 60px solid #FFF;
      // border-right: 60px solid #000;
    }

    h1, h2 {
      font-family: 'Lato', sans-serif;
      color: #FFF;
      margin: 0;
      padding: 0;
      letter-spacing: 0;

      &.brand-pink, .brand-pink {
        color: $brand-pink !important;
      }
    }

    h1 {
      font-size: 69px;
      line-height: 71px;
    }
    h2 {
      font-size: 33px;
      font-weight: bold;
      line-height: 35px;
      text-transform: none;

      &.brand-pink {
        text-align: left;
        font-size: 27px;
        line-height: 29px;
      }
    }
  }

  .header {
    margin: 0 0 30px 0;
    height: 1209px;
  }

  .logo {
    text-align: center;
    padding: 80px 0 0 0;
  }

  .location-and-date {
    display: inline-block;
    text-align: left;
  }

  .tickets-on-sale-now {
    text-align: center;
    margin: 30px 0 40px 0;

    h3 {
      font-family: 'Lato', sans-serif;
      margin: 0;
      color: #FFF;
      font-size: 25px;
      line-height: 27px;
      font-weight: bold;
      letter-spacing: 0;
      text-transform: none;
    }
  }

  .buy-now {
    text-align: center;
    margin: 65px auto 75px auto;

    a, a:link, a:visited, a:hover, a:active {
      display: inline-block;
      color: $brand-pink;
      background: #FFF;
      font-family: 'Lato', sans-serif;
      font-size: 23px;
      font-weight: bold;
      line-height: 23px;
      word-spacing: 2px;
      letter-spacing: 2px;
      padding: 17px 25px 17px 25px;
      border-radius: 45px;
      text-transform: uppercase;
      box-shadow: 0 2px 10px rgba(0,0,0,0.25);
      
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .ticket-details {
    position: absolute;
    left: 50%;
    margin-left: -210px;
    width: 420px;

    .left {
      position: absolute;
      top: -15px;
      left: 0;
    }

    .right {
      position: absolute;
      top: 0;
      left: 50%;
      right: 0;
    }

    .price {
      position: relative;
      top: -5px;
      color: $brand-pink;

      .amount {
        position: relative;
        left: -7px;
        letter-spacing: -7px;
        vertical-align: top;
        font-family: Arial, sans-serif;
        font-weight: normal;
        font-size: 159px;
        line-height: 150px;
      }

      .dollar-sign {
        position: relative;
        top: 20px;
        vertical-align: top;
        font-family: 'Lato', sans-serif;
        font-weight: normal;
        font-size: 43px;
        line-height: 43px;
        padding-top: 23px;
      }
    }

    .valued-at {
      position: relative;
      left: -1px;
      display: block;
      clear: both;
      margin: 10px 0 0 0;
      padding: 0;
      font-size: 15px !important;
      font-weight: bold;
      line-height: 16px !important;
      color: $brand-pink !important;
      text-transform: uppercase;
      font-style: normal !important;
      //margin-bottom: -3px;
    }

    .ticket-includes {
      position: relative;
      font-size: 15px !important;
      font-weight: bold;
      line-height: 21px !important;
      font-style: italic;

      .text {
        position: absolute;
        top: -3px;
        left: 16px;
      }

      .triangle {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 11px solid #000;
      }
    }
  }

  .date-and-time {
    margin: 20px 0 !important;
  }

  .event-details, .date-and-time, .description, .header {  
    display: block;
    clear: both;
    margin-bottom: 30px !important;

    ul {
      margin: 0 0 0 20px !important;
      padding: 0;
      list-style-type: disc;
      list-style-position: initial !important;
    }
    a, a:link, a:visited {
      text-decoration: none;

      &.add-to-calendar {
        color: $brand-primary !important;
      }
    }
    a:hover, a:active {
      text-decoration: none;

      &.add-to-calendar {
        color: lighten($brand-primary, 20%) !important;
      }
    }

    li {
      margin: 0;
      padding: 0;
    }
    p, li {
      color: #6e6e6e !important;
      font-size: 17px !important;
      line-height: 27px !important;
      text-shadow: 0 1px 0 rgba(255,255,255,0.4);

      &.body-text {
        font-family: 'Lato', Arial, sans-serif !important; 
        color: #6e6e6e !important;
        font-size: 17px !important;
        line-height: 27px !important;
        margin-bottom: 20px !important;
      }
    }
    p {
      margin-bottom: 25px;
    }
    strong {
      color: #262626 !important;
    }
  }

  .speakers {
    margin-bottom: 20px !important;

    h2.bb {
      margin-bottom: 60px !important;
    }

    .row:first-child {
      margin-top: 0px;
    }

    .columns {
      cursor: pointer;
    }
  }

  .event-partners {
    img {
      margin: 20px auto 40px auto;
    }
  }

  .watch-our-video {
    padding: 20px 0 40px 0;
    background: #000;

    h6 {
      font-size: 17px;
      font-weight: bold;
      color: #FFF;
      text-align: center;
      margin: 0 0 20px 0;
    }

    img {
      border: 0 !important;
    }

    .play-video {
      margin-top: 0 !important;
    }

    .play-btn {
      background: #FFF !important;
      width: 50px !important;
      height: 50px !important;
      margin: -25px 0 0 -25px !important;
      text-transform: uppercase;
      
      span {
        line-height: 18px !important;
        font-size: 18px !important;
        color: $brand-pink !important;
        margin: -8px 0 0 -4px !important;
      }

      .text {
        position: absolute;
        bottom: -30px;
        left: -4px;
        font-size: 12px !important;
        font-weight: bold !important;
        color: #FFF !important;
        display: block;
        white-space: nowrap !important;
        word-spacing: 1px;
      }
    }
  }

  .discounted-rooms {
    h2 {
      color: #000;
      font-size: 31px;
      line-height: 33px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    h3 {
      color: #333;
      font-size: 23px;
      line-height: 33px;
      margin-bottom: 30px;
    }
    h4 {
      font-size: 17px;
      letter-spacing: 2px;
      margin-bottom: 25px;
    }
    .button-wrapper {
      margin-bottom: 10px;
    }
    .button {
      font-size: 19px !important;
      padding-left: 60px !important;
      padding-right: 60px !important;
    }
  }
}



.session-landing-2017 {

  h2.gradient {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0;

    display: inline-block;
    margin: 0;
    padding: 0;

    // background: $brand-primary; /* For browsers that do not support gradients */    
    // background: -webkit-linear-gradient(left top, #79c7fb, #e157f9); /* For Safari 5.1 to 6.0 */
    // background: -o-linear-gradient(bottom right, #79c7fb, #e157f9); /* For Opera 11.1 to 12.0 */
    // background: -moz-linear-gradient(bottom right, #79c7fb, #e157f9); /* For Firefox 3.6 to 15 */
    // background: linear-gradient(to bottom right, #79c7fb, #e157f9); /* Standard syntax (must be last) */

    // -webkit-background-clip: text;
    // -moz-background-clip: text;
    // background-clip: text;

    // -webkit-text-fill-color: transparent;
    // -moz-text-fill-color: transparent;
    // text-fill-color: transparent;
    color: #A796FA !important;

    text-transform: none;
  }

  .header-gradient {
    border-bottom: 1px solid #dedee0;
    padding: 0 0 15px 0;
    margin: 0 0 30px 0;
  }

  .about {
    margin: 0 0 50px 0;

    p {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-size: 21px;
      line-height: 35px;
    }

    .play-video {

      img {
        border: 0;
      }

      .play-btn-wrapper {
        position: absolute;
        margin: 0;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        left: 0;
      }
      
      .play-btn {
        width: 88px !important;
        height: 88px !important;
        border-radius: 44px !important;
        margin: -44px 0 0 -44px !important;

        background: #7ac6fb;
        //* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7ac6fb+0,c36efa+100 */
        background: #7ac6fb; /* Old browsers */
        background: -moz-linear-gradient(left, #7ac6fb 0%, #c36efa 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #7ac6fb 0%,#c36efa 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #7ac6fb 0%,#c36efa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ac6fb', endColorstr='#c36efa',GradientType=1 ); /* IE6-9 */
      }

      .text {
        position: absolute;
        top: 50%;
        margin: 50px 0 0 0;
        left: 0;
        right: 0;
        color: #FFF;
        white-space: nowrap;
        text-transform: uppercase;
        font-size: 13px;
        text-align: center;
      }
    }
  }

  .sessions-nav {
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
    }

    a, a:link, a:visited, a:hover, a:active {
      font-family: 'Lato', sans-serif;
      font-size: 17px;
      text-decoration: none;
      font-weight: bold;
      color: #ccc;
      padding: 5px 0;
      display: block;

      &.active {
        color: #222;
      }
    }

    a:hover, a:active {
      color: #222;
    }
  }

  .upcoming-events {
    margin: 0 0 70px 0;

    .event-icon {
      display: inline-block;
      width: 88px;
      height: 88px;
      float: left;
      margin-right: 15px;

      // &.west-palm-beach {
      //   background: asset-data-url('sessions/west_palm_beach_off.png') no-repeat center;
      //   background-size: 88px 88px;
      // }

      // &.chicago {
      //   background: asset-data-url('sessions/chicago-small.jpg') no-repeat center;
      //   background-size: 88px 88px;
      //   border-radius: 44px;
      // }

      // &.bay-area {
      //   background: asset-data-url('sessions/bay_area_off.png') no-repeat center;
      //   background-size: 88px 88px;
      // }
    }


    .date {
      font-size: 17px;
      line-height: 21px;
      font-weight: bold;
      color: #222;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    a, a:link, a:visited, a:hover, a:active {
      font-size: 17px;
      line-height: 21px;
      font-weight: bold;
      text-decoration: none;
      
    }

    .location-name {
      font-size: 22px;
      line-height: 26px;
      font-weight: normal;
      color: #999;
      margin-bottom: 5px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }


  }

  .past-events {
    margin: 0 0 50px 0;
    background: transparent;

    h2.gradient {
      text-align: left !important;
    }

    .header-gradient {
      margin-bottom: 40px;
    }    
  }

  .in-the-news {
    margin: 0 0 50px 0;
    background: transparent;

    h2.gradient {
      text-align: left !important;
    }

    .header-gradient {
      margin-bottom: 60px;
    }

    .news-article {
      border-top: 0;
      padding-top: 0;
      margin-top: 35px;
      padding-bottom: 30px;
      border-bottom: 1px solid #dedee0;

      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
      }

      .image, .text {
        //float: none;
      }
      .image {
        margin: 5px 0;

        img {
          max-width: 88%;
          height: auto;
          border: 0;
        }
      }

      .social {

        &.social-circle {
          float: right;
          margin-top: -29px;
        }

        li {
          margin-right: 30px;

          &:last-child {
            margin-right: 0;
          }
        }
        
        a, a:link, a:visited, a:hover, a:active {
          border: 0;
          color: #FFF;
          background: #CCC;
          font-size: 22px;
          line-height: 22px;
          width: 36px;
          height: 36px;
          border-radius: 18px;
          padding: 8px 0 0 0;

          .ss-twitter {
            top: 3px;
            left: 1px;
          }
          .fa-facebook {
            top: 0px;
          }
        }

        a:hover, a:active {
          background: #222;
        }
      }
    }
  }

  .testimonials {
    margin: 0 0 50px 0;
    background: transparent;

    .owl-carousel {
      //display: flex !important;

      .owl-controls {
        position: absolute;
        top: auto;
        bottom: 0;
        right: 70px;
      }
      
      .owl-buttons {
        position: absolute;
        top: auto;
        bottom: 0;

        .arrow-left, .arrow-right {
          top: auto;
          left: auto;
          right: auto;
        }
        .arrow-left {
          background: asset-data-url('sessions/left-arrow-sm.png') no-repeat center;
          background-size: 23px 42px;
          width: 23px;
          height: 42px;
          opacity: 0.4;
          transition: opacity .25s ease-in-out;
          -moz-transition: opacity .25s ease-in-out;
          -webkit-transition: opacity .25s ease-in-out;
          
          &:hover, &:active {
            opacity: 1;
          }
        }
        .arrow-right {
          background: asset-data-url('sessions/right-arrow-sm.png') no-repeat center;
          background-size: 23px 42px;
          width: 23px;
          height: 42px;
          opacity: 0.4;
          transition: opacity .25s ease-in-out;
          -moz-transition: opacity .25s ease-in-out;
          -webkit-transition: opacity .25s ease-in-out;
          
          &:hover, &:active {
            opacity: 1;
          }    
        }
        .owl-prev {
          margin-right: 70px;
        }
      }

      .owl-wrapper {
        display: table !important;
      }
      
      .owl-item {
        //display: none;
        display: table-cell !important;
        float: none;
        vertical-align: middle;
        
        .item {
          margin: 0;
          position: static;
          top: auto;
          bottom: auto;
          left: auto;
          right: auto;
          transform: none;
          padding: 0;

          h1, h3.subtle {
            font-family: 'Lato', sans-serif;
            text-align: left;
          }
          h1 {
            font-style: italic;
            font-size: 25px;
            margin-bottom: 10px;
          }
          h3.subtle {
            font-size: 23px;
            font-weight: bold;
            color: #666;
            letter-spacing: 0;
          }
        }
      }
    }

    h2.gradient {
      text-align: left !important;
    }

    .header-gradient {
      margin-bottom: 40px;
    }    
  }
}

.sessions-landing-2017-carousel {
  .arrow-left {
    background: asset-data-url('sessions/left-arrow.png') no-repeat center;
    background-size: 29px 57px;
    width: 29px;
    height: 57px;
    opacity: 0.4;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    
    &:hover, &:active {
      opacity: 1;
    }
  }
  .arrow-right {
    background: asset-data-url('sessions/right-arrow.png') no-repeat center;
    background-size: 29px 57px;
    width: 29px;
    height: 57px;
    opacity: 0.4;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    
    &:hover, &:active {
      opacity: 1;
    }    
  }
  .down-arrow {
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: 32px;
    margin-left: -26px;

    background: asset-data-url('sessions/down-arrow.png') no-repeat center;
    background-size: 54px 32px;
    width: 54px;
    height: 32px;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    
    &:hover, &:active {
      opacity: 0.4;
    } 
  }
}

@media (max-width: 900px) {

  .session-landing-2017 {
    .upcoming-events {
      .event-tile {
        clear: both;
        width: 100%;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

}

@media (max-width: 740px) {
  .sessions-landing-2017-carousel {
    .down-arrow {
      bottom: 25px;
      margin-left: (-26px / 1.5);

      background-size: (54px / 1.5) (32px / 1.5);
      width: (54px / 1.5);
      height: (32px / 1.5);
    }
  }
}

@media (max-width: 650px) {

  .session-landing-2017 {
    .about {
      .play-video {
      
        .play-btn {
          width: 66px !important;
          height: 66px !important;
          border-radius: 33px !important;
          margin: -33px 0 0 -33px !important;
        }

        .text {
          margin: 38px 0 0 0;
        }
      }
    }
  }

}


.sessions-mobile-menu, .sessions-mobile-nav {
  display: none;
}

.sessions-mobile-menu {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 9px 0 7px 0;
  text-align: center;
  z-index: 9;

  .fa {
    color: #FFF;
    font-size: 28px;
    cursor: pointer;
  }
}

.sessions-mobile-nav {
  list-style-type: none;
  margin: 0;
  padding: 5px 20px 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #FFF;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);  
  z-index: 10;

  .close {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0px;
    right: 10px;
    color: #ccc;
    cursor: pointer;

    &:hover, &:active {
      color: #222;
    }    

    .fa-times-thin:before {
      content: '\00d7';
      font-size: 41px;
    }
  }

  li {
    margin: 0;
    padding: 0;
  }

  a, a:link, a:visited, a:hover, a:active {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    text-decoration: none;
    font-weight: bold;
    color: #ccc;
    padding: 5px 0;
    display: block;

    &.active {
      color: #222;
    }
  }

  a:hover, a:active {
    color: #222;
  }
}

@media (max-width: 750px) {

  .sessions-desktop-nav, .nav-columns {
    display: none;
  }

  .session-landing-2017 {
    .sessions-nav {
      margin: -20px 0 0 0;

      a, a:link, a:visited, a:hover, a:active {
        font-size: 21px;
      }
    }
    .testimonials .owl-wrapper .owl-item .item {
      margin: 0 5px !important;
    }
  }

}


/***************************
* Session 2017 Breakpoints *
****************************/

// @media (max-width: 1600px) {
//   .session-2017 {
//     // background: #FFF asset-url('sessions/sessions-bg-lg.jpg') no-repeat; 
//     // -webkit-background-size: contain;
//     // -moz-background-size: contain;
//     // -o-background-size: contain;
//     // background-size: contain;
//   }
// }

// @media (max-width: 1200px) {
//   .session-2017 {
//     // background: #FFF asset-url('sessions/sessions-bg-sm.jpg') no-repeat; 
//     // -webkit-background-size: contain;
//     // -moz-background-size: contain;
//     // -o-background-size: contain;
//     // background-size: contain;
//   }
// }

@media (max-width: 800px) {
  .session-2017 {
    background: #FFF asset-data-url('sessions/sessions-bg-sm.jpg') no-repeat; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;

    .header {
      .logo {
        padding: 20px 0 0 0;

        img {
          max-width: 100%;
          height: auto;
        }
      }

      .tickets-on-sale-now {
        margin: 15px 0 20px 0;

        h3 {
          font-size: 23px;
          line-height: 25px;
        }
      }

      .buy-now {
        margin: 10px 0 40px 0;

        a {
          font-size: 18px !important;
        }
      }

      .rangled-wrapper {
        text-align: left;

        &.date {
          margin-left: 0; 
          margin-bottom: 60px;
        }
      }

      .rangled h1 {
        font-size: 41px;
        line-height: 41px;
        white-space: nowrap;
      }

      .rangled h2 {
        font-size: 25px;
        line-height: 25px;
      }

      .rangled.small {
        p {
          font-size: 13px !important;
          line-height: 13px !important;
          font-weight: bold;
        }
      }


    }
  }
}

@media (max-width: 750px) {
  .session-landing-2017 .nine.columns {
    width: 100% !important;
    margin: 0 !important;
  }

  .session-2017 {
    .header {

      .ticket-details {
        left: 0;
        margin-left: 0;
        width: 100%;

        .left {
          left: 7px;
        }

        .right {
          right: 0px;
        }

        .price {
          .amount {
            position: relative;
            top: -7px;
            left: -7px;
            font-weight: normal;
            font-size: 133px;
          }
        }

        .ticket-includes .text {
          font-size: 12px;
          line-height: 18px;
          left: 13px;
          width: 80%;
        }

        .ticket-includes .triangle {
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-left: 9px solid #000;
        }
      }

    }
  }
}



/*******************************
* Other Responsive Breakpoints *
*******************************/

@media (max-width: 550px) {
  .past-sessions .owl-controls {
    margin-top: -10px !important;
  }

  .past-sessions .owl-controls .owl-buttons {
    display: block;

  }

  .session-2017 .header .buy-now a {
    font-size: 15px !important;
  }

  .sessions-buttons {
    margin-top: 20px;
  }

  .session {

    .buy-now {
      a {
        font-size: 15px !important;
      }
    }

    .play-video {
      margin-top: 20px;
    }

    .description {
      font-size: 20px;
      line-height: 30px;
      margin: 10px 0 20px 0;
    }

    .details {
      margin-top: 0;

      h1 {
        font-size: 24px;
        line-height: 24px;
      }
      h2 {
        font-size: 34px;
        line-height: 34px;
      }
      h3 {
        font-size: 24px;
        line-height: 24px;
      }
      h4 {
        font-size: 16px;
        line-height: 16px;
      }
    }

    .agenda {
      p {
        font-size: 16px;
        line-height: 22px;
      }
    }

    .ticketing {
      padding-bottom: 20px;
      padding-left: 15px;
      padding-right: 15px;

      h1 {
        font-size: 40px;
        line-height: 40px;

        span {
          font-size: 20px;
        }
      }
      .button-wrapper .button {
        margin-bottom: 0;
        padding-left: 30px;
        padding-right: 30px;
      }
    }

    .testimonials {

      .owl-wrapper {

        .owl-item {

          .item {
            margin: 0 60px;
          }
        }
      }

      .featured-testimonial {
        
        h1 {
          font-size: 19px;
          line-height: 31px;
        }
        
        h3.subtle {
          font-size: 19px;
          line-height: 31px;
        }
      }

    }
  }

.future-sessions {
  h1 {
    font-size: 30px;
    line-height: 40px;
  }
  h2 {
    font-size: 16px;
    line-height: 26px;
  }
  .circles {
    margin-bottom: 0;

    img {
      margin-bottom: 20px;
    }
  }
}  
}

@media (max-width: 450px) {
  .session-2017 .header .buy-now a {
    font-size: 12px !important;
    padding: 8px 14px;
  }
  .session-2017 .header .rangled-wrapper h1 {
    font-size: 32px;
    line-height: 32px;
  }

  .session {

    .past-events {

      .event {
        margin-bottom: 40px;

        img {
          margin-bottom: 20px;
        }

        .buttons {
          .button {
            margin: 0 0 10px 0 !important;
            display: block;
          }
        }
      }
    }
  }

}

@media (max-width: 374px) {
  .session-2017 .header .buy-now a {
    font-size: 11px !important;
    letter-spacing: 1px;
    padding: 10px 15px;    
  }
  .session-2017 .header .rangled-wrapper h1 {
    font-size: 26px;
    line-height: 26px;
  }
  .session-2017 .header .rangled h2 {
    font-size: 20px;
    line-height: 20px;
  }
  .session-2017 .header .ticket-details {
    padding: 0 30px;
    text-align: center;
  }
  .session-2017 .header .ticket-details .left, .session-2017 .header .ticket-details .right {
    position: static;
    float: none;
    clear: both;
    display: block;
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;
    text-align: center;
  }

  .session-2017 .header .ticket-details .right {
    display: inline-block;
    width: 50%;
    margin-bottom: 30px;
  }

  .session-2017 .header .ticket-details .price .amount {
    top: 0;
  }
}