@import 'mixins';
@import 'variables';

.session-2018 {

  .speakers-container {
    max-width: 888px !important;
  }

  .faces-of-sola {
    margin: 30px 0 60px 0;

    .six.columns:first-child  {
      display: flex;
    }

    .vertical-center-column {
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;

      h2 {
        //margin-top: 20px;
        align-self: flex-start;
      }
      // p {
      //   margin-bottom: 0;
      // }
    }

    img {
      position: relative;
      top: 10px;
    }
  }

  .inline-break {
    display: block;
    font-size: 4px;
    line-height: 4px;
    height: 4px;
    max-height: 4px;
  }

  .buy-now-button-wrapper {
    margin: 60px auto 80px auto;
  }

  a.buy-now-button, a.buy-now-button:link, a.buy-now-button:visited, a.buy-now-button:hover, a.buy-now-button:active {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFF;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    line-height: 24px;
    padding: 20px 90px;
    border-radius: 11px;
    box-shadow: 0 3px 11px rgba(0,0,0,0.3);
    background: rgb(255,106,201); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,106,201,1) 0%, rgba(255,2,171,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,106,201,1) 0%,rgba(255,2,171,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,106,201,1) 0%,rgba(255,2,171,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6ac9', endColorstr='#ff02ab',GradientType=0 ); /* IE6-9 */   

    &.disabled {
      cursor: default;
      pointer-events: none;
      background: gray;
      opacity: 0.42;
    } 
  }

  .owl-carousel {
    .learn-more-button {
      margin-left: -65px;
    }
  }

  .leading-ladies-wrapper {
    padding: 20px;
    background: #94ffff;
    background: #e5ffff; /* Old browsers */
    background: -moz-linear-gradient(top, #e5ffff 1%, #94ffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e5ffff 1%,#94ffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e5ffff 1%,#94ffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5ffff', endColorstr='#94ffff',GradientType=0 ); /* IE6-9 */
    text-align: center;

    img {
      max-width: 960px;
      margin: 0 auto;
    }
  }

  .leading-ladies-panel {
    background: #fde5f3;
    padding: 40px 0;

    p {
      margin: 0;
    }
  }

	.hero-carousel {

		.item .item-content.overlayed {
			top: 0;
		}

		img.sessions-logo {
			max-width: 420px;
			width: 50%;
			height: auto;
			margin: 0 auto;
		}

		p {
			margin: 25px 0 0 0;

      strong {
        font-size: 21px;
      }
		}

	}

  .header {
    display: block;
    clear: both;    
    margin: 0 0 0 0 !important;
    text-align: center;
    padding: 30px 0 20px 0;
    background: #f4f9fb;

    h1 {
    	font-size: 69px;
    	line-height: 79px;
    	margin: 0 0 5px 0;
    	color: $brand-primary;
    }
    h2 {
    	font-size: 41px;
    	line-height: 51px;
    	margin: 0 0 15px 0;
    	color: $brand-primary;
    }
    h4 {
    	font-size: 21px;
    	line-height: 31px;
    	font-weight: bold;
    	color: $brand-pink;
    	margin: 0;
    }
  }

  .early-bird-general-admission {
    // margin: 30px auto 50px auto;
    max-width: 666px;
    margin: 30px auto 40px auto;
    display: block;
    clear: both;
    overflow: hidden;

    .early-bird, .general-admission {
      float: left;
      //height: 380px;
      width: calc(48% - 15px);
      margin: 0 auto;
      padding: 30px 30px 40px 30px;
      @include border-radius(11px);
      text-align: left;
      position: relative;

      .price-circle {
        background: #FFF;
        width: 70px;
        height: 70px;
        padding-top: 22px;
        text-indent: -3px;
        @include border-radius(35px);
        color: $brand-primary;
        font-size: 29px;
        line-height: 29px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 30px;

        sup {
          position: relative;
          top: -12px;
          font-size: 12px;
        }
      }

      h2 {
        @include chalet_new_york;
        color: #FFF !important;
        font-size: 49px !important;
        line-height: 49px !important;
        font-weight: bold !important;
        height: 100px;
        margin-bottom: 30px !important;
      }

      p {
        // position: absolute;
        // bottom: 80px;
        // left: 30px;
        color: #FFF !important;
        font-size: 16px !important;
        line-height: 20px !important;
        font-weight: bold;
        margin-bottom: 30px !important;
      }

      .buy-your-ticket-wrapper {
        // position: absolute;
        // bottom: 40px;
        // left: 30px;

        .buy-your-ticket {
          background: #FFF;
          border: 1px solid #FFF;
          color: $brand-pink;
          text-decoration: none;
          padding: 12px 21px;
          @include border-radius(33px);
          font-size: 14px;
          line-height: 14px;
          font-weight: bold;

          &.disabled {
            cursor: default;
            color: #e0e0e0;
          }
        }
      }
    }

    .early-bird {
      @include background-gradient(#4999d4, #fe01ac);
      margin-right: 15px;
    }

    .general-admission {
      @include background-gradient(#6cbee5, #489bd4);
      margin-left: 15px;
    }
  }

  .ticket-includes {
    text-align: center;
    max-width: 640px;
    margin: 0 auto 20px auto;

    p, h4 {
      margin-bottom: 15px !important;
      font-size: 20px;
      line-height: 25px;
    }

    h4 {
      font-size: 23px;
    }

    strong {
      @include chalet_new_york;
    }
  }

  h4.pink {
  	font-size: 21px;
  	line-height: 31px;
  	font-weight: bold;
  	color: $brand-pink;
  	margin: 0;
    margin-bottom: 4px;
  }

  h4.blue {
    font-size: 21px;
    line-height: 31px;
    font-weight: bold;
    color: $brand-primary;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    margin-bottom: 7px;
  }

  h2.highlight {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 19px;
    line-height: 21px;
    margin-bottom: 5px;
    color: $brand-pink;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0px;
  }
  
  /* bb = bottom border */
  h2.bb {
    font-weight: 300;
    font-size: 35px;
    line-height: 45px;
    margin: 0 0 20px 0;
    padding-bottom: 0;
    color: #000;
    text-align: left;
    text-transform: none;
    letter-spacing: 0px;
    border-bottom: 0;
  }

  // p {
  //   color: #4A4A4A;
  // }

  .logo {
    text-align: center;
    padding: 80px 0 0 0;
  }

  .location-and-date {
    display: inline-block;
    text-align: left;
  }

  .tickets-on-sale-now {
    text-align: center;
    margin: 30px 0 40px 0;

    h3 {
      font-family: 'Lato', sans-serif;
      margin: 0;
      color: #FFF;
      font-size: 25px;
      line-height: 27px;
      font-weight: bold;
      letter-spacing: 0;
      text-transform: none;
    }
  }

  .buy-now {
    text-align: center;
    margin: 65px auto 75px auto;

    a, a:link, a:visited, a:hover, a:active {
      display: inline-block;
      color: $brand-pink;
      background: #FFF;
      font-family: 'Lato', sans-serif;
      font-size: 23px;
      font-weight: bold;
      line-height: 23px;
      word-spacing: 2px;
      letter-spacing: 2px;
      padding: 17px 25px 17px 25px;
      border-radius: 45px;
      text-transform: uppercase;
      box-shadow: 0 2px 10px rgba(0,0,0,0.25);
      
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .ticket-details {
    position: absolute;
    left: 50%;
    margin-left: -210px;
    width: 420px;

    .left {
      position: absolute;
      top: -15px;
      left: 0;
    }

    .right {
      position: absolute;
      top: 0;
      left: 50%;
      right: 0;
    }

    .price {
      position: relative;
      top: -5px;
      color: $brand-pink;

      .amount {
        position: relative;
        left: -7px;
        letter-spacing: -7px;
        vertical-align: top;
        font-family: Arial, sans-serif;
        font-weight: normal;
        font-size: 159px;
        line-height: 150px;
      }

      .dollar-sign {
        position: relative;
        top: 20px;
        vertical-align: top;
        font-family: 'Lato', sans-serif;
        font-weight: normal;
        font-size: 43px;
        line-height: 43px;
        padding-top: 23px;
      }
    }

    .valued-at {
      position: relative;
      left: -1px;
      display: block;
      clear: both;
      margin: 10px 0 0 0;
      padding: 0;
      font-size: 15px !important;
      font-weight: bold;
      line-height: 16px !important;
      color: $brand-pink !important;
      text-transform: uppercase;
      font-style: normal !important;
      //margin-bottom: -3px;
    }

    .ticket-includes {
      position: relative;
      font-size: 15px !important;
      font-weight: bold;
      line-height: 21px !important;
      font-style: italic;

      .text {
        position: absolute;
        top: -3px;
        left: 16px;
      }

      .triangle {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 11px solid #000;
      }
    }
  }

	.checkmark {
  	background: asset-url('sessions/checkmark.png') no-repeat center left;
  	background-size: 24px 26px;
  	display: inline-block;
  	width: 24px;
  	height: 26px;
	}  

	.group-pic {
		margin: 0px 0 60px 0;
	}

  .event-details, .date-and-time, .description {  
    display: block;
    clear: both;
    margin-bottom: 20px !important;
    margin-top: 40px !important;

    ul {
      margin: 0 0 0 20px !important;
      padding: 0;
      list-style-type: disc;
      list-style-position: initial !important;
    }
    a, a:link, a:visited {
      text-decoration: none;

      &.add-to-calendar {
        color: $brand-primary !important;
      }
    }
    a:hover, a:active {
      text-decoration: none;

      &.add-to-calendar {
        color: lighten($brand-primary, 20%) !important;
      }
    }

    li {
      margin: 0;
      padding: 0;
    }
    
    p, li, .check-row {
    	@include helvetica;
      color: #4A4A4A !important;
      font-size: 18px !important;
      line-height: 30px !important;
      font-weight: 300 !important;

      &.body-text {
        font-family: 'Lato', Arial, sans-serif !important; 
        color: #6e6e6e !important;
        font-size: 17px !important;
        line-height: 27px !important;
        margin-bottom: 20px !important;
      }
    }

    .check-row {
    	display: block;
    	padding: 4px 0 4px 0;

    	.checkmark {
    		margin-right: 4px;
    	}
    }

    p {
      margin-bottom: 25px;
    }

    strong {
      @include chalet_new_york;
      color: #262626 !important;
    }
  }

  .date-and-time {
    margin: 30px 0 0 0 !important;
    padding: 30px 0;
    //background: #f4f9fb;

    p {
    	line-height: 35px !important;
    }
  }

  a.blue-link {
  	&, &:link, &:visited, &:hover, &:active {
  		color: $brand-primary !important;

  		strong {
  			color: $brand-primary !important;
  		}
  	}
  }

  .speakers {
    margin: 50px 0 0 0 !important;

    h2.bb {
      margin-bottom: 40px !important;
    }

    .row:first-child {
      margin-top: 0px;
    }

    .columns {
      cursor: pointer;
    }

    .name {
      font-family: "chalet-paris-sixty", sans-serif;
      font-weight: normal;
      color: #000;
    }

    .company {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: bold;
      white-space: nowrap;

      a, a:link, a:visited, a:hover, a:active {
        color: #000 !important;

      }
    }
  }

  .event-partners {
    margin: 0px;

    img {
      margin: 20px auto 40px auto;
    }

    .logos {

      img {
        position: relative;
        margin: 30px;

        &.hattori {
          top: 4px;
        }

        &.paulmitchell {
          max-width: 130px;
          height: auto;
        }        

        &.salongenius {
          max-width: 160px;
          height: auto;
        }

        &.pulpriot {
          max-width: 105px;
          height: auto;
        }

        &.salontech {
          top: 5px;
          max-width: 120px;
          height: auto;
        }

        &.sola {
          //top: -20px;
          left: -4px;
        }

        &.amika {
          max-width: 60px;
          height: auto;
          top: -10px;
        }

        &.redken {
          max-width: 142px;
          height: auto;
          top: 2px;
        }

        &.lanza {
          max-width: 142px;
          height: auto;
          top: 2px;
        }

        &.inspiringchampions {
          max-width: 142px;
          height: auto;
          top: -15px;
        }

        &.easihairpro {
          max-width: 210px;
          height: auto;
        }

        &.hairdo {
          top: -4px;
          max-width: 130px;
          height: auto;
        }

        &.opi {
          max-width: 110px
        }
      }
    }
  }

  .getting-there {
  	margin: 0 0 40px 0;
  }

  .watch-our-video {
    padding: 0;//20px 0 40px 0;
    margin: 40px 0 60px 0;
    background: transparent;

    h6 {
      font-size: 15px;
      font-style: italic;
      color: #000;
      text-align: center;
      margin: 15px 0 0 0;
    }

    img {
      border: 0 !important;
    }

    .play-video {
      margin-top: 0 !important;
    }

    .play-btn {
      background: #FFF !important;
      width: 60px !important;
      height: 60px !important;
      margin: -30px 0 0 -30px !important;
      text-transform: uppercase;
      
      span {
        line-height: 20px !important;
        font-size: 20px !important;
        color: $brand-pink !important;
        margin: -10px 0 0 -5px !important;
      }

      .text {
        position: absolute;
        bottom: -30px;
        left: -11px;
        font-size: 14px !important;
        font-weight: 700 !important;
        color: #FFF !important;
        display: block;
        white-space: nowrap !important;
        word-spacing: 1px;
        letter-spacing: 1px;
      }
    }
  }

  .giant-video {
    position: relative;
    margin-top: 0px;

    &.owl-carousel .owl-item .item a {
      overflow: visible;
    }

    .giant-video-button-wrapper {
      position: relative;

      .text {
        position: absolute;
        bottom: -90px;
        left: 50%;
        margin-left: -140px;
      }
    }

    .giant-video-btn {
      background: #FFF !important;
      width: 90px !important;
      height: 90px !important;
      text-transform: uppercase;
      border-radius: 45px;
      
      .fa-play {
        line-height: 31px !important;
        font-size: 31px !important;
        color: $brand-pink !important;
        position: relative;
        top: 31px;
        left: 5px;
      }
    }


      .text {
        // position: absolute;
        // bottom: -30px;
        // left: -11px;
        @include helvetica;
        font-size: 20px !important;
        line-height: 30px !important;
        font-weight: normal !important;
        color: #FFF !important;
        display: block;
        white-space: nowrap !important;
        word-spacing: 1px;
        letter-spacing: 1px;
      }
  }

  .discounted-rooms {
  	padding: 40px 0;
  	background: #f4f9fb;

    h2 {
    	@include chalet_paris;
	    font-size: 45px !important;
	    line-height: 55px !important;
      color: #000;
      font-weight: normal;
      margin-bottom: 10px;
    }
    h3 {
    	@include chalet_paris;
	    font-size: 31px !important;
	    line-height: 41px !important;
      color: #000;
      font-weight: normal;
      margin-bottom: 30px;

      strong {
        @include chalet_new_york;
      	font-weight: bold !important;
      	color: $brand-pink;
      }
    }
    h4 {
      font-size: 21px;
      letter-spacing: 2px;
      margin-bottom: 15px;
    }
    p {
    	margin-bottom: 0;
    }
    .button-wrapper {
      margin: 30px 0;
    }
    a.button, a.button:link, a.button:visited, a.button:hover, a.button:active {
    	@include chalet_new_york;
      font-size: 21px !important;
      line-height: 21px !important;
      padding: 25px 90px 20px 90px !important;
      background: transparent;
      border: 2px solid $brand-pink;
      color: #000 !important;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: bold !important;
      margin-bottom: 0;

      &.disabled {
        cursor: default;
        pointer-events: none;
        //background: gray;
        opacity: 0.42;
      }
    }
  }
}


@media (max-width: 850px) {
  .session-2018 {
    a.buy-now-button, a.buy-now-button:link, a.buy-now-button:visited, a.buy-now-button:hover, a.buy-now-button:active {
      padding: 20px 60px;
      font-size: 20px;
      line-height: 20px;
    }
    .event-details, .date-and-time, .description, .header { 
      p, li, .check-row {
        font-size: 14px !important;
        line-height: 24px !important;
        color: #4A4A4A !important;
      }
      .check-row {
        white-space: nowrap;
      }
    }
  }
}

@media (max-width: 650px) {
  .session-2018 {
    a.buy-now-button, a.buy-now-button:link, a.buy-now-button:visited, a.buy-now-button:hover, a.buy-now-button:active {
      padding: 15px 30px;
      font-size: 12px;
      line-height: 12px;
    }
    .owl-carousel .item .item-content p {
      margin: 10px 30px 0 30px !important;
    }
    .event-details, .date-and-time, .description, .header { 
      // p, li, .check-row {
      //   font-size: 13px !important;
      //   line-height: 23px !important;
      // }
      .check-row {
        white-space: nowrap;
      }
    }
    .header {
      h1 {
        font-size: 39px !important;
        line-height: 49px !important;
      }
      h2 {
        font-size: 21px !important;
        line-height: 31px !important;
      }
      h4 {
        font-size: 17px !important;
        line-height: 21px !important;
      }
    }
    h2.bb {
      font-size: 27px !important;
      line-height: 37px !important;
    }
    .discounted-rooms {
      h2 {
        font-size: 27px !important;
        line-height: 37px !important;
      }
      h3 {
        font-size: 19px !important;
        line-height: 29px !important;
      }
      a.button {
        &, &:link, &:visited, &:hover, &:active {
          font-size: 19px !important;
          line-height: 19px !important;
          padding: 20px 75px 17px 75px !important;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .session-2018 .early-bird-general-admission {
    .early-bird, .general-admission {
      width: 100%;
      margin: 0 0 15px 0;

      h2 {
        font-size: 43px !important;
        line-height: 43px !important;
      }
    }
  }
}

@media (max-width: 550px) {
  .session-2018 {
    .owl-carousel .learn-more-button {
      bottom: 5px;
    }

    .owl-carousel .item .img-wrap {
      left: 0;
      position: relative;
      height: auto;
    }
    .owl-carousel .item .img-wrap img {
      left: 0;
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 500px) {
  .session-2018 {
    .owl-carousel .item .img-wrap {
      left: 0;
      position: relative;
      height: auto;
    }
    .owl-carousel .item .img-wrap img {
      left: 0;
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 450px) {
  .session-2018 {
    .owl-carousel .item .img-wrap {
      left: 0;
      position: relative;
      height: auto;
    }
    .owl-carousel .item .img-wrap img {
      left: 0;
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 400px) {
  .session-2018 {
    .owl-carousel .item .img-wrap {
      left: 0;
      position: relative;
      height: auto;
    }
    .owl-carousel .item .img-wrap img {
      left: 0;
      width: 100%;
      height: auto;
    }
  }
}