@import 'variables';
@import 'bootstrap/mixins';

ul.social {
  overflow: hidden;
  margin-top: 25px;

  li {
    margin: 0;
    display: block;
    float: left;
    width: 25%;
    text-align: center;

    a, a:link, a:visited, a:hover, a:active {
      padding: 5px 0;
      margin: 0;
      background: #FFF;
      display: block;
      font-size: 20px;
      color: #000;
      text-decoration: none;

      border: 1px solid #DBDBDB;
      border-right: 1px solid transparent;
      @include transition(none);


      span {
        position: relative;
        top: 2px;
      }
    }

    a:hover, a:active {
      @include gradient-vertical(lighten($brand-pink, 30%), $brand-pink);
      color: #FFF;
      border: 1px solid $brand-pink;
    }

    &:last-child a {
      border: 1px solid #DBDBDB;

      &:hover, &:active {
        border: 1px solid $brand-pink;
      }
    }    
  }

  &.stylist-social {
    margin: -15px 0 15px 0;
    border: 0;
    display: flex;
    display: -webkit-flex;
    align-content: stretch;
    
    li {
      border: 0;
      flex: 1;

      a {
        font-size: 25px;
        flex: 1;
        border: 0 !important;
        @include transition(color .2s ease);

        &:hover, &:active {
          background: transparent;
          color: $brand-pink;
        }
      }
    }
  }
}

.location-social {
  margin: 50px auto 0px auto;
  text-align: center;
  white-space: nowrap;
  overflow: visible;

  li {
    display: inline-block;
    margin-right: 30px;
    list-style: none;
    padding: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    text-align: center;
    padding-top: 21px;
    display: block;
    width: 72px;
    height: 72px;
    font-size: 27px !important;
    border-radius: 50%;
    border: 1px solid #E8E8E8;
    color: #000;
    text-decoration: none;
    @include transition(none);

    &:hover, &:active {
      border: 1px solid $brand-pink;
      background: $brand-pink;
      color: #FFF;
    }
  }
}

ul.social.three {

  li {
    width: 33%;
  }
}

@media (max-width: 550px) {
  .location-social {
    margin: 40px 0 10px 0;

    li {
      margin-right: 15px;
    }
  }
}