ul.social {
  overflow: hidden;
  margin-top: 25px;
  border: 1px solid #DBDBDB;

  li {
    margin: 0;
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    border-right: 1px solid #DBDBDB;

    
    &:last-child {
      border-right: 0;
    }

    a, a:link, a:visited, a:hover, a:active {
      padding: 5px 0;
      margin: 0;
      background: #FFF;
      display: block;
      font-size: 20px;
      color: #000;
      text-decoration: none;

      span {
        position: relative;
        top: 2px;
      }
    }
  }
}