@import 'variables';
@import 'bootstrap/mixins';

/**************
* Sola Genius *
***************/

.own-your-salon .hero-fullscreen img.introducing_sola_genius {
  position: absolute;
  top: 50%;
  left: 50% ;
  margin: (-153px / 1.35) 0 0 (-395px / 1.35);
  width: (790px / 1.35);
  height: (306px / 1.35);
  min-height: auto;
} 

.down_circle_arrow_icon {
  position: absolute;
  left: 50%;
  margin-left: -39px;
  bottom: 20px;
  background: asset-url('own/down_circle_arrow_icon.png') no-repeat;
  background-size: 78px 78px;
  width: 78px;
  height: 78px;
  z-index: 3;
  cursor: pointer;

  &:hover, &:active {
    opacity: 0.2 !important;
  }
}

.sizzle-video-controls {
  display: none;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  margin-left: -(124px / 2);
  margin-top: -(103px / 2);

  .gradient-play-button {
    background: asset-url('own/gradient-play-button.png') no-repeat;
    background-size: 78px 78px;
    width: 78px;
    height: 78px;
    z-index: 3;
    cursor: pointer;
    display: inline-block;
  }

  .sizzle-video-controls-text {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFF !important;
  }
} 

.sola-genius-phone-gallery-wrapper .arrow-left {
  left: -60px;
}

.sola-genius-phone-gallery-wrapper .arrow-right {
  right: -60px;
}

.sola-genius {
  overflow-x: hidden;

  .run-your-sola-like-a-boss {
    display: block;
    margin: 0 auto -10px auto;
  }

  .sola-genius-gallery {
    position: relative;
    // min-height: 90vh;
    // height: 90vh;
    padding: 0;
    background: asset-url('own/sola-letters-background.gif') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .sola-genius-gallery-inner {
    position: absolute;
    top: 50%;
    left: 0;
  }

  .sola-genius-phone-gallery-desktop {
    display: block;
  }

  .sola-genius-phone-gallery-mobile {
    display: none;
  }

  .sola-genius-phone-gallery {
    position: relative;
    top: 48px;
    left: 5px;
  }

  .sola-genius-phone-carousel {
    position: absolute;
    z-index: 3;

    top: 71px;
    left: 63px;
    
    width: (241px / 1.5) + .33 !important;
    height: (433px / 1.5) !important;

    .item img {
      width: (241px / 1.5) !important;
      height: (433px / 1.5) !important;
    }
  }

  .sola-genius-phone {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: asset-data-url('own/sola-genius-iphone.png') no-repeat center;

    background-size: (425px / 1.5) (694px / 1.5);
    width: (425px / 1.5);
    height: (694px / 1.5);
  }

  .sola-genius-feature-list-desktop {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    position: relative;
    top: 90px;
    left: 45px;

    li {
      margin: 0;
      padding: 0;
      position: relative;
      cursor: pointer;
      opacity: 0.2;
      overflow: visible;

      &:hover, &:active, &.active {
        opacity: 1;
      }
    }

    .sola-genius-icon {
      position: absolute;
      top: 0;
      left: 0;

      &.online-booking-icon {
        top: 1px;
        left: 1px;
      }
      &.simple-calendar-interface-icon {
        top: 2px;
      }
      &.appointment-notifications-icon {
        top: 5px;
        left: 1px;
      }
      &.client-notes-icon {
        top: 5px;
      }
      &.point-of-sale-icon {
        top: 2px;
        left: 2px;
      }
      &.credit-card-processing-icon {
        top: 5px;
      }     
      &.analytics-and-reports-icon {
        top: 3px;
      }
      &.reliable-customer-support-icon {
        top: 3px;
        left: -1px;
      }
    }

    h2 {
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      font-size: 15px;
      line-height: 19px;
      letter-spacing: 0;
      text-transform: none;
      display: inline-block;
      padding-left: 38px;
    }
  }

  .sola-genius-icon {
    display: inline-block;
    overflow: visible;

    &.online-booking-icon {
      background: asset-data-url('own/sola-genius-icons/online-booking.png');
      background-size: (102px / 5) (105px / 5);
      width: (102px / 5);
      height: (105px / 5);
    }
    &.simple-calendar-interface-icon {
      background: asset-data-url('own/sola-genius-icons/simple-calendar-interface.png');
      background-size: (107px / 5) (105px / 5);
      width: (107px / 5);
      height: (105px / 5);
    }
    &.appointment-notifications-icon {
      background: asset-data-url('own/sola-genius-icons/appointment-notifications.png');
      background-size: (96px / 5) (83px / 5);
      width: (96px / 5);
      height: (83px / 5);
    }
    &.text-message-marketing-icon {
      background: asset-data-url('own/sola-genius-icons/text-message-marketing.png');
      background-size: (106px / 5) (102px / 5);
      width: (106px / 5);
      height: (102px / 5);
    }
    &.client-notes-icon {
      background: asset-data-url('own/sola-genius-icons/client-notes.png');
      background-size: (101px / 5) (79px / 5);
      width: (101px / 5);
      height: (79px / 5);
    }
    &.point-of-sale-icon {
      background: asset-data-url('own/sola-genius-icons/point-of-sale.png');
      background-size: (88px / 5) (101px / 5);
      width: (88px / 5);
      height: (101px / 5);
    }
    &.credit-card-processing-icon {
      background: asset-data-url('own/sola-genius-icons/credit-card-processing.png');
      background-size: (114px / 5) (73px / 5);
      width: (114px / 5);
      height: (73px / 5);
    }
    &.analytics-and-reports-icon {
      background: asset-data-url('own/sola-genius-icons/analytics-and-reports.png');
      background-size: (114px / 5) (87px / 5);
      width: (114px / 5);
      height: (87px / 5);
    }
    &.reliable-customer-support-icon {
      background: asset-data-url('own/sola-genius-icons/reliable-customer-support.png');
      background-size: (119px / 5) (96px / 5);
      width: (119px / 5);
      height: (96px / 5);
    }
  }

  .sola-genius-descriptions-desktop {
    padding: relative;

    p {
      position: absolute;
      top: 90px;
      left: 0;
      display: none;
      color: #000;
      font-size: 19px;
      font-weight: 300;
      line-height: 33px;

      &.active {
        display: block;
      }
    }
  }

  .sola-genius-get-started-desktop {
    margin-top: 320px;
  }

  .sola-genius-get-started {

    a.button, a.button:link, a.button:visited, a.button:hover, a.button:active {
      display: inline-block;
      background: rgb(135,203,251); /* Old browsers */
      background: -moz-linear-gradient(left, rgba(135,203,251,1) 0%, rgba(200,123,250,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(135,203,251,1) 0%,rgba(200,123,250,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba(135,203,251,1) 0%,rgba(200,123,250,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87cbfb', endColorstr='#c87bfa',GradientType=1 ); /* IE6-9 */
      color: #FFF;
      font-family: 'Lato', sans-serif;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 1px;
      word-spacing: 3px;
      padding: 14px 36px 15px 36px;
      border-radius: 44px;
      text-transform: uppercase;
      border: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      @include box-shadow(0px 7px 40px 1px rgba(73, 156, 211, 0.5));
    }

    p {
      margin: 30px 0 0 0;
    }
    strong {
      font-size: 15px;
      line-height: 17px;
      font-weight: bold;
      color: #000;
    }
  }

  .sola-genius-pricing-desktop, .sola-genius-pricing-mobile {
    display: none;
    padding: 30px 0 0 0;
    text-align: center;

    p {
      font-size: 15px;
      line-height: 25px;
      color: #505050;

      strong {
        color: #202020;
      }

      &:last-child {
        margin-bottom: 0;
      }

      a, a:link, a:visited, a:hover, a:active {
        text-decoration: none;
        cursor: pointer;
        color: #111;
      }
      a:hover, a:active {
        color: #777 !important;

        strong {
          color: #777 !important;
        }
      }
    }
  }

  .sola-genius-pricing-desktop {
    display: block;
    margin-top: 15px;
  }

  .owl-theme .owl-controls .owl-pagination {
    display: none;
  }

  // .sola-genius-pricing-mobile {
  //   display: none;
  // }

}



/**********************************************/
/* iPads (portrait and landscape) ----------- */
/**********************************************/

@media (max-width : 1000px) {
  .own-your-salon .hero-fullscreen img.introducing_sola_genius {
    margin: (-153px / 1.75) 0 0 (-395px / 1.75);
    width: (790px / 1.75);
    height: (306px / 1.75);
  }  

  .sola-genius {

    .sola-genius-icon-wrapper {
      height: 35px;
      display: block;
      overflow: hidden;
    }
    
    .owl-theme .owl-controls .owl-pagination {
      display: block;
      bottom: auto !important;
      top: -77px;
      left: -10px;
      right: -10px;
      white-space: nowrap;

      .owl-page span {
        background: rgba(0,0,0,0.3);
        width: 7px;
        height: 7px;
        margin: 0 7px;
      }
      .owl-page.active span {
        background: rgba(0,0,0,0.7);
      }
    }

    .sola-genius-feature-list-desktop {
      // margin-top: 0;
      // margin-bottom: 30px;
      // height: 80px;
      position: static;
      top: auto;
      left: auto;
      display: block;
      clear: both;
      margin: 15px auto 20px auto;

      li {
        display: none;
        text-align: center;

        &.active {
          display: block;
        }

        .sola-genius-icon, h2 {
          display: block;
          clear: both;
          padding: 0;
          margin: 0 auto;
          top: auto !important;
          left: auto !important;
          position: static;
          font-size: 19px;
        }
        .sola-genius-icon {
          margin-bottom: 12px;
        }
      }
    }

    .down_circle_arrow_icon {
      position: absolute;
      left: 50%;
      margin-left: (-39px / 1.5);
      bottom: (39px / 1.5);
      background: asset-url('own/down_circle_arrow_icon.png') no-repeat;
      background-size: (78px / 1.5) (78px / 1.5);
      width: (78px / 1.5);
      height: (78px / 1.5);
      z-index: 3;
      cursor: pointer;
    }

    .one-third.column {
      width: 100%;
      display: block;
      float: none;
      margin: 0;
    }

    .sola-genius-phone-gallery-wrapper {
      text-align: center;
    }

    .sola-genius-phone-gallery {
      position: relative;
      top: auto;
      left: auto;
      margin: 0 auto -60px auto;
      display: block;
      clear: both;
      //overflow: hidden;
      display: inline-block;

      .sola-genius-phone {
        position: static;
        top: auto;
        left: auto;
        background-size: (425px / 1.5) (694px / 1.5);
        width: (425px / 1.5);
        height: (694px / 1.5);
        overflow: hidden;
      }
    }

    .sola-genius-phone-carousel {
      top: 71px;
      left: 62px;
      width: (241px / 1.5 + 1px) !important;
      height: (433px / 1.5 + 1px) !important;

      .item img {
        width: (241px / 1.5 + 1px) !important;
        height: (433px / 1.5 + 1px) !important;
      }
    }

    .sola-genius-get-started-desktop {
      margin: 15px auto 0 auto;
      text-align: center;

      p {
        margin-top: 10px;
      }
    }

    .sola-genius-descriptions-desktop {
      padding: 0;
      margin: -10px auto 0 auto;
      max-width: 350px;
      height: 130px;
      overflow: visible;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;

      -ms-flex-align: center;
      -webkit-align-items: center;
      -webkit-box-align: center;


      p {
        position: static;
        top: auto;
        left: auto;
        display: none;
        color: #000;
        font-size: 18px;
        font-weight: 300;
        line-height: 29px;
        text-align: center;
        padding: 0px;
        margin: 0;

        &.active {
          display: block;
        }
      }
    }  

    .sola-genius-gallery {
      padding: 0;
      background: asset-url('own/sola-letters-background-mobile.gif') no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    .run-your-sola-like-a-boss {
      display: none;
    }

    .sola-genius-pricing-desktop {
      display: none;
    }

    .sola-genius-pricing-mobile {
      display: block;
      padding: 15px;
      background: #1b1d21;

      p {
        color: #FFF;

        strong {
          color: #FFF;
        }

        a, a:link, a:visited, a:hover, a:active {
          color: #FFF !important;
        }
        a:hover, a:active {
          color: #777 !important;
        }
      }
    }
  }
}



/****************************************************/
/* Smartphones (portrait and landscape) ----------- */
/****************************************************/

@media (max-width : 740px) {
  .own-your-salon .hero-fullscreen img.introducing_sola_genius {
    margin: (-153px / 1.95) 0 0 (-395px / 1.95);
    width: (790px / 1.95);
    height: (306px / 1.95);
  } 

  .sola-genius .owl-theme .owl-controls .owl-pagination {
    top: -60px;
    left: -47px;
  }

  .sola-genius {

    .sola-genius-feature-list-desktop li h2 {
      font-size: 15px;
    }

    .sola-genius-phone-carousel {
      position: absolute;
      z-index: 3;

      top: 43px;
      left: 38px;
      
      width: (241px / 2.5) + .33 !important;
      height: (433px / 2.5) !important;

      .item img {
        width: (241px / 2.5) !important;
        height: (433px / 2.5) !important;
      }
    }

    .sola-genius-phone-gallery {
      .sola-genius-phone {
        background-size: (425px / 2.5) (694px / 2.5);
        width: (425px / 2.5);
        height: (694px / 2.5);
      }
    }

    .sola-genius-descriptions-desktop {
      padding: 0;
      margin: 10px auto 0 auto;
      max-width: 350px;
      height: 90px;

      p {
        font-size: 15px;
        line-height: 25px;
      }
    }
  }
}


@media (max-width : 640px) {
  .own-your-salon .hero-fullscreen img.introducing_sola_genius {
    margin: (-153px / 2.15) 0 0 (-395px / 2.15);
    width: (790px / 2.15);
    height: (306px / 2.15);
  }   
}

@media (max-width : 540px) {
  .own-your-salon .hero-fullscreen img.introducing_sola_genius {
    margin: (-153px / 2.85) 0 0 (-395px / 2.85);
    width: (790px / 2.85);
    height: (306px / 2.85);
  }   
}