@import 'mixins';
@import 'variables';

.testimonials-page {
  h1.title {
    text-align: center;
    margin-top: 70px; 
  }

  .featured-testimonials {

    .owl-carousel {
      margin-top: -50px;
    }

    .owl-theme .owl-controls {
      margin-top: 0;
    }

    .owl-theme .owl-controls .owl-pagination {
      position: static;
      bottom: auto;
      left: auto;
      right: auto;
      margin: -10px 0 60px 0;
    }

    .owl-theme .owl-controls .owl-page span {
      background: $brand-primary;
      opacity: 0.2;
    }

    .owl-theme .owl-controls .owl-page.active span {        
      background: $brand-primary;
      opacity: 1;
    }
  }

}

.testimonial-portrait {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #FFF;
}

.block-quote-testimonial {
  margin: 60px auto -15px auto;
  padding: 30px 0 30px 0;
  max-width: 650px;
  text-align: center;
  background: asset-url('Quote@2x.jpg') no-repeat center top;
  background-size: (280px / 2) (344px / 2);  

  h3, h4 {
    margin: 0;
  }

  h3 {
    line-height: 40px;
    margin-bottom: 30px;
  }

  h4.studio-name {
    margin-top: 5px;
    font-size: 13px;
    color: #9B9B9B;
  }
}


.featured-testimonials {
  margin-top: 60px;
  margin-bottom: 5px;

  .featured-testimonial {
    margin: 40px 120px;

    text-align: center;

    h1.chalet {
      margin: 0 0 40px 0;
    }
    h4 {
      margin: 0 0 0 0;
    }
  }

  .arrow-left, .arrow-right {
    width: 49px;
    height: 49px;
  }

  .arrow-left {
    left: 0;
    background: #FFF asset-url('Left_Inactive@2x.png') no-repeat center;
    background-size: 49px 49px;

    &:hover, &:active {
      background: #FFF asset-url('Left_Active@2x.png') no-repeat center;
      background-size: 49px 49px;
    }
  }

  .arrow-right {
    right: 0;
    background: #FFF asset-url('Right_Inactive@2x.png') no-repeat center;
    background-size: 49px 49px;

    &:hover, &:active {
      background: #FFF asset-url('Right_Active@2x.png') no-repeat center;
      background-size: 49px 49px;
    }
  }

  .owl-wrapper {
    display: table !important;
  }
  
  .owl-item {
    //display: none;
    display: table-cell !important;
    float: none;
    vertical-align: middle;
  }  
}


.sola-spotlights {
  margin-top: 3px;
  margin-bottom: 0;

  .arrow-left, .arrow-right {
    width: 50px;
    height: 50px;
  }

  .arrow-left {
    left: 0;
    background: $brand-pink asset-url('Arrow_Left_Large@2x.png') no-repeat 17px 12px;
    background-size: 14px 27.5px;
  }

  .arrow-right {
    right: 3px;
    background: $brand-pink asset-url('Arrow_Right_Large@2x.png') no-repeat 20px 12px;
    background-size: 14px 27.5px;
  }
}

.sola-spotlight {
  position: relative; 

  .item {
    width: 320px;
    height: 432px;
  }

  img {
    width: 320px;
    height: 432px;
    border-right: 3px solid #FFF;
  }

  .carousel-text-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 2px;
    height: 33%;
    padding: 15px 0;
    @include background-gradient(transparent, rgba(0,0,0,0.9));
  }

  h1, h3 {
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    color: #FFF;
  }

  h1 {
    font-size: 32px;
    line-height: 38px;
    bottom: 36px;
  }

  h3 {
    bottom: 15px;
  }
}



.half-testimonial {
  margin: 60px 0 0 0;
  padding-bottom: 40px;
  border-bottom: 1px dashed #D7D7D7;

  width: 48% !important;
  margin-right: 2%;

  &:last-child {
    margin-left: 2%;
    margin-right: 0;
  }

  .testimonial-author {
    text-align: center;

    img {
      margin: 10px auto 15px auto;
      width: 111px;
      height: 111px;  
      @include border-radius(111px / 2);
    }

    h4 {
      margin: 0;
    }
  }
}

.row.last .half-testimonial {
  border-bottom: 0;
}





@media (max-width: 550px) {

  .sola-spotlights-testimonials {
    border-bottom: 1px dashed #D7D7D7;
    padding-bottom: 40px;    
  }

  .featured-testimonials {
    margin-top: 60px;
    margin-bottom: 5px;

    .featured-testimonial {
      margin: 30px 80px;

      text-align: center;
      h1 {
        font-size: 24px;
        line-height: 32px;
      }
      h3.subtle {
        margin-top: 30px;
      }
    }

  }

  .half-testimonial {
    margin: 30px 0 0 0;
    padding-bottom: 30px;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .row.last .half-testimonial:first-child {
    border-bottom: 1px dashed #D7D7D7;
  }

}