@import 'variables';
@import 'bootstrap/mixins';

.tile-mask {
	position: relative;
  display: block;

  img {
  	width: 100%;
  	height: auto;
  	border-radius: 4px;
  }

  .content {
  	position: absolute;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	padding: 45px;
  }  
}

.tile-for-professionals-own-your-salon {

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			margin-bottom: 0;

			span.forward-arrow-white {
				float: right;
    		position: relative;
    		top: 3px;
    		@include transition(opacity 0.15s ease-in-out);
    		opacity: 1;
			}

			a, a:link, a:visited, a:hover, a:active {
				display: block;
				color: rgba(255, 255, 255, 1);
				text-decoration: none;
				@include transition(color 0.15s ease-in-out);
				padding: 15px 0 14px 0;
				border-bottom: 1px solid rgba(255, 255, 255, 0.25);
			}

			a:hover, a:active {
				color: rgba(255, 255, 255, 0.5);

				span.forward-arrow-white {
					opacity: 0.5;
				}
			}



			&:last-child {

				a, a:link, a:visited, a:hover, a:active { 
					border-bottom: 0;
				}
			}
		}
	}

	h4 {
		margin: 0;
	}



	h5 {
		color: #FFF;
	}
}

.tile-for-customers-find-a-stylist {

	h5 {
		color: #000;
	}
}