@import 'variables';
@import 'bootstrap/mixins';

.tile-mask {
	position: relative;
  display: block;

  img {
  	width: 100%;
  	height: auto;
  	border-radius: 4px;
  }

  .content {
  	position: absolute;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	padding: 45px 35px;
  }  
}

.tile-for-professionals-own-your-salon {

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			margin-bottom: 0;

			span.forward-arrow-white {
				float: right;
    		position: relative;
    		top: 3px;
    		@include transition(opacity 0.15s ease-in-out);
    		opacity: 1;
			}

			a, a:link, a:visited, a:hover, a:active {
				display: block;
				color: rgba(255, 255, 255, 1);
				text-decoration: none;
				@include transition(color 0.15s ease-in-out);
				padding: 15px 0 14px 0;
				border-bottom: 1px solid rgba(255, 255, 255, 0.25);
			}

			a:hover, a:active {
				color: rgba(255, 255, 255, 0.5);

				span.forward-arrow-white {
					opacity: 0.5;
				}
			}

			&:last-child {

				a, a:link, a:visited, a:hover, a:active { 
					border-bottom: 0;
				}
			}
		}
	}

	h4 {
		margin: 0;
	}

	h2, h5, p {
		color: #FFF;
		white-space: nowrap;
	}

	.left-two-thirds, .right-one-third, .left-one-half, .right-one-half {
		position: absolute;
		top: 45px;
		bottom: 45px;
	}

	.left-one-half {
		left: 45px;
		right: calc(50% + 10px);
	}

	.left-two-thirds {
		left: 45px;
		right: calc(33% + 10px);
	}

	.right-one-third {
		right: 45px;
		left: calc(67% + 10px);		
	}

	.right-one-half {
		right: 45px;
		left: calc(50% + 10px);
	}

	.play-button-wrapper {
		text-align: center;
		margin-top: 80px;
		margin-left: 50px;

		a, a:link, a:visited, a:hover, a:active {
			text-decoration: none;

			span, p {
				opacity: 1;
		  	@include transition(opacity .25s ease);
			}

			p {
				margin: 5px 0 0 0;
			}
		}
		a:hover, a:active {
			span, p {
				opacity: 0.5;
			}
		}
	}
}

.tile-for-customers-find-a-stylist {

	h2 {
		margin-bottom: 0;
	}

	h5 {
		color: #000;
	}

	p {
		font-size: 14px;
		color: #4A4A4A;
	}
}