h1 {
  font-family: 'Dosis', Arial, sans-serif;
  font-size: 36px;
  letter-spacing: 0px;
  line-height: 44px;
  font-weight: 300;
  color: #000;
}

h2 {
  font-family: 'Dosis', Arial, sans-serif;
  font-size: 24px;
  letter-spacing: 3px;
  line-height: 100%;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
}

h3 {
  font-family: 'Dosis', Arial, sans-serif;
  font-size: 13px;
  letter-spacing: 3px;
  line-height: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
}

h4 {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 35px;
  font-weight: 300;
  color: #C7C7C7;
}

p {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 16px;
  font-weight: 400;
  color: #4A4A4A;
}

p.subtle {
  color: #C7C7C7;
}