.who-we-are {
	position: static;

	h1 {
		margin: 20px auto 30px auto;
	}

	.img-wrap {
	  position: relative;
	  padding-bottom: 67%;
	  margin: 10px auto 50px auto;

	  img {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: auto;
	    //border-radius: 4px;
	    z-index: 1;
	  }  
	}

	.who-we-are-1 {
		position: relative;
		display: flex;

		img {
			//position: absolute;
			//right: 0;
			//width: 50%;
			width: 100%;
			height: auto;
			align-self: center;
		}

		.box {
			 //linear-gradient(to bottom right, red, yellow); 
		}
	}

	.our-mission, .our-values {
		margin-bottom: 60px;
	}
	
	.cta-own {
    margin-top: 20px;
    margin-bottom: 100px;
	}
}

@media (max-width: 850px) {

	.who-we-are {

		.cta-own {
			margin-top: 0;
			margin-bottom: 50px;
		}
	}

}