<div class="hero-text">
  <div class="text">
    <h1>Learn More About Sola</h1>
    <h3>Click to watch video</h3>
  </div>
  <%= image_tag 'gray.gif' %>
  <div class="learn-more">
    <h3>Learn More</h3>
    <span class="ss-navigatedown"></span>
  </div>
</div>

<div class="container content-container">
  <div class="row">
    <h1>About Us</h1>
  </div>
</div>