<%= render 'shared/public_website/about_us_nav', :page => :leadership %>

<div class="container content-container">

	<%= link_to :leadership, :class => 'back-to-parent' do %>
		<span class="back-arrow-black"></span>
		<span class="back-arrow-pink"></span>
		<span class="name"><%= t 'page.leadership.title' %><span>
	<% end %>
	
	<h2>Jennie Wolff</<h2>
	<p><%= t 'page.leadership.vice_president_marketing' %></p>

</div>

<% content_for(:title) { "#{t('page.leadership.title').html_safe} - Jennie Wolff" } %>
<% content_for(:canonical_url) { "https://www.solasalonstudios.#{I18n.locale != :en ? 'ca' : 'com'}/leadership/jennie-wolff" } %>
<% content_for(:meta_description) { t('page.leadership.meta_description') } %>