@import 'mixins';
@import 'variables';

.BookingModalOverlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.9);
	z-index: 99;
}

.BookingModal {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -300px 0 0 -300px;
	width: 600px;
	height: 600px;
	// max-width: 600px;
	// max-height: 600px;
	background: #FFF;

	&.FullWidth {
		left: 0;
		right: 0;
		width: 100%;
		margin-left: 0;
	}

	&.FullHeight {
		top: 0;
		bottom: 0;
		height: 100%;
		margin-top: 0;
	}

	.BookingModalHeader {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 48px;
		overflow: hidden;
		background-color: #121D25;
		text-align: center;
		color: #FFFFFF;	
		font-family: 'Lato', sans-serif;	
		font-size: 16px;	
		font-weight: bold;	
		line-height: 16px;	
		padding-top: 16px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;	

		.close-x {
			position: absolute;
			top: 7px;
			right: 16px;

			.fa {
				cursor: pointer;
				color: #FFF;
				font-size: 30px;
				line-height: 30px;
			}
		}
	}

	.BookingModalBody {
		position: absolute;
		top: 48px;
		bottom: 100px;
		left: 0;
		right: 0;
		overflow: hidden;
		overflow-y: scroll;
		z-index: 9;
	}

	.BookingModalFooter {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100px;
		background: #FFF;
		border-top: 1px solid #EEE;
		padding: 15px;

		.ChargedAfterAppointment {
			color: #9B9B9B;	
			@include helvetica;
			font-size: 14px;	
			font-style: italic;	
			font-weight: 300;	
			line-height: 16px;
			width: 50%;
			float: left;
			clear: both;
			text-align: left;
			margin-top: 5px;
		}

		.Total {
			color: #000000;	
			@include helvetica;
			font-size: 18px;	
			font-weight: 300;	
			line-height: 24px;
			width: 50%;
			float: left;
			clear: none;
			margin-top: 15px;

			strong {
				font-weight: bold;
			}
		}

		.Button {
			margin-top: 15px;
			text-align: right;
		}

		button.primary {
			font-size: 14px;
			line-height: 16px;
			padding: 16px 40px;
	    height: 44px;
		}
	}
}

.fa-times-thin:before {
	content: '\00d7';
}

.BookingModalReview {
	position: relative;

	.Header {
		position: relative;
		height: 150px;
		width: 100%;
		background: #77b7e0; /* Old browsers */
		background: -moz-linear-gradient(left, #77b7e0 0%, #e744a8 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, #77b7e0 0%,#e744a8 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #77b7e0 0%,#e744a8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77b7e0', endColorstr='#e744a8',GradientType=1 ); /* IE6-9 */		
		padding: 20px;
	}

	.ProfessionalCoverImage {
		position: relative;
		height: 110px;	
		width: 110px;	
		display: block;
		overflow: hidden;

		img {
			display: block;
			height: 110px;	
			width: 110px;	
			border-radius: 2px;
		}

		.Gradient {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			top: 70%;
			z-index: 8;

			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+100 */
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, #000000 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0,0,0,0)', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
		}
	}

	.ProfessionalInfo {
		position: absolute;
		top: 20px;
		bottom: 20px;
		left: 160px;
		right: 20px;
		z-index: 9;
		display: flex;
    flex-direction: column;

		.ProfessionalName {
			flex: 1;
			@include chalet_paris;
			font-size: 24px;	
			line-height: 26px;
			color: #FFF;	
			margin-bottom: 0;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.ProfessionalAddress {
			flex: 1;
			color: #FFFFFF;	
			@include helvetica;
			font-size: 14px;	
			font-weight: 300;	
			line-height: 20px;
			margin-bottom: 0;
		}

		a.Contact, a.Contact:link, a.Contact:visited, a.Contact:hover, a.Contact:active {
			display: flex;
			flex: 1;
			align-items: flex-end;

			@include chalet_paris;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;	
			color: #FFFFFF;	
			@include helvetica;
			font-size: 14px;	
			font-weight: bold;	
			line-height: 20px;
			margin-bottom: 0;
			text-decoration: none;
		}
	}
}



@media (max-width: 600px) {
	.BookingModal {
		.BookingModalReview {

			.ProfessionalName {
				font-size: 18px;
				line-height: 24px;
			}

			.ProfessionalAddress {
				font-size: 14px;
				line-height: 16px;
			}
		}

		.BookingModalFooter {
			.ChargedAfterAppointment {
				text-align: right;
				clear: none;
			}
			.Total {
				margin-top: 0;
			}
			.Button {
				padding-top: 5px;
				margin: 0;
				clear: both;

				button.primary {
					width: 100%;
				}
			}
		}
	}
}