/* line 4, /Users/jeffbail/sites/solasalonstudios/app/assets/stylesheets/digital_directory.css.scss */
html {
  box-sizing: border-box;
}

/* line 8, /Users/jeffbail/sites/solasalonstudios/app/assets/stylesheets/digital_directory.css.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 12, /Users/jeffbail/sites/solasalonstudios/app/assets/stylesheets/digital_directory.css.scss */
body {
  background: #499cd3 url(/assets/digital_directory_bg-3ad025075a047f683b7658a7c2d1216f.gif);
  font-family: 'Dosis', Arial, sans-serif;
}

/* line 18, /Users/jeffbail/sites/solasalonstudios/app/assets/stylesheets/digital_directory.css.scss */
a, a:link, a:visited, a:hover, a:active {
  color: #499cd3;
  text-decoration: none;
}

/* line 23, /Users/jeffbail/sites/solasalonstudios/app/assets/stylesheets/digital_directory.css.scss */
a:hover, a:active {
  color: #000;
}

/* line 27, /Users/jeffbail/sites/solasalonstudios/app/assets/stylesheets/digital_directory.css.scss */
.mobile-only, .tablet-only {
  display: none !important;
}

/* line 31, /Users/jeffbail/sites/solasalonstudios/app/assets/stylesheets/digital_directory.css.scss */
h1 {
  text-align: center;
  font-size: 68px;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
/* line 42, /Users/jeffbail/sites/solasalonstudios/app/assets/stylesheets/digital_directory.css.scss */
h1 strong {
  font-family: "Dosis", sans-serif;
  color: #FEA700;
  text-transform: uppercase;
  border-bottom: 3px solid #FEA700;
  margin-bottom: 10px;
  padding-bottom: 10px;
  display: inline-block;
}

/* line 53, /Users/jeffbail/sites/solasalonstudios/app/assets/stylesheets/digital_directory.css.scss */
h2 {
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  font-size: 29px;
  letter-spacing: 1px;
  color: #222;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  text-align: center;
}

/* line 63, /Users/jeffbail/sites/solasalonstudios/app/assets/stylesheets/digital_directory.css.scss */
#logo {
  position: absolute;
  top: 0;
  right: 0;
}

/* grid */
/* line 71, /Users/jeffbail/sites/solasalonstudios/app/assets/stylesheets/digital_directory.css.scss */
.container {
  position: relative;
  width: 100%;
  margin: 10px;
}

/* line 77, /Users/jeffbail/sites/solasalonstudios/app/assets/stylesheets/digital_directory.css.scss */
.left-col, .right-col {
  position: absolute;
  top: 0;
  min-height: 200px;
}

/* line 83, /Users/jeffbail/sites/solasalonstudios/app/assets/stylesheets/digital_directory.css.scss */
.left-col {
  left: 0;
  width: 35%;
  margin-bottom: 30px;
  zoom: 0.75;
}

/* line 90, /Users/jeffbail/sites/solasalonstudios/app/assets/stylesheets/digital_directory.css.scss */
.right-col {
  left: 35%;
  width: 65%;
  margin-bottom: 30px;
  zoom: 0.75;
}

/* listings */
/* line 99, /Users/jeffbail/sites/solasalonstudios/app/assets/stylesheets/digital_directory.css.scss */
.listings {
  margin: 15px 0 5px 0;
}
/* line 102, /Users/jeffbail/sites/solasalonstudios/app/assets/stylesheets/digital_directory.css.scss */
.listings .half-col-left, .listings .half-col-right {
  width: 46%;
  float: left;
  margin: 0 2%;
}
/* line 108, /Users/jeffbail/sites/solasalonstudios/app/assets/stylesheets/digital_directory.css.scss */
.listings .listing {
  display: block;
  border: 2px solid #46413D;
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  height: 43px;
  position: relative;
}
/* line 116, /Users/jeffbail/sites/solasalonstudios/app/assets/stylesheets/digital_directory.css.scss */
.listings .listing .number, .listings .listing .name {
  position: absolute;
  top: 0;
}
/* line 121, /Users/jeffbail/sites/solasalonstudios/app/assets/stylesheets/digital_directory.css.scss */
.listings .listing .number {
  left: 0;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  font-size: 24px;
  background: #46413D;
  color: #FFFFFF;
  height: 100%;
  padding: 8px 0 0 0;
  text-align: center;
  width: 40px;
  border-right: 2px solid #46413D;
}
/* line 135, /Users/jeffbail/sites/solasalonstudios/app/assets/stylesheets/digital_directory.css.scss */
.listings .listing .name {
  left: 40px;
  right: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  background: #FFFFFF;
  color: #333;
  height: 100%;
  padding: 6px 4px 0 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* floorplan image */
/* line 155, /Users/jeffbail/sites/solasalonstudios/app/assets/stylesheets/digital_directory.css.scss */
.floorplan-image {
  text-align: center;
  margin: 60px auto 60px auto;
}

/* photo gallery */
/* line 167, /Users/jeffbail/sites/solasalonstudios/app/assets/stylesheets/digital_directory.css.scss */
.photo-gallery {
  position: relative;
  background: #FFF;
  border: 1px solid #000;
  padding: 15px;
  width: 1187px;
  height: 405px;
  margin: 0 auto;
  zoom: 0.85;
}
/* line 177, /Users/jeffbail/sites/solasalonstudios/app/assets/stylesheets/digital_directory.css.scss */
.photo-gallery .photo {
  position: absolute;
  top: 15px;
  clear: none;
  padding: 0;
  margin: 0;
  width: 375px;
  height: 375px;
  background: #EFEFEF;
}
/* line 187, /Users/jeffbail/sites/solasalonstudios/app/assets/stylesheets/digital_directory.css.scss */
.photo-gallery .photo.first {
  left: 15px;
}
/* line 191, /Users/jeffbail/sites/solasalonstudios/app/assets/stylesheets/digital_directory.css.scss */
.photo-gallery .photo.second {
  left: 405px;
}
/* line 195, /Users/jeffbail/sites/solasalonstudios/app/assets/stylesheets/digital_directory.css.scss */
.photo-gallery .photo.third {
  left: 795px;
}
/* line 199, /Users/jeffbail/sites/solasalonstudios/app/assets/stylesheets/digital_directory.css.scss */
.photo-gallery .photo img {
  position: absolute;
  top: 0;
  left: 0;
}
