<div id="footer">
  <div class="container">
    <div class="row">
      <p class="subtle">Sola Salon Studios - Your Life, Your Style &copy; Copyright <%= Time.now.year %></p>
    </div>
  </div>
</div>