<div class="twelve columns search-result">
  <% if params[:first] == 'salon_professionals' %>
    <a href="#{salon_stylists_path(location.url_name).gsub(/\./, '')}">
  <% else %>
    <a href="#{salon_location_path(location.url_name).gsub(/\./, '')}">
  <% end %>
	  <h3 class="name"><%= location.name.html_safe %></h3>
	  <p class="address"><%= location.html_address.html_safe %></p>
	  <p class="phone"><%= location.phone_number %></p>
  </a>
</div>