<div class="twelve columns search-result search-result-clickable" style="cursor:default">
  <h3 class="name">
    <a href="#" style="cursor:default" onclick="return false"><%= t :reserved_studio %> <%= stylist.studio_number %></a>
  </h3>
</div>