<h3>Sola Salon Studios Message</h3>
<hr>
<p><strong>Full Name:</strong> <%= @message.name %></p>
<p><strong>Email Address:</strong> <%= @message.email %></p>
<p><strong>Phone Number:</strong> <%= @message.phone %></p>
<p><strong>Leave a Message:</strong> <%= @message.message %></p>