<div class="container content-container">
  
  <div class="row">
    <h1>Get in Touch</h1>
  </div>

  <div class="row">
    <div class="one-third column">
      <h1 class="small">Contact a Sola Nearest You</h1>
    </div>
    <div class="two-thirds column">
      <p>Start the conversation with your desired Sola Salon Studios&reg; location today by filling out the Contact Us form. We look forward to hearing from you!</p>
      <p>If you have a general question, check out our <%= link_to 'Frequently Asked Questions', :faqs %></p>
    </div>
  </div>

  <div class="row">
    <div class="one-third column">
      <h1 class="small">Sola Salon Studios Headquarters</h1>
    </div>
    <div class="two-thirds column">
      <p><strong>303.377.7652</strong></p>
      <p>50 South Steele Street, Suite 150<br>Denver, CO 80209</p>
      <p><a href="mailto:info@solasalonstudios.com">info@solasalonstudios.com</a></p>
    </div>
  </div>

</div>