<% if I18n.locale.to_s != 'pt-BR' %>
	<div class="cookie-banner">
		<div class="container">
			<h3><%= t 'cookie_banner.please_accept_our_privacy_terms' %></h3>
			<p><%= t 'cookie_banner.we_use_cookies_text' %></p>
			<a href="#" class="button primary"><%= t 'cookie_banner.accept_and_continue' %></a>
		</div>
	</div>
<% end %>