<div class="country-switcher">
  <% if I18n.locale == :en %>
    <div class="country" tabindex="0">
      <div class="flag usa" role="button">&nbsp;</div>
      <div class="name">United States</div>
    </div>
  <% elsif I18n.locale.to_s == "en-CA" %>
    <div class="country" tabindex="0">
      <div class="flag canada" role="button">&nbsp;</div>
      <div class="name">Canada</div>
    </div>
  <% elsif I18n.locale.to_s == "pt-BR" %>
    <div class="country" tabindex="0">
      <div class="flag brazil" role="button">&nbsp;</div>
      <div class="name">Brazil</div>
    </div>
  <% end %>
  <div class="dropdown-arrow" aria-label="Toggle dropdown">&nbsp;</div>
</div>
