<div id="image_gallery">
  <% [1,2,3,4,5,6,7,8,10,12,13,14,16,17,18,20,26,27,29,30,31,32,33,36,37,38,39,44,45,47,50].shuffle.each do |number| %>
    <input type="hidden" value="https://s3.amazonaws.com/solasalonstudios/assets/Gallery/<%= number %>.jpg">
  <% end %>
</div>