<% if @location && @location.tours && @location.tours.size > 0 %>
  <% tours = @location.tours %>
  
    <h5 style="margin-top:40px"><%= t('page.locations.take_a_tour').html_safe %></h5>
    <div class="row take-a-tour">
      
      <% if tours.size == 1 %>
        <div class="one-tour">
          <% tours.each do |tour| %>
            <%= tour.html_safe %>
          <% end %>
        </div>
      <% end %>
    
      <% if tours.size == 2 %>
        <div class="two-tours">
          <% tours.each do |tour| %>
            <%= tour.html_safe %>
          <% end %>
        </div>
      <% end %>

      <% if tours.size == 3 %>
        <div class="three-tours">
          <% tours.each do |tour| %>
            <%= tour.html_safe %>
          <% end %>
        </div>
      <% end %>

    </div>
<% end %>