<div class="container content-container">

  <div class="row">
    <h2 class="text-center home-slogan">Don't just dream. Do. <strong>Become a boutique salon owner today!</strong></h2>
  </div>

  <div class="row">
    <div class="one-third column home-tile">
      <%= image_tag 'gray.gif', :class => 'u-full-width' %>
      <h3 class="text-center">Freedom to live<br>the life you love</h3>
      <p class="text-center">Customize your studio, create your culture, own your salon.</p>
    </div>

    <div class="one-third column home-tile">
      <%= image_tag 'gray.gif', :class => 'u-full-width' %>
      <h3 class="text-center">Find the location<br>nearest to you</h3>
      <p class="text-center">Join our community of 5,000+ salon professionals nationwide.</p>
    </div>

    <div class="one-third column home-tile">
      <%= image_tag 'gray.gif', :class => 'u-full-width' %>
      <h3 class="text-center">Take a look inside<br>Sola Salon Studios</h3>
      <p class="text-center">Watch our video to learn more about what goes on in our studios.</p>
    </div>        
  </div>

  <div class="row home-recently-featured-box">
    <div class="one-half column">
      <h3>Recently Featured In</h3>
    </div>
    <div class="one-half column">
      <h3>Find a Salon Professional</h3>
      <div class="find-a-salon-professional">
        <input type="text" class="input" placeholder="Search by name or location">
        <button type="button" class="button"><span class="ss-search"></span></button>
      </div>
    </div>
  </div>

</div>

<div class="callout blue">
  <div class="quote">&ldquo;There are no limits. It's <strong>your</strong> business!&rdquo;</div>
  <div class="quote-author">Shelia Taylor &mdash; Ami Hair Studio</div>
</div>