<%= stylesheet_link_tag "admin", media: "all" %>

<div class="container">
  <div class="form">
    <div style="text-align:center"><%= image_tag 'logo_white.png', alt: 'Sola Salon Studios logo', :width => 200, :height => 127 %></div>
    <p>Sola is currently preparing to launch our new website and back end Content Management System (CMS) at this time. The new CMS page will be live and operational by noon MDT on Friday, June 5th.</p>
    <p>Please note that you will soon be receiving an email containing your new log in information as well as directions on how to access tutorial videos that will guide you through the new CMS system.</p>
    <p>Thank you in advance for your patience!</p>
    <p>-The Sola Team</p>
  </div>
</div>


<div class="copyright">&copy;<%= Time.now.year %> Sola Salon Studios</div>
