<div class="hero-fullscreen hero-tab-content" data-ref="#own">

  <div class="hero-carousel" data-autoplayoff="true">
    <div class="item"><%= image_tag 'own/hero_1_desktop.jpg' %></div>
  </div>

  <div class="hero-content">
    <div class="hero-content-wrapper">

      <%= render 'tabs', :active => 'own' %>

      <div class="hero-heading">
        <span class="light">Beautiful Studios. Exclusive Perks.</span><br /><span class="bold">At Sola, You Simply Get More!</span>
      </div>

      <div class="hero-search">
        <div class="search-input-with-button">
          <%= form_tag [:search, :results], :method => :get do %>
          <input type="text" placeholder="Find a Sola near you" name="query" class="large query" autocomplete="off"><button type="submit">Search</button>
          <% end %>
        </div>
      </div>

    </div>
  </div>

</div>