<div class="hero hero-fullscreen">

  <div class="hero-content">

    <div class="hero-tabs">
      <div class="container">
        <ul>
          <li><a href="#own" class="active">Own Your Salon</a></li>
          <li><a href="#amenities">Studio Amenities</a></li>
          <li><a href="#sola_pro">Sola Pro</a></li>
          <li><a href="#sola_sessions">Sola Sessions</a></li>
        </ul>
      </div>
    </div>

    <div class="hero-heading">
      <div class="container">
        <span class="light">Beautiful Studios. Exclusive Perks.</span><br /><span class="bold">At Sola, You Simply Get More!</span>
      </div>
    </div>

  </div>

  <%= image_tag 'own/hero_1_desktop.jpg' %>

</div>