<div class="hero-tab-content hero-own" <%= 'data-hero-active=true' if params[:tab] == 'sola-genius' || params[:tab].blank? %> data-ref="#sola-genius">

  <div class="hero-fullscreen">

    <div class="hero-carousel-fullscreen" data-autoplayoff="true">
      <div class="item"><%= image_tag 'own/hero_1_desktop.jpg', :class => 'fullscreen', :'data-width' => 1488, :'data-height' => 984, :width => 1488, :height => 984 %></div>
    </div>

  </div>

</div>