<div class="hero-fullscreen hero-tab-content" data-ref="#sola_pro">

  <div class="hero-carousel owl-carousel owl-theme" data-autoplayoff="true">
    <div class="item"><%= image_tag 'own/hero_1_desktop.jpg' %></div>
  </div>

  <div class="hero-content">
    <div class="hero-content-wrapper">

      <%= render 'tabs', :active => 'sola_pro' %>

    </div>
  </div>
</div>