<div class="hero-tab-content" data-ref="#studio_amenities">

  <div class="hero-fullscreen">

    <div class="hero-carousel" data-autoplayoff="true">
      <div class="item"><%= image_tag 'own/hero_amenities_desktop.jpg' %></div>
    </div>

    <div class="hero-content">
      <div class="hero-content-wrapper">

        <%= render 'tabs', :active => 'studio_amenities' %>

      </div>
    </div>
  </div>

  <div class="container">
    <h1>Studio Amenities</h1>
  </div>

</div>