<div class="hero-tabs">
  <div class="container">
    <ul>
      <li><a href="#own-your-salon" <%= 'class=active' if active == 'own-your-salon' %>>Own Your Salon</a></li>
      <li><a href="#studio-amenities" <%= 'class=active' if active == 'studio-amenities' %>>Studio Amenities</a></li>
      <li><a href="#sola-pro" <%= 'class=active' if active == 'sola-pro' %>>Sola Pro</a></li>
      <li><a href="#sola-sessions" <%= 'class=active' if active == 'sola-sessions' %>>Sola Sessions</a></li>
    </ul>
  </div>
</div>