<div class="hero-tabs">
  <div class="container">
    <ul>
      <li><a href="#own" <%= 'class=active' if active == 'own' %>>Own Your Salon</a></li>
      <li><a href="#amenities" <%= 'class=active' if active == 'amenities' %>>Studio Amenities</a></li>
      <li><a href="#sola_pro" <%= 'class=active' if active == 'sola_pro' %>>Sola Pro</a></li>
      <li><a href="#sola_sessions" <%= 'class=active' if active == 'sola_sessions' %>>Sola Sessions</a></li>
    </ul>
  </div>
</div>