<p>Please find the attached website analytics report for the <%= @location.name %> location.</p>
 
<p>Analytics in this report are specific to this location page, which can be viewed at <a href="<%= @location.website_url %>"><%= @location.website_url %></a>.</p>
 
<p>Please send questions about this report to <a href="mailto:joseph@solasalonstudios.com">joseph@solasalonstudios.com</a>.</p>