@import 'mixins';
@import 'variables';

.LocationsMap {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 60%;
	right: 0;
	background: #e5e3df;	

	.map {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;

		/* The location pointed to by the popup tip. */
		.popup-tip-anchor {
		  height: 0;
		  position: absolute;
		  /* The max width of the info window. */
		  width: 300px;
		}
		/* The bubble is anchored above the tip. */
		.popup-bubble-anchor {
		  position: absolute;
		  width: 100%;
		  bottom: /* TIP_HEIGHT= */ 8px;
		  left: 0;
		}
		/* Draw the tip. */
		.popup-bubble-anchor::after {
		  content: "";
		  position: absolute;
		  top: 0;
		  left: 0;
		  /* Center the tip horizontally. */
		  transform: translate(-50%, 0);
		  /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
		  width: 0;
		  height: 0;
		  /* The tip is 8px high, and 12px wide. */
		  border-left: 6px solid transparent;
		  border-right: 6px solid transparent;
		  border-top: /* TIP_HEIGHT= */ 8px solid #EF008C;
		}
		/* The popup bubble itself. */
		.popup-bubble-content {
		  position: absolute;
		  top: 0;
		  left: 0;
		  transform: translate(-50%, -100%);
		  /* Style the info window. */
		  background-color: #EF008C;
		  padding: 10px;
		  border-radius: 0;
			color: #FFFFFF;	
			@include chalet_new_york;
			font-size: 16px;	
			line-height: 16px;	
			text-align: center;
		  overflow-y: auto;
		  max-height: 32px;
		  white-space: nowrap;
		  overflow: hidden;
		  text-overflow: ellipsis;
		  cursor: pointer;
		  box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
		}

	}
}

@media (max-width: 991px) {
	.LocationsMap, .LocationsMap .map {
		position: relative;
		top: auto;
		bottom: auto;
		left: auto;
		right: auto;
		height: calc(100vh - 70px);
	}

	.SolaSearch.list .LocationsMap {
		display: none;
	}
}