@import 'mixins';
@import 'variables';

.ProfessionalResults {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0%;
	right: 40%;
	background: #FFF;
	overflow: hidden;
  overflow-y: scroll;

	.ProfessionalResult {
		position: relative;
		@include helvetica;
		background: #FFF;
		padding: 21px;
		border-top: 1px solid #EEE;

		.ProfessionalResultDetails {
			position: absolute;
			top: 25px;
			left: 180px;
			right: 25px;
			bottom: 25px;
			z-index: 2;
		}

		.ProfessionalServicesDropdown {
			position: absolute;
			top: 21px;
			right: 25px;
			z-index: 3;

			.dropdown-toggle {
				height: 32px;
				position: relative;
				border-radius: 4px;
				background: #F5F9FB !important;
				border: 0 !important;
				margin: 0 !important;
				padding: 8px 21px 8px 15px !important;
				letter-spacing: 0;
				color: #000000;	
				@include helvetica;
				font-size: 14px;	
				font-weight: 300;	
				line-height: 16px;

				&:hover, &:active, &:focus {
					background: #F5F9FB !important;
					border: 0 !important;
					box-shadow: none !important;
				}

				strong {
					margin-left: 3px;
					font-weight: 900;
				}

				.fa {
					float: right;
					position: relative;
					top: -6px;
					right: -6px;
					font-size: 28px;
					line-height: 28px;
					color: #D1D3D4;
				}
				
				&:after {
					display: none;
				}
			}

			.dropdown-menu {
				top: 2px !important;
				right: 0;
				border-radius: 4px;
				background-color: #F5F9FB !important;
				border: 0 !important;
				max-height: 111px;
				overflow: hidden;
				overflow-y: scroll;

				li {
					margin: 0;
					padding: 0;
				}

				a, a:link, a:visited, a:hover, a:active {
					display: block;
					color: #000000;	
					@include helvetica;
					font-size: 14px;	
					font-weight: 300;	
					line-height: 18px;
					padding: 7px 10px;

					strong {
						font-weight: 900;
					}
				}
			}

		}

		.ProfessionalCoverImage {
			position: relative;
			height: 130px;	
			width: 130px;	
			display: block;
			overflow: hidden;

			img {
				display: block;
				height: 130px;	
				width: 130px;	
				border-radius: 2px;
			}

			.ProfessionalCoverImageName {
				position: absolute;
				bottom: 6px;
				left: 7px;
				right: 7px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				color: #FFFFFF;	
				@include helvetica;
				font-size: 14px;	
				font-weight: 300;	
				line-height: 16px;
			}
		}

		.ProfessionalName {
			font-size: 18px;	
			font-weight: 300;	
			line-height: 24px;
			color: #000000;	
			margin-bottom: 5px;
		}

		.ProfessionalAddress {
			font-size: 14px;	
			font-weight: 300;	
			line-height: 16px;
			color: #4A4A4A;
		}

		.ProfessionalAvailabilities {
			position: absolute;
    	bottom: 7px;
    	left: 0;
    	right: 0;

    	.ProfessionalAvailabilitiesWrapper {
	    	width: 100%;
	    	overflow: hidden;
	    	overflow-x: scroll;
	    	// white-space: nowrap;
    	}

    	.availability-date {
    		display: inline-block;
    		// float: left;
    		// clear: none;
    		// white-space: nowrap;

    		.date {
    			position: relative;
    			top: -10px;
    			color: #4A4A4A;	
    			@include helvetica;
    			font-size: 11px;	
    			font-style: italic;	
    			font-weight: 300;	
    			line-height: 16px;
    		}
    	}

			a.availability-button, a.availability-button:link, a.availability-button:visited, a.availability-button:hover, a.availability-button:active {
				text-decoration: none;
				color: $brand-pink;	
				@include helvetica;
				font-size: 13px;	
				font-weight: 300;	
				line-height: 16px;
				border: 1px solid $brand-pink;
				border-radius: 3px;
				padding: 8px 12px;
				margin-right: 10px;

				&.check-availability {
					color: #000000;	
					border: 1px solid #DBDBDB;
				}
			}
		}
	}
}