<div class="container content-container">
  <div class="row">
    <h1>Gallery</h1>

    <ul class="owl-carousel">
      <% [1,2,3,4,5,6,7,8,10,12,13,14,16,17,18,20,26,27,29,30,31,32,33,36,37,38,39,44,45,47,50].each do |number| %>
        <li><%= image_tag "https://s3.amazonaws.com/solasalonstudios/assets/Gallery/#{number}.jpg" %></li>
      <% end %>
    </ul>    
  </div>

  <div class="row">
    <h1>Videos</h1>
    <ul class="owl-carousel">
      <li class="play-video-gallery-item">
        <a href="//www.youtube.com/watch?v=nbHFs0XjS8s" class="play-video" rel="nbHFs0XjS8s">
          <img src="//img.youtube.com/vi/nbHFs0XjS8s/maxresdefault.jpg">
          <span class="play-btn" />
        </a>
        <div class="carousel-text-bottom">
          <h1>All About Sola Salon Studios</h1>
        </div>
      </li>
      <li class="play-video-gallery-item">
        <a href="//www.youtube.com/watch?v=77gzVR-50Wo" class="play-video" rel="77gzVR-50Wo">
          <img src="//img.youtube.com/vi/77gzVR-50Wo/maxresdefault.jpg">
          <span class="play-btn" />
        </a>
        <div class="carousel-text-bottom">
          <h1>Sola Salon Studios</h1>
        </div>
      </li>
      <li class="play-video-gallery-item">
        <a href="//www.youtube.com/watch?v=b9Ocv4vfvqc" class="play-video" rel="b9Ocv4vfvqc">
          <img src="//img.youtube.com/vi/b9Ocv4vfvqc/maxresdefault.jpg">
          <span class="play-btn" />
        </a>
        <div class="carousel-text-bottom">
          <h1>SOLA 5,000</h1>
        </div>
      </li>
    </ul>   
  </div>
</div>

<% content_for(:title) { 'Gallery' } %>