<% content_for(:stylesheets) do %>
  <%= stylesheet_link_tag "franchising/thank_you", media: "all" %>
<% end %>

<div class="thank-you-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h1>Thank you!</h1>
      </div>
      <div class="col-sm-8 container-left">
        <div class="thank-you-copy">
          <p>Thank you for your interest in a Sola Salon Studios Franchise.</p>
          <p>Your franchising guide will download automatically to your browser within a few seconds and we will be in touch with you soon. Should you have any immediate questions about Sola or our franchise opportunities, please <a href="mailto:franchise@solasalonstudios.com">email us</a>.</p><br>
          <p>Don’t forget to follow us on our social channels!</p>
        </div>
        <div class="thank-you-social">
          <ul class="d-flex flex-wrap">
            <li class="d-flex"><a href="https://www.linkedin.com/company/solasalons" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            <li class="d-flex"><a href="https://www.facebook.com/solasalons" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
            <li class="d-flex"><a href="https://twitter.com/solasalons" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="d-flex"><a href="https://pinterest.com/solasalons/" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
            <li class="d-flex"><a href="https://www.instagram.com/solasalons/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li class="d-flex"><a href="https://www.youtube.com/channel/UCJ8sL_G0TVCYC1irp3HpyZg" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>