<p>There was a new class or event created in the Sola Pro CMS. Click the link below to edit it:</p>
<p><a href="https://www.solaprofessional.com/admin/sola_class/<%= @sola_class.id %>/edit">https://www.solaprofessional.com/admin/sola_class/<%= @sola_class.id %>/edit</a></p>