@import "franchising/variables";
@import "franchising/mixins";

.franchise-articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;

  .pagination-section {
    width: 100%;
    margin-top: 50px;
  }

  .search-with-spyglass {
    position: relative;
    background: #FFF;
    @include box-shadow(0 4px 10px 0 rgba(0,0,0,0.1));
    height: 72px;
    padding: 10px 0;
    font-size: 0;
    white-space: nowrap;
    @include box-shadow(0 4px 10px 0 rgba(0,0,0,0.1));
    @include border-radius(4px);
    overflow: hidden;
    margin-top: 30px;

    .search-input {
      width: calc(100% - 60px) !important;
      border: 0 !important;
      background: transparent;
      @include helvetica;
      font-size: 18px;
      margin: 4px 0 0 8px !important;
      padding-left: 15px !important;

      &::-moz-placeholder {
        color: #9B9B9B;
        opacity: 1; // See https://github.com/twbs/bootstrap/pull/11526
      }
      &:-ms-input-placeholder { color: #9B9B9B; } // Internet Explorer 10+
      &::-webkit-input-placeholder  { color: #9B9B9B; } // Safari and Chrome

      &:focus, &:hover, &:active, &:focus-visible {
        border: 0 !important;
        outline-width: 0;
        outline: 0;
      }
    }

    .search-button {
      position: relative;
      top: 1px !important;
      right: 15px !important;
      height: 46px !important;
      width: 46px !important;;
      background: $brand-pink; /* For browsers that do not support gradients */
      @include background-gradient(#FF5ABB, #EF008C);
      margin: 0;
      border: 0;
      padding: 15px;
      @include border-radius(4px);
      @include transition(opacity 0.15s ease-in-out);
      opacity: 1;

      &:focus, &:hover, &:active {
        opacity: 0.5;
      }
    }

    .spyglass-white {
      display: inline-block;
      background: asset-data-url('spyglass.png');
      background-size: (48px / 3) (48px / 3);
      width: (48px / 3);
      height: (48px / 3);
    }
  }
}

.franchise-article {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 40px;

  .img-fluid {
    display: flex;
    justify-content: center;

    @media (max-width: 767.98px) {
      margin-bottom: 40px;
    }
  }

  .title > a {
    @include chalet_new_york;
    color: #474747;
    font-size: 25px;
    line-height: 31px;
    font-style: normal;
    font-weight: 400;
  }

  .date, .subtitle {
    @include chalet_new_york;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 2.5px;
    color: #4A4A4A;
  }

  .subtitle {
    margin-bottom: 30px;
  }

  .summary {
    margin-top: 30px;
    line-height: 25px;
    font-size: 18px;
    font-weight: 300;
    color: #4A4A4A;
    margin-bottom: 14px;
    letter-spacing: 0;
  }

  .pink-link {
    text-decoration: none;
    color: $brand-secondary;
    font-size: 18px;
  }

  .social {
    margin: 30px 0 0 0;

    li {
      display: inline-block;
      margin-right: 10px;
      a {
        color: #0b0b0b;
      }
    }
  }
}

.franchise-article-show {
  margin-top: 40px;
  margin-bottom: 100px;

  .image-cover {
    width: 100%;
    height: auto;
    img {
      width: 100%;
    }
  }

  .main {
    margin-top: 40px;
  }

  .title {
    @include chalet_new_york;
    line-height: 29px;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
  }

  .date-and-author {
    color: #9F9F9F;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 30px;
    -webkit-font-smoothing: antialiased;
  }

  .share-socially {
    @include chalet_paris;
    font-size: 24px;
    line-height: 32px;
    color: #000;
    letter-spacing: 0;
    padding-bottom: 8px;
    border-bottom: 1px dashed #CECECE;
  }

  .share {
    .social {
      margin: 22px 0 0 0;
      list-style-type: none;

      li {
        width: 33%;
        margin: 0;
        display: block;
        float: left;
        text-align: center;
        &:not(:last-of-type) > a {
          border-right: 1px solid transparent !important;
        }

        a, a:link, a:visited, a:hover, a:active {
          padding: 5px 0;
          margin: 0;
          background: #FFF;
          display: block;
          font-size: 20px;
          color: #000;
          text-decoration: none;
          border: 1px solid #DBDBDB;

          span {
            position: static;
            top: auto;

            &.ss-twitter, &.ss-pinterest {
              position: relative;
              top: 2px;
            }
          }
        }

        a:hover {
          background-image: linear-gradient(to bottom, #ff86ce 0%, $brand-secondary 100%);
          background-repeat: repeat-x;
          color: #FFF;
          border: 1px solid $brand-secondary;
        }
      }
    }
  }

  .summary {
    line-height: 26px;
    -webkit-font-smoothing: antialiased;

    *, & {
      font-size: 15px !important;
      line-height: 25px !important;
      font-weight: 300;

      strong, strong em, strong u, strong i {
        font-weight: 600 !important;
      }
    }

    h1 {
      @include chalet_new_york;
      font-weight: bold !important;
      font-size: 27px !important;
      line-height: 31px !important;
      margin-bottom: 20px !important;
    }

    h2 {
      @include chalet_new_york;
      font-weight: bold !important;
      font-size: 23px !important;
      line-height: 27px !important;
      margin-bottom: 20px !important;
    }

    h3 {
      @include chalet_new_york;
      font-weight: bold !important;
      font-size: 19px !important;
      line-height: 23px !important;
      margin-bottom: 20px !important;
    }

    p, .p {
      margin-bottom: 20px !important;
      color: #4A4A4A;
    }

    a, a:link, a:visited, a:hover, a:active {
      color: $brand-pink;
      font-weight: bold;
      text-decoration: none;
    }

    a:hover, a:active {
      color: $brand-pink-hover;
    }

    img {
      max-width: 100% !important;
      height: auto !important;

      &.left {
        margin: 7px 20px 0 0;
        float: left;
      }

      &.right {
        margin: 7px 0 0 20px;
        float: right;
      }
    }

    iframe {
      width: 100% !important;
      max-width: 100% !important;
    }
  }
}