.expand-collapse-group-nested {
  legend {
    font-size: 17px !important;
    background: transparent !important;
    //border-bottom: 2px solid #dce4ec !important;
    border-radius: 0 !important;

    padding-left: 0 !important;
    width: 260px !important;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .expand-collapse-content {
    padding-bottom: 10px;
    //border: 2px solid #dce4ec !important;
    //border-top: 0 !important;
    //border-radius: 6px !important;
  }
}

.expand-collapse-group {
  legend {
    cursor: default !important;

    i {
      position: relative;
      top: 1px;
      cursor: pointer;
      border-right: 5px solid transparent;

      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      
      &.chevron-down:before {
        content: "\f078";
      }

      &.chevron-right:before {
        content: "\f054";
      }
    }

    span.name {
      cursor: pointer;
    }

    label {
      float: right;
      margin: 3px 4px;
    }

  }
}

.expand-collapse-group-disabled {
  i, span.name {
    opacity: 0.333;
    cursor: default !important;
  }
}