.expand-collapse-group-nested {
  legend {
    font-size: 19px !important;
    background: transparent !important;
    border-bottom: 2px solid #dce4ec !important;
    border-radius: 0 !important;
  }
}
.expand-collapse-group {
  legend {
    cursor: default !important;

    i {
      position: relative;
      top: 1px;
      cursor: pointer;
      border-right: 5px solid transparent;
    }

    span {
      cursor: pointer;
    }

    label {
      float: right;
      margin: 3px 4px;
    }

  }
}