.expand-collapse-group-nested {
  legend {
    font-size: 19px !important;
    background: transparent !important;
    border-bottom: 2px solid #dce4ec !important;
    border-radius: 0 !important;
  }
}
.expand-collapse-group {
  legend {
    
    i {
      margin-right: 5px;
    }

    label {
      float: right;
      margin: 3px 4px;
    }

  }
}