@import 'variables';
@import 'bootstrap/mixins';

.mysola-2019 {
	
	.owl-carousel {
		.learn-more-button {
			text-align: center;
			z-index: 9;
		}
	}

	.my-sola {
		padding-top: 10px;

		.container {
			max-width: 650px;
		}

		.header-copy {
			margin: 60px 0;
			text-align: center;

			p {
				@include chalet_paris;
				font-size: 26px;
				line-height: 46px;
				margin-bottom: 40px;
			}

			h1 {
				margin: 40px 0;
			}

			h2 {
				@include chalet_new_york;
				font-size: 26px;
				line-height: 26px;
				color: #489ad5;
				text-transform: none;
				margin: 0;
			}
		}

		.name-and-handle-form {
			margin-top: -30px !important;

			input[type='text'] {
				@include chalet_new_york;
				font-size: 30px;
				line-height: 30px;
				color: #4c4c4c;
				max-width: 610px;
				border: 3px solid #9dd5ff !important;
				border-radius: 7px;
				padding: 20px 30px 15px 30px !important;
				margin: 30px auto 40px auto;
				height: 90px;
			}
		}

		.image-dropzone {
			max-width: 620px;
			height: 620px;
			
			.image {
				max-width: 610px;
				height: 610px;
			}

			a.action, a.action:link, a.action:visited, a.action:hover, a.action:active {
				border: 3px solid #9dd5ff !important;
				height: 595px !important;
				max-width: 595px;
			}

			img.dropzone-image {
				max-width: 610px;
				height: 610px;
				border: 0;
			}
		}

		.statement-form {
			margin: 50px auto 60px auto;
			display: block;
			clear: both;

			.madlibs {
				position: relative;
				background: #f7f8fa;
				border-radius: 30px;
				padding: 60px 30px;

				.circle-b {
					position: absolute;
					top: -30px;
					left: 50%;
					margin-left: -30px;
					width: 60px;
					height: 60px;
					border-radius: 30px;
					text-align: center;
					font-size: 30px;
					line-height: 30px;
					padding: 14px 0 14px 1px;
					color: #FFF;
					background: #9dd5ff;
				}
			}

			.static-text {
				@include chalet_paris;
				font-size: 42px;
				line-height: 42px;
				color: #000;
			}

			h3 {
				@include chalet_new_york;
				color: #b7b7b7;
				font-size: 27px;
				line-height: 27px;
				margin: 35px auto 55px auto;
				text-align: center;
			}

			input[type='text'] {
				font-family: "chalet-new-york-sixty", sans-serif !important;
				border-bottom: 0 !important;
				font-size: 27px !important;
				line-height: 27px !important;
				color: #6cbee5 !important;
				height: 90px !important;
				width: 100%;

        &::-moz-placeholder {
          color: #b7b7b7 !important;
					font-size: 27px !important;
					line-height: 27px !important;
          vertical-align: top;
          opacity: 1; // See https://github.com/twbs/bootstrap/pull/11526
        }
        &:-ms-input-placeholder { 
          color: #b7b7b7 !important;
					font-size: 27px !important;
					line-height: 27px !important;
        } // Internet Explorer 10+
        &::-webkit-input-placeholder  { 
          color: #b7b7b7 !important;
					font-size: 27px !important;
					line-height: 27px !important;
        } // Safari and Chrome
        &:focus::-moz-placeholder {
          color: transparent;
          opacity: 1; // See https://github.com/twbs/bootstrap/pull/11526
        } 
			}
		}

		.bottom-buttons {
			.button, .button:hover, .button:active {
				@include chalet_new_york;
				font-size: 24px;
				line-height: 24px;
				padding: 30px 0 25px 0;
				text-align: center;
				text-transform: none;
				background: #489ad5;
				border-radius: 60px;
				border: 0;
				color: #FFF;
				letter-spacing: 0;

				&.disabled {
					opacity: 0.6;
				}
			}

			.start-over {
				a, a:link, a:visited, a:hover, a:active {
					@include chalet_london;
					font-size: 24px;
					line-height: 24px;
					letter-spacing: 0;
					color: #4c4c4c;
				}
			}
		}
	}

	.bottom-callout {
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;		
		@include chalet_paris;
		font-size: 30px;
		line-height: 30px;
		padding: 35px 0 30px 0;
		text-align: center;
		color: #FFF;
		background: #489ad5;
	}

	.my-sola-image-gallery .load-more-wrapper {
		button, button:hover, button:active {
			@include chalet_new_york;
			font-size: 24px;
			line-height: 24px;
			color: #4c4c4c;
			border: 0;
			text-transform: none !important;
			letter-spacing: 0;
			opacity: 0.5;
			background: transparent;
		}
	}

}

@media (max-width: 650px) {
	.mysola-2019 {
		
		.owl-carousel .item .img-wrap {
			height: auto;
		}

		.owl-carousel .item .img-wrap img {
			height: auto;
	    width: 100%;
	    left: 0%;
    }

		.bottom-callout {
		  -webkit-font-smoothing: antialiased;
		  -moz-osx-font-smoothing: grayscale;		
			@include chalet_paris;
			font-size: 26px;
			line-height: 36px;
			padding: 25px 0 20px 0;
			text-align: center;
			color: #FFF;
			background: #489ad5;
		}

		.my-sola {
			padding-top: 10px;

			.header-copy {
				margin: 30px 0 50px 0;
				text-align: center;

				p {
					@include chalet_paris;
					font-size: 17px;
					line-height: 27px;
					margin-bottom: 20px;
				}

				h1 {
					margin: 25px 0 30px 0;
				}

				h2 {
					@include chalet_new_york;
					font-size: 16px;
					line-height: 16px;
					color: #489ad5;
					text-transform: none;
					margin: 0;
				}
			}

			.name-and-handle-form {
				input[type='text'] {
					font-size: 15px;
					line-height: 17px;
					height: 55px;
					padding: 13px 10px 10px 10px !important;
					margin: 30px auto 15px auto;
					max-width: 280px;
				}
			}

			.image-dropzone {
				width: 280px;
    		max-width: 280px;
    		height: 280px;

    		img.dropzone-image {
    			height: 280px;
    		}
			}

			.image-dropzone .image {
				height: 280px;
				max-width: 280px;
			}

	    .image-dropzone a.action, .image-dropzone a.action:link, .image-dropzone a.action:visited, .image-dropzone a.action:hover, .image-dropzone a.action:active {
	      height: 267px !important;
	      width: 267px !important;
	    }

	    .statement-form {
    		h3 {
    			font-size: 16px;
    			line-height: 16px;
    		}
	    	.madlibs {
	    		padding: 50px 20px;

	    		.circle-b {
	    			font-size: 20px;
	    			line-height: 22px;
	    			width: 50px;
	    			height: 50px;
	    			margin-left: -25px;
	    			top: -25px;
	    		}
	    		.static-text {
	    			font-size: 28px;
	    			line-height: 28px;
	    		}
					input[type='text'] {
						font-size: 20px !important;
						line-height: 20px !important;
						height: 60px !important;

		        &::-moz-placeholder {
							font-size: 20px !important;
							line-height: 20px !important;
		          vertical-align: top;
		          opacity: 1; // See https://github.com/twbs/bootstrap/pull/11526
		        }
		        &:-ms-input-placeholder { 
							font-size: 20px !important;
							line-height: 20px !important;
		        } // Internet Explorer 10+
		        &::-webkit-input-placeholder  { 
							font-size: 20px !important;
							line-height: 20px !important;
		        } // Safari and Chrome
		        &:focus::-moz-placeholder {
		          color: transparent;
		          opacity: 1; // See https://github.com/twbs/bootstrap/pull/11526
		        } 
					}
	    	}
	    }

			.bottom-buttons {
				margin: -20px 0 0 0;

				.button, .button:hover, .button:active {
					@include chalet_new_york;
					font-size: 16px;
					line-height: 16px;
					padding: 20px 0 15px 0;
				}

				.start-over {
					a, a:link, a:visited, a:hover, a:active {
						@include chalet_london;
						font-size: 16px;
						line-height: 16px;
						letter-spacing: 0;
						color: #4c4c4c;
					}
				}
			}

		}
	}
}