@import 'variables';
@import 'mixins';

.stylist-form {

  .form-horizontal {
    .control-label {
      width: 245px !important;
      padding-top: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .controls {
      margin-left: 265px;
    }

    input, textarea {
      width: 427px !important;
    }
  }

  .help-block {
    margin: 3px !important;
    max-width: 437px !important;
  }

  .form-actions {
    .btn {
      margin-right: 4px;
    }

    .extra_buttons .btn:last-child {
      margin-right: 0;
    }
  }
}