@import 'variables';
@import 'mixins';

.stylist-form {
  position: relative;

  .errors {
    border: 1px solid red;
    background: lighten(pink, 10%);
    padding: 15px;
    margin-bottom: 25px;
    font-size: 16px;
    color: darken(red, 10%);

    ul {
      margin-top: 10px;
      margin-bottom: 0;

      li:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  .success {
    border: 1px solid #2BA8AF;
    background: lighten(#2BA8AF, 20%);
    padding: 15px;
    margin-bottom: 25px;
    font-size: 16px;
    color: darken(#2BA8AF, 10%);
  }

  .form-horizontal {
    .control-label {
      width: 260px !important;
      padding-top: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .controls {
      margin-left: 280px;
    }

    input, textarea {
      width: 327px !important;
    }
  }

  .help-block {
    margin: 3px !important;
    max-width: 337px !important;
  }

  .form-actions {
    .btn {
      margin-right: 4px;
    }

    .extra_buttons .btn:last-child {
      margin-right: 0;
    }
  }

  .loading {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);

    .spinner {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -22px 0 0 -22px;
      background: asset-data-url('spinner.gif') no-repeat center;
      background-size: 44px 44px;
      width: 44px;
      height: 44px;
    }    
  }
}

/* CKEDITOR styles */

.stylist-form {
  .cke {
    border: 2px solid #dce4ec !important;
    border-radius: 6px;
    box-shadow: none;
  }

  .cke_inner {
    background: transparent !important;
  }

  .cke_top {
    box-shadow: none !important;
    background: #f4f7f9 !important;
    border-bottom: 2px solid #dce4ec !important;
    border-radius: 6px 6px 0 0 !important;
  }

  .cke_toolbar_break {
    display: none;
  }

  .cke_editable {
    margin: 0 10px !important;
  }

  .cke_bottom {
    border-radius: 0 0 6px 6px !important;
  }

  .cke_toolgroup {
    border-color: #dce4ec !important;
    border: 2px solid #dce4ec;
  }

  .cke_wysiwyg_frame, .cke_wysiwyg_div {
    background: transparent !important;
    height: calc(100% - 2px) !important;
  }

  .cke_focus {
    &.cke {
      border: 2px solid #1abc9c !important;
    }

    .cke_top {
      border-bottom: 2px solid #1abc9c !important;
      background: #edf7f5 !important;
    }
  }
}