<div class="container content-container">
  <div class="row">
    <h1>Newsletter Sign Up</h1>
    <%= form_tag :newsletter_sign_up do %>
      <p>Stay informed with newsletters and events.</p>
      <input type="email" name="email" class="input" placeholder="Your email address" >
      <br>
      <button type="button" class="button">Join</button>
    <% end %>
  </div>
</div>        