<% content_for(:stylesheets) { stylesheet_link_tag 'digital_directory' } %>
<% content_for(:scripts) { javascript_include_tag 'digital_directory' } %>

<h1><strong>Welcome to</strong><br>Sola Salons</h1>