<div class="container content-container">
  <div class="row">
    <h1>Frequently Asked Questions</h1>
  </div>

  <div class="row">

    <h2 class="faq-question">Why Sola?</h2>
    <div class="faq-answer">
      <p>At Sola Salon Studios<sup>&#174;</sup>, we lease individual studios where you can operate your own boutique salon. Salon owners at Sola customize their own studio, set their own schedule and prices, and enjoy the freedom and benefits of salon ownership without the risk associated with opening a traditional salon.</p>
      <p>If you&#8217;re looking to make the move to a salon studio, you&#8217;ll be happy to hear that at Sola, you simply get more. We invest thousands of dollars in each studio, providing the highest-quality fixtures and the ideal amount of cabinets specifically designed to accommodate salon professionals. With many other salon studios, you will be provided with only a shampoo bowl and chair. At Sola, your studio will be equipped with the following:</p>
      <ol>
        <li>A custom build-out designed specifically for you that includes pull-out color drawers, abundant storage, soft-touch closures and retail shelving</li>
        <li>Oversize sliding glass door with lock and floor-to-ceiling walls to allow you the privacy to play the music of your choice and enjoy one-on-one conversations</li>
        <li>Individual ventilation in each studio</li>
        <li>High-end hydraulic chair and shampoo bowl</li>
        <li>Full-spectrum lighting to emulate natural light</li>
        <li>Instant and abundant hot water supply</li>
        <li>Utilities and Wi-Fi included</li>
      </ol>
      <p>In addition to the physical amenities, you&#8217;ll find that being at Sola will allow you to manage your own schedule, avoid salon politics and drama, and create the ideal atmosphere for you and your clients.</p>
    </div>

    <h2 class="faq-question">Aside from the studio and its amenities, will Sola provide any other support to help me get my business up and running?</h2>
    <div class="faq-answer">
      <p>At Sola Salon Studios<sup>&#174;</sup>, we have your back. Our detailed start-up manual provides you with all of the necessary forms, tips, and information to help get your business set up and ready to go:</p>
      <ol>
        <li>Start-up checklist</li>
        <li>Forms and tips to obtain your salon license and other licenses and permits</li>
        <li>Details on studio setup: insurance, equipment needed, paint and more</li>
        <li>Credit card processing tips</li>
        <li>Retail support and distributor contacts</li>
      </ol>
      <p>By joining the largest community of independent salon owners in the country, you will have access to liability insurance, disability insurance (available in certain states), discounts on retail, special offers for online scheduling, continuing education programs, industry events and more.</p>
      <p>Additionally, we host cocktail parties, family picnics and gatherings to strengthen our local Sola communities.</p>
    </div>

    <h2 class="faq-question">How is working in a salon studio different than working at a traditional salon?</h2>
    <div class="faq-answer">
      <p>At Sola, you will become the business owner of your own boutique salon. You set the prices for your services and choose the retail products you want to sell, and you keep 100 percent of the profits. You&#8217;ll have a key to your studio and can work when you want, with sole access to your supplies and equipment. Why rent a chair or booth when you can have your own salon for about the same cost?</p>
    </div>

    <h2 class="faq-question">Who are the studios at Sola designed for?</h2>
    <div class="faq-answer">
      <p>Our studios can be modified to accommodate hairdressers, skincare professionals, nail stylists, massage therapists, spray tanners and more. We design our studios with flexibility so that we can work with you to fit your salon needs.</p>
    </div>
                   
    <h2 class="faq-question">Can more than one salon professional work in a single Sola studio?</h2>
    <div class="faq-answer">
      <p>Yes, we have floor plans to accommodate more than one salon professional and will work with you to provide the best accommodations for your business.</p>
    </div>

    <h2 class="faq-question">Can I decorate my studio?</h2>
    <div class="faq-answer">
      <p>Yes, please do! We want your studio to reflect your personality, so feel free to paint the walls, bring in your own d&#233;cor, play your own music, and create the atmosphere that is best for you and your clients.</p>
    </div>
                   
    <h2 class="faq-question">How do I know if I&#8217;m right for Sola?</h2>
    <div class="faq-answer">
      <p>Are you ready to take control of your professional life? Imagine setting your own hours and prices in a studio that reflects your taste in music, color and style. This is the right opportunity for you if you have an established clientele and are ready to:</p>
      <ol>
        <li>Be your own boss</li>
        <li>Escape the salon drama</li>
        <li>Manage your own schedule</li>
        <li>Set your own prices</li>
        <li>Sell the retail products you love</li>
        <li>Customize your own salon studio</li>
      </ol>
      <p>Join our community of more than 5,000 like-minded salon professionals to experience a level of creative independence and career support you won&#8217;t find anywhere else.</p>
    </div>

    <h2 class="faq-question">What are the hours of operation?</h2>
    <div class="faq-answer">
      <p>At Sola you have access to your studio 24 hours a day, seven days a week. Our main doors are open during regular business hours; however, if you have a client at 8 am or on a Sunday when the main doors are locked, you can buzz your clients in via the call box. This allows you to take appointments during the hours that best fit your schedule and the schedules of your clients.</p>
    </div>
                   
    <h2 class="faq-question">What are the key advantages to renting a studio at Sola?</h2>
    <div class="faq-answer">
      <ol>
        <li>You set your own schedule, with 24/7 access to your studio</li>
        <li>You set your own prices and keep all profits from retail sales</li>
        <li>You can personalize your studio</li>
        <li>You can play your own music and have private conversations</li>
        <li>You work in a drama-free environment</li>
      </ol>
    </div>
                   
    <h2 class="faq-question">What are the next steps to getting started at Sola?</h2>
    <div class="faq-answer" style="margin-bottom: 40px">
      <p>To reserve your studio, contact us via our Contact Us form, or give us a call! We would love to set up a confidential tour of our studios to determine which setup is best for you. After getting the appropriate salon license, most of our stylists move in and start working right away! All you need to do is bring your back bar, towels, personal equipment and any decorations you like, and you&#8217;re ready to open for business.</p>
    </div>

  </div>
</div>

<% content_for(:scripts) { javascript_include_tag('faq') } %>
<% content_for(:title) { 'Frequently Asked Questions' } %>