<nav id="site-navigation" class="has-branding has-sticky-branding main-navigation sub-menu-right navbar navbar-expand-xl" itemtype="https://schema.org/SiteNavigationElement" itemscope>
  <div class="inside-navigation grid-container grid-parent">
    <div class="navigation-branding">
      <div class="site-logo">
        <a href="/" title="Sola Salon Studios Franchise Opportunity" rel="home">
          <img alt="Sola Salon Studios Franchise Opportunity" title="Sola Salon Studios Franchise Opportunity" class="header-image is-logo-image" src="<%= image_url(canadian_locale? ? 'logo-ca.png' : 'wpcp/sola-logo-462w.png') %>"/>
        </a>
      </div>
    </div>
    <button class="navbar-toggler menu-toggle" type="button" data-toggle="collapse" data-target="#primaryMenu" aria-controls="primaryMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="screen-reader-text">Menu</span>
    </button>
    <div id="primaryMenu" class="main-nav collapse navbar-collapse">
      <ul id="menu-main-nav" class="navbar-nav menu sf-menu">
        <li id="menu-item-441" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-441">
          <a href="/#why-sola">Why Sola</a></li>
        <li id="menu-item-442" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-442">
          <a href="/#demand">Demand</a></li>
        <li id="menu-item-443" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-443">
          <a href="/#support">Franchisee Support</a></li>
        <li id="menu-item-444" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-444">
          <a href="/#what-it-takes">What It Takes</a></li>
        <li id="menu-item-444" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-444">
          <%= link_to 'Press and Blog', franchise_articles_path %>
        </li>
        <li id="menu-item-445" class="get-started-button menu-item menu-item-type-custom menu-item-object-custom menu-item-445">
          <a href="/#get-started">Get Started</a></li>
      </ul>
    </div>
  </div>
</nav>
