<% if !defined?(@hide_franchise_form) %>
   <%= render 'shared/franchise_form' %>
<% end %>


<!--Footer Start Here-->
<footer>
   <div class="footer-in">
      <div class="container">
         <div class="footer-inner">
            <a href="#"><%= image_tag "Sola_Logo.png", :width => (675 / 4), :height => (278 / 4) %></a>
            <div class="social">
               <ul class="d-flex flex-wrap">
                  <li class="d-flex"><a href="https://www.linkedin.com/company/solasalons" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                  <li class="d-flex"><a href="https://www.facebook.com/solasalons" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                  <li class="d-flex"><a href="https://twitter.com/solasalons" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li class="d-flex"><a href="https://pinterest.com/solasalons/" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                  <li class="d-flex"><a href="https://www.instagram.com/solasalons/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                  <li class="d-flex"><a href="https://www.youtube.com/channel/UCJ8sL_G0TVCYC1irp3HpyZg" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
               </ul>
            </div>
            <div class="condition">
               <ul>
                  <li><a href="http://www.solasalonstudios.com">solasalonstudios.com</a></li>
                  <li><%= link_to :privacy_policy do %>Privacy Policy<% end %></li>
               </ul>
            </div>
            <span>Sola Salon Studios - Your Life, Your Style © Copyright 2020</span>
            <p>This advertisement is not a franchise offering. A franchise offering can be made by us only in a state if we are first registered, filed, excluded, exempted, or otherwise qualified to offer franchises in that state, and only if we provide you with an appropriate franchise disclosure document. Follow-up or individualized responses to you that involve either effecting or attempting to effect the sale of a franchise will be made only if we are first in compliance with state registration or notice filing requirements, or are covered by an applicable state exclusion or exemption. Such registration or filing does not constitute approval, recommendation, or endorsement by any state.</p>
            <div class='address'>
               <p>Sola Franchise, LLC</p>
               <p>300 Union Blvd., Suite 600,</p>
               <p>Denver, CO 80028</p>
               <p>MN Registration F-8475</p>
            </div>
         </div>
      </div>
   </div>
</footer>
<!--Footer End Here-->