@import 'variables';
@import 'mixins';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: asset-url('digital_directory_bg.gif');
  zoom: 0.67;
}

h1 {
  text-align: center;
  font-size: 68px;
  font-weight: bold;
  letter-spacing: 2px;

  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;

  text-shadow: 2px 2px 10px rgba(0,0,0,0.5);

  strong {
    font-family: "Dosis", sans-serif;
    color: #FEA700;
    text-transform: uppercase;
    border-bottom: 3px solid #FEA700;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }
}

h2 {
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  font-size: 29px;
  letter-spacing: 1px;
  color: #222;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  text-align: center;
}

#logo {
  position: absolute;
  top: 0;
  right: 0;
}

/* grid */

.container {
  position: relative;
  width: 95%;
  margin: 10px auto 0 auto;
}

.left-col, .right-col {
  position: absolute;
  top: 0;
  min-height: 200px;
}

.left-col {
  left: 0;
  width: 30%;
  margin-bottom: 30px;
}

.right-col {
  left: 30%;
  width: 70%;
  margin-bottom: 30px;
}

/* listings */

.listings {
  margin: 15px 0 5px 0;

  .half-col-left, .half-col-right {
    width: 46%;
    float: left;
    margin: 0 2%;
  }

  .listing {
    display: block;
    border: 2px solid #46413D;
    @include box-shadow(2px 2px 8px rgba(0,0,0,0.5));
    margin-bottom: 10px;
    height: 43px;
    position: relative;

    .number, .name {
      position: absolute;
      top: 0;
    }

    .number {
      left: 0;
      font-family: "Dosis", sans-serif;
      font-weight: bold;
      font-size: 24px;
      background: #46413D;
      color: #FFFFFF;
      height: 100%;
      padding: 8px 0 0 0;
      text-align: center;
      width: 40px;
      border-right: 2px solid #46413D;
    }

    .name {
      left: 40px;
      right: 0;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 13px;
      line-height: 16px;
      font-weight: normal;
      background: #FFFFFF;
      color: #333;
      height: 100%;
      padding: 6px 0 0 8px;
    }
  }
}

/* floorplan image */

.floorplan-image {
  text-align: center;
  margin: 60px auto 60px auto;
}

/* photo gallery */

.photo-gallery {
  position: relative;
  background: #FFF;
  border: 1px solid #000;
  padding: 15px;
  width: 1187px;
  height: 405px;
  margin: 0 auto;

  .photo {
    position: absolute;
    top: 15px;
    clear: none;
    padding: 0;
    margin: 0;
    width: 375px;
    height: 375px;
    background: #EFEFEF;

    &.first {
      left: 15px;
    }

    &.second {
      left: 405px;
    }

    &.third {
      left: 795px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}