@import 'variables';
@import 'bootstrap/mixins';

// .dz-preview {
//   display: none !important;
// }

.image-dropzone {
  display: block;
  clear: both;
  position: relative;
  margin: 20px auto;
  width: 100%;
  max-width: 350px;
  height: 350px;
  text-align: center;

  .image {
    display: inline-block !important;
    width: 100%;
    max-width: 350px;
    height: 350px; 
    position: relative;

    &.exists img {
      z-index: 9;
    }
  }

  a.action, a.action:link, a.action:visited, a.action:hover, a.action:active {
    position: relative;
    display: inline-block !important;
    width: 100%;
    max-width: 350px;
    height: 350px;
    border: 3px solid $brand-pink;
    background: #dee3e6 !important;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    margin: 0;
  }

  .action-camera-and-text {
    position: absolute;
    background: asset-data-url('upload_camera.png') no-repeat top center;
    background-size: 49px 41px !important;
    padding: 55px 0 0 0;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    margin: -41px 0 0 0;
  }

  img.dropzone-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 350px;
    height: 350px;
    border: 3px solid $brand-pink;
  }

  .loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.5);
    z-index: 9999999;

    .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -22px 0 0 -22px;
      background: asset-data-url('spinner.gif') no-repeat center;
      background-size: 44px 44px;
      width: 44px;
      height: 44px;
    }
  }  
}

.dropzone-image-preview, .dropzone-image-spinner {
  position: relative;
  padding: 18px 12px;
  font-size: 13px;
  font-weight: bold;
  color: $gray;
  background: $gray-lighter;
  height: 95px;

  img, .name, .ss-delete {
    position: absolute;
    top: 18px;
    z-index: 3;
  }

  img {
    left: 12px;
    height: 60px;
    width: 60px;

    &.spinner {
      height: 40px;
      width: 40px;
      top: 27px;
      left: 21px;
    }
  }

  .name {
    top: 50%;
    margin-top: -6.5px;
    left: 90px;
    width: calc(100% - 120px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
  }

  .progress {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background: $brand-primary;
    @include transition(width .3s ease, background-color .3s ease);

    &.processing {
      background: darken($brand-primary, 12%);
    }
  }

  .ss-delete {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -3px;
    display: block;
    font-size: 13px;
    color: #b4b4b4;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: $brand-primary;
    }
  }

  &.uploading {
    color: $brand-secondary;
  }
}