/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require normalize
 *= require skeleton
 *= require bootstrap
 *= require 'variables'
 *= require ss-social-regular
 *= require owl.carousel
 *= require owl.transitions
 *= require owl.theme
 *= require tooltipster
 *= require tooltipster-noir
 *= require tooltipster-hughes
 *= require swipebox
 *= require font-awesome
 *= require atc
 *= require modal
 *= require jquery.mCustomScrollbar
 *= require_tree ./public_website
 *= require_tree ./components
 *= require ImageDropzone
 *= require jssocials
 *= require jssocials-theme-flat
 *= require bootstrap-datepicker
 *= require aos
 *= require magnific-popup
 */

// .find-a-salon-professional-hero hr {

// 	width: 88%;
// 	max-width: 420px;
// 	margin: 25px auto 20px auto;
// }

@font-face {
  font-family: Chalet-ParisSixty;
  src: asset-url("Chalet-ParisSixty.otf") format("opentype");
}

@font-face {
  font-family: Chalet-LondonSixty;
  font-weight: bold;
  src: asset-url("Chalet-LondonSixty.otf") format("opentype");
}

a.skip-main {
  left:-999px;
  position:absolute;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
  color: #fff;
  background-color:#000;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow:auto;
  margin: 10px 35%;
  padding:5px;
  border-radius: 15px;
  border:4px solid yellow;
  text-align:center;
  font-size:1.2em;
  z-index:999;
}

.find-a-salon-professional-hero-next.find-a-salon-professional-hero-next-booknow .filterable-dropdown-search {
	margin-bottom: 0 !important;
}

.find-a-salon-professional-hero-next.owl-carousel .item .item-content h2.helvetica {
	border-top: 1px solid rgba(255,255,255,0.5);
	max-width: 100%;
	padding-top: 20px;
	margin-top: 25px !important;
}

@media (max-width: 767px) {
	.find-a-salon-professional-hero-next.find-a-salon-professional-hero-next-booknow.owl-carousel .item .item-content h2.helvetica {
		border-top: 1px solid rgba(255,255,255,0.5);
		max-width: 100%;
		padding-top: 20px;
		margin-top: 25px !important;
	}
}

@media (max-width: 550px) {
	.find-a-salon-professional-hero-next.find-a-salon-professional-hero-next-booknow .filterable-dropdown-search input.searchbox {
		max-width: initial;
	}
}

.vcenter {
    display: flex;
    align-items: center;
}
