@import 'variables';

.tooltipster-hughes {
  border-radius: 0px; 
  border: 0;
  background: #fff;
  color: #2c2c2c;
  max-width: 250px;
  // margin-top: -10px;
}

.tooltipster-hughes .tooltipster-content {
  font-size: 13px;
  line-height: 16px;
  padding: 30px;

  h3 {
    margin: 0 0 15px 0;
  }

  p {
    margin: 0;
  }
}

.tooltipster-hughes .tooltipster-arrow-top span {
  border-left: 20px solid transparent !important;
  border-right: 20px solid transparent !important;
  border-top: 20px solid;
  bottom: -19px;
}

.tooltipster-hughes .tooltipster-arrow-bottom span {
  border-left: 20px solid transparent !important;
  border-right: 20px solid transparent !important;
  border-bottom: 20px solid;
  top: -19px;
}