<p>Forgot your password? No problem. We can help with that.</p>

<p>To reset your password, please click the following link: <%= link_to "https://www.solasalonstudios.com/forgot-password/reset?key=#{@key}&username=#{@username}" %></p>