<div class="page-title"><strong><%= Date.today.strftime("%B %Y").upcase %> | solasalonstudios.com</strong></div>

<div class="grid">
  <div class="col-1-2">
    <div class="section">
      <div class="section-heading">Unique Visits</div>
      <div class="section-subhead">Visits + 1<sup><small>st</small></sup> Time Visitors</div>
    </div>
    <table class="tabular" cellpadding="0" cellspacing="0">
      <tr>
        <td class="value">134,797</td>
        <td class="label">People visited the site</td>
      </tr>
      <tr>
        <td class="value">122,348</td>
        <td class="label">First time visits to site</td>
      </tr>
      <tr>
        <td class="value">12,499</td>
        <td class="label">Return visits to site</td>
      </tr>
    </table>
  </div>
  <div class="col-1-2">
    <div class="section">
      <div class="section-heading">NEW VS. RETURNING</div>
      <div class="section-subhead">Who Came Back?</div>
    </div>
  </div>
</div>

<div class="grid">
  <div class="col-1-2">
    <div class="section">
      <div class="section-heading">Unique Visits</div>
      <div class="section-subhead">Visits + 1st Time Visitors</div>
    </div>
  </div>
  <div class="col-1-2">
    <div class="section">
      <div class="section-heading">NEW VS. RETURNING</div>
      <div class="section-subhead">Who Came Back?</div>
    </div>
  </div>
</div>