<div class="container">
  <div class="row">
    <h1>Locations in <%= params[:city] %></h1>
    <ul>
      <% @locations.each do |location| %>
        <li><%= link_to location.name, salon_location_path(location.state, location.city, location.url_name) %></li>
      <% end %>
    </ul>
  </div>
</div>