<div class="container content-container">

  <h1>Find a Sola Location</h1>

  <h3 class="subtle">Over 150 Salons</h3>

  <div class="row" id="map" style="height: 525px"></div>
</div>

<%= render 'shared/public_website/hidden_map_inputs' %>

<% content_for(:scripts) { javascript_include_tag('locations') } %>