<div class="container content-container">

  <div class="row">
    <div class="one-half column locations-hero">
        <h1>Find a Sola Location</h1>
        <h3 class="subtle">Over 150 Salons</h3>
    </div>

    <div class="one-half column text-right">

      <div class="sola-select">
        <div class="row">
          <div class="option-placeholder"><h3>Select a State</h3></div>
          <div class="arrow"><span class="ss-dropdown"></span></div>
        </div>
        <div class="options">
          <% @locations.select("DISTINCT(state)").order(:state => :asc).each do |location| %>
          <div class="option" data-value="<%= locations_by_state_path(location.state) %>"><%= location.state %></div>
          <% end %>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="location-breadcrumb">
  <div class="container">
    <%= link_to 'United States', :locations %>
  </div>
</div>

<div class="row" id="map"></div>
<div id="map-overlay"></div>

<%= render 'shared/public_website/hidden_map_inputs' %>

<% content_for(:scripts) { javascript_include_tag('locations') } %>
<% content_for(:scripts) { javascript_include_tag('locations_state_select') } %>